happensAt(travel(daniel,kitchen),1).
happensAt(go(X,bedroom),2):-holdsAt(coref(id2,X),2),arg1(X).
eventId(id2,1).
#example holdsAt(location(daniel,bedroom),3).
happensAt(move(john,kitchen),4).
happensAt(goback(X,bedroom),5):-holdsAt(coref(id5,X),5),arg1(X).
eventId(id5,4).
#example holdsAt(location(john,bedroom),6).
happensAt(goback(daniel,hallway),7).
happensAt(travel(X,garden),8):-holdsAt(coref(id8,X),8),arg1(X).
eventId(id8,7).
#example holdsAt(location(john,bedroom),9).
#example holdsAt(location(john,bedroom),6).
#example holdsAt(location(john,bedroom),7).
#example holdsAt(location(john,bedroom),8).
happensAt(journey(sandra,bathroom),10).
happensAt(go(X,garden),11):-holdsAt(coref(id11,X),11),arg1(X).
eventId(id11,10).
#example holdsAt(location(sandra,garden),12).
happensAt(goback(daniel,kitchen),13).
happensAt(goback(X,garden),14):-holdsAt(coref(id14,X),14),arg1(X).
eventId(id14,13).
#example holdsAt(location(sandra,garden),15).
#example holdsAt(location(sandra,garden),12).
#example holdsAt(location(sandra,garden),13).
#example holdsAt(location(sandra,garden),14).
