happensAt(goback(john,kitchen),1).
happensAt(goback(daniel,hallway),2).
happensAt(travel(sandra,kitchen),3).
happensAt(take(john,apple),4).
#example count(john,1,5).
#example not count(john,1,4).
#example count(john,1,5).
happensAt(go(daniel,bathroom),6).
happensAt(travel(mary,bedroom),7).
#example count(john,1,8).
#example not count(john,1,4).
#example count(john,1,5).
happensAt(hand(john,apple,sandra),9).
happensAt(pass(sandra,apple,john),10).
#example count(john,1,11).
#example not count(john,1,10).
#example count(john,1,11).
happensAt(pass(john,apple,sandra),12).
happensAt(give(sandra,apple,john),13).
#example count(sandra,0,14).
#example not count(sandra,0,13).
#example count(sandra,0,14).
happensAt(leave(john,apple),15).
happensAt(go(sandra,bedroom),16).
#example count(john,0,17).
#example not count(john,0,15).
#example count(john,0,16).
