happensAt(travel(daniel,bathroom),1).
happensAt(travel(john,kitchen),2).
happensAt(journey(sandra,kitchen),3).
happensAt(pickup(sandra,milk),4).
#example count(sandra,1,5).
#example not count(sandra,1,4).
#example count(sandra,1,5).
happensAt(get(mary,apple),6).
happensAt(give(sandra,milk,john),7).
#example count(sandra,0,8).
#example not count(sandra,0,7).
#example count(sandra,0,8).
happensAt(move(mary,kitchen),9).
happensAt(journey(sandra,bedroom),10).
#example count(sandra,0,11).
#example not count(sandra,0,7).
#example count(sandra,0,8).
happensAt(putdown(john,milk),12).
happensAt(putdown(mary,apple),13).
#example count(john,0,14).
#example not count(john,0,12).
#example count(john,0,13).
happensAt(grab(mary,milk),15).
happensAt(move(daniel,kitchen),16).
#example count(john,0,17).
#example not count(john,0,12).
#example count(john,0,13).
