happensAt(goback(sandra,garden),1).
happensAt(travel(mary,garden),2).
happensAt(goback(daniel,kitchen),3).
happensAt(pickup(john,milk),4).
#example count(john,1,5).
#example not count(john,1,4).
#example count(john,1,5).
happensAt(journey(john,office),6).
happensAt(goback(mary,kitchen),7).
#example count(john,1,8).
#example not count(john,1,4).
#example count(john,1,5).
happensAt(leave(john,milk),9).
happensAt(goback(daniel,hallway),10).
#example count(john,0,11).
#example not count(john,0,9).
#example count(john,0,10).
happensAt(take(john,apple),12).
happensAt(travel(mary,office),13).
#example count(john,1,14).
#example not count(john,1,12).
#example count(john,1,13).
happensAt(journey(mary,bedroom),15).
happensAt(goback(mary,garden),16).
#example count(john,1,17).
#example not count(john,1,12).
#example count(john,1,13).
