happensAt(move(daniel,hallway),1).
happensAt(move(daniel,bedroom),2).
happensAt(grab(sandra,milk),3).
happensAt(journey(mary,bathroom),4).
#example count(sandra,1,5).
#example not count(sandra,1,3).
#example count(sandra,1,4).
happensAt(journey(daniel,hallway),6).
happensAt(move(john,office),7).
#example count(sandra,1,8).
#example not count(sandra,1,3).
#example count(sandra,1,4).
happensAt(journey(john,kitchen),9).
happensAt(give(sandra,milk,john),10).
#example count(sandra,0,11).
#example not count(sandra,0,10).
#example count(sandra,0,11).
happensAt(travel(daniel,kitchen),12).
happensAt(go(sandra,hallway),13).
#example count(sandra,0,14).
#example not count(sandra,0,10).
#example count(sandra,0,11).
happensAt(leave(john,milk),15).
happensAt(journey(sandra,kitchen),16).
#example count(sandra,0,17).
#example not count(sandra,0,10).
#example count(sandra,0,11).
