happensAt(go(mary,bedroom),1).
happensAt(travel(john,office),2).
happensAt(move(john,hallway),3).
happensAt(goback(daniel,office),4).
happensAt(goback(john,garden),5).
happensAt(grab(sandra,football),6).
#example count(sandra,1,7).
#example not count(sandra,1,6).
#example count(sandra,1,7).
happensAt(journey(mary,kitchen),8).
happensAt(pickup(sandra,milk),9).
#example count(sandra,2,10).
#example not count(sandra,2,9).
#example count(sandra,2,10).
happensAt(pass(sandra,football,mary),11).
happensAt(discard(sandra,milk),12).
#example count(sandra,0,13).
#example not count(sandra,0,12).
#example count(sandra,0,13).
happensAt(get(sandra,milk),14).
happensAt(discard(mary,football),15).
#example count(sandra,1,16).
#example not count(sandra,1,14).
#example count(sandra,1,15).
happensAt(putdown(sandra,milk),17).
happensAt(get(mary,milk),18).
#example count(mary,1,19).
#example not count(mary,1,18).
#example count(mary,1,19).
