happensAt(goback(sandra,bedroom),1).
happensAt(go(john,kitchen),2).
happensAt(journey(sandra,kitchen),3).
happensAt(travel(mary,garden),4).
happensAt(move(daniel,bedroom),5).
happensAt(grab(mary,football),6).
#example count(mary,1,7).
#example not count(mary,1,6).
#example count(mary,1,7).
happensAt(go(sandra,bedroom),8).
happensAt(travel(daniel,hallway),9).
#example count(mary,1,10).
#example not count(mary,1,6).
#example count(mary,1,7).
happensAt(putdown(mary,football),11).
happensAt(move(sandra,bathroom),12).
#example count(mary,0,13).
#example not count(mary,0,11).
#example count(mary,0,12).
happensAt(travel(daniel,garden),14).
happensAt(move(mary,bathroom),15).
#example count(mary,0,16).
#example not count(mary,0,11).
#example count(mary,0,12).
happensAt(goback(daniel,bathroom),17).
happensAt(take(mary,apple),18).
#example count(mary,1,19).
#example not count(mary,1,18).
#example count(mary,1,19).
