happensAt(journey(mary,kitchen),1).
happensAt(travel(john,office),2).
happensAt(get(daniel,milk),3).
happensAt(hand(daniel,milk,sandra),4).
#example count(daniel,0,5).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(putdown(sandra,milk),6).
happensAt(journey(sandra,bathroom),7).
#example count(daniel,0,8).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(get(john,football),9).
happensAt(go(mary,bathroom),10).
#example count(sandra,0,11).
#example not count(sandra,0,6).
#example count(sandra,0,7).
happensAt(travel(sandra,bedroom),12).
happensAt(travel(sandra,hallway),13).
#example count(john,1,14).
#example not count(john,1,9).
#example count(john,1,10).
happensAt(travel(mary,bedroom),15).
happensAt(move(daniel,bedroom),16).
happensAt(pickup(mary,apple),17).
happensAt(move(john,bathroom),18).
#example count(mary,1,19).
#example not count(mary,1,17).
#example count(mary,1,18).
