happensAt(move(john,garden),1).
happensAt(journey(mary,kitchen),2).
happensAt(travel(daniel,bathroom),3).
happensAt(goback(sandra,kitchen),4).
happensAt(move(sandra,hallway),5).
happensAt(move(sandra,bedroom),6).
happensAt(move(john,hallway),7).
happensAt(take(daniel,milk),8).
#example count(daniel,1,9).
#example not count(daniel,1,8).
#example count(daniel,1,9).
happensAt(take(sandra,football),10).
happensAt(move(john,bedroom),11).
#example count(sandra,1,12).
#example not count(sandra,1,10).
#example count(sandra,1,11).
happensAt(pass(sandra,football,john),13).
happensAt(move(sandra,garden),14).
#example count(sandra,0,15).
#example not count(sandra,0,13).
#example count(sandra,0,14).
happensAt(journey(sandra,kitchen),16).
happensAt(move(john,bathroom),17).
#example count(sandra,0,18).
#example not count(sandra,0,13).
#example count(sandra,0,14).
happensAt(pass(john,football,daniel),19).
happensAt(give(daniel,football,john),20).
#example count(daniel,1,21).
#example not count(daniel,1,20).
#example count(daniel,1,21).
