happensAt(journey(daniel,bedroom),1).
happensAt(goback(sandra,bathroom),2).
happensAt(goback(sandra,bedroom),3).
happensAt(travel(mary,bathroom),4).
happensAt(move(john,hallway),5).
happensAt(get(mary,apple),6).
#example count(mary,1,7).
#example not count(mary,1,6).
#example count(mary,1,7).
happensAt(goback(sandra,kitchen),8).
happensAt(goback(mary,office),9).
#example count(mary,1,10).
#example not count(mary,1,6).
#example count(mary,1,7).
happensAt(putdown(mary,apple),11).
happensAt(move(john,bedroom),12).
#example count(mary,0,13).
#example not count(mary,0,11).
#example count(mary,0,12).
happensAt(move(john,kitchen),14).
happensAt(travel(john,bedroom),15).
#example count(mary,0,16).
#example not count(mary,0,11).
#example count(mary,0,12).
happensAt(move(mary,hallway),17).
happensAt(travel(sandra,garden),18).
happensAt(move(sandra,kitchen),19).
happensAt(move(john,garden),20).
happensAt(take(mary,football),21).
happensAt(journey(mary,office),22).
#example count(mary,1,23).
#example not count(mary,1,21).
#example count(mary,1,22).
