happensAt(move(mary,kitchen),1).
happensAt(travel(sandra,hallway),2).
happensAt(journey(daniel,bathroom),3).
happensAt(move(john,hallway),4).
happensAt(goback(john,garden),5).
happensAt(travel(mary,bathroom),6).
happensAt(move(john,bathroom),7).
happensAt(journey(john,garden),8).
happensAt(go(daniel,kitchen),9).
happensAt(move(sandra,garden),10).
happensAt(move(mary,bedroom),11).
happensAt(journey(sandra,bedroom),12).
happensAt(move(daniel,garden),13).
happensAt(goback(sandra,garden),14).
happensAt(go(daniel,hallway),15).
happensAt(move(daniel,bathroom),16).
happensAt(move(sandra,bedroom),17).
happensAt(journey(daniel,hallway),18).
happensAt(move(sandra,bathroom),19).
happensAt(go(daniel,bedroom),20).
happensAt(travel(mary,hallway),21).
happensAt(journey(sandra,office),22).
happensAt(move(john,kitchen),23).
happensAt(travel(sandra,garden),24).
happensAt(goback(mary,garden),25).
happensAt(goback(daniel,bathroom),26).
happensAt(travel(sandra,office),27).
happensAt(grab(sandra,milk),28).
#example count(sandra,1,29).
#example not count(sandra,1,28).
#example count(sandra,1,29).
happensAt(take(sandra,football),30).
happensAt(journey(john,hallway),31).
#example count(sandra,2,32).
#example not count(sandra,2,30).
#example count(sandra,2,31).
happensAt(journey(sandra,bathroom),33).
happensAt(pass(sandra,football,daniel),34).
#example count(sandra,1,35).
#example not count(sandra,1,34).
#example count(sandra,1,35).
happensAt(putdown(daniel,football),36).
happensAt(pass(sandra,milk,daniel),37).
#example count(sandra,0,38).
#example not count(sandra,0,37).
#example count(sandra,0,38).
happensAt(putdown(daniel,milk),39).
happensAt(take(daniel,football),40).
#example count(daniel,1,41).
#example not count(daniel,1,40).
#example count(daniel,1,41).
