happensAt(grab(sandra,football),1).
happensAt(hand(sandra,football,daniel),2).
#example count(sandra,0,3).
#example not count(sandra,0,2).
#example count(sandra,0,3).
happensAt(give(daniel,football,sandra),4).
happensAt(pass(sandra,football,daniel),5).
#example count(daniel,1,6).
#example not count(daniel,1,5).
#example count(daniel,1,6).
happensAt(hand(daniel,football,sandra),7).
happensAt(go(sandra,bathroom),8).
#example count(sandra,1,9).
#example not count(sandra,1,7).
#example count(sandra,1,8).
happensAt(putdown(sandra,football),10).
happensAt(go(daniel,garden),11).
#example count(sandra,0,12).
#example not count(sandra,0,10).
#example count(sandra,0,11).
happensAt(move(mary,kitchen),13).
happensAt(goback(daniel,bathroom),14).
#example count(sandra,0,15).
#example not count(sandra,0,10).
#example count(sandra,0,11).
