happensAt(goback(daniel,bathroom),1).
happensAt(grab(john,apple),2).
#example count(john,1,3).
#example not count(john,1,2).
#example count(john,1,3).
happensAt(go(mary,hallway),4).
happensAt(travel(john,kitchen),5).
#example count(john,1,6).
#example not count(john,1,2).
#example count(john,1,3).
happensAt(goback(daniel,office),7).
happensAt(journey(daniel,garden),8).
#example count(john,1,9).
#example not count(john,1,2).
#example count(john,1,3).
happensAt(take(daniel,milk),10).
happensAt(pass(daniel,milk,sandra),11).
#example count(daniel,0,12).
#example not count(daniel,0,11).
#example count(daniel,0,12).
happensAt(grab(mary,football),13).
happensAt(give(sandra,milk,daniel),14).
#example count(mary,1,15).
#example not count(mary,1,13).
#example count(mary,1,14).
