happensAt(move(daniel,office),1).
happensAt(go(daniel,garden),2).
happensAt(get(john,football),3).
happensAt(pass(john,football,sandra),4).
#example count(john,0,5).
#example not count(john,0,4).
#example count(john,0,5).
happensAt(goback(mary,kitchen),6).
happensAt(goback(daniel,bathroom),7).
#example count(john,0,8).
#example not count(john,0,4).
#example count(john,0,5).
happensAt(pass(sandra,football,john),9).
happensAt(discard(john,football),10).
#example count(john,0,11).
#example not count(john,0,10).
#example count(john,0,11).
happensAt(travel(john,bathroom),12).
happensAt(travel(john,office),13).
#example count(sandra,0,14).
#example not count(sandra,0,9).
#example count(sandra,0,10).
happensAt(take(daniel,milk),15).
happensAt(take(sandra,football),16).
#example count(john,0,17).
#example not count(john,0,10).
#example count(john,0,11).
