observed(relativeposition(hallway,bedroom,west),1).
observed(relativeposition(garden,kitchen,east),1).
observed(relativeposition(bathroom,kitchen,north),1).
observed(relativeposition(office,bedroom,east),1).
observed(relativeposition(bedroom,bathroom,north),1).
holdsAt(location(you,kitchen),6).
#example not holdsAt(location(you,bedroom),6).
happensAt(mt(you,north),6).
happensAt(mt(you,north),7).
#example holdsAt(location(you,bedroom),8).
#example holdsAt(location(you,bedroom),9).
atleastone(T):-holdsAt(location(you,X),T),time(T).
:-not atleastone(T),time(T),T>5,T<9.
:-holdsAt(location(you,X),T),holdsAt(location(you,Y),T),X!=Y,arg2(X),arg2(Y),T>5,T<9,time(T).
:-holdsAt(location(you,X),T),holdsAt(location(you,X),T+1),arg2(X),time(T),T>5,T<8,time(T).
time(1..11).
