happensAt(move(jeff,hallway),1).
happensAt(get(jeff,apple),2).
happensAt(move(mary,kitchen),3).
happensAt(leave(jeff,apple),4).
happensAt(travel(mary,bathroom),5).
happensAt(travel(fred,garden),6).
happensAt(travel(fred,hallway),7).
happensAt(grab(mary,football),8).
happensAt(pickup(fred,apple),9).
happensAt(travel(mary,kitchen),10).
happensAt(discard(fred,apple),11).
happensAt(take(fred,apple),12).
happensAt(give(fred,apple,jeff),13).
happensAt(leave(jeff,apple),14).
#example holdsAt(frecgive(fred,apple,jeff),15).
:- not initiatedAt(frecgive(fred,apple,jeff),13).

happensAt(discard(mary,football),16).
happensAt(pickup(mary,football),17).
#example holdsAt(fsubjgive(fred,apple,jeff),18).
:- not initiatedAt(fsubjgive(fred,apple,jeff),13).

happensAt(get(fred,apple),19).
happensAt(goback(fred,office),20).
happensAt(journey(fred,hallway),21).
happensAt(pass(fred,apple,jeff),22).
#example holdsAt(frecgive(fred,apple,jeff),23).
:- not initiatedAt(frecgive(fred,apple,jeff),22).

happensAt(go(fred,office),24).
happensAt(travel(jeff,office),25).
#example holdsAt(frecgive(fred,apple,jeff),26).
:- not initiatedAt(frecgive(fred,apple,jeff),22).

happensAt(take(fred,milk),27).
happensAt(leave(fred,milk),28).
#example holdsAt(fgive(fred,apple),29).
:- not initiatedAt(fgive(fred,apple),22).

