happensAt(get(bill,football),1).
happensAt(travel(jeff,garden),2).
happensAt(drop(bill,football),3).
happensAt(travel(mary,bathroom),4).
happensAt(move(mary,kitchen),5).
happensAt(grab(mary,football),6).
happensAt(pass(mary,football,bill),7).
happensAt(hand(bill,football,mary),8).
#example holdsAt(fobjgive(bill,football,mary),9).
:- not initiatedAt(fobjgive(bill,football,mary),8).

happensAt(pass(mary,football,bill),10).
happensAt(journey(fred,bedroom),11).
#example holdsAt(fobjgive(mary,football,bill),12).
:- not initiatedAt(fobjgive(mary,football,bill),10).

happensAt(pass(bill,football,mary),13).
happensAt(goback(bill,garden),14).
#example holdsAt(fgive(bill,football),15).
:- not initiatedAt(fgive(bill,football),13).

happensAt(journey(mary,garden),16).
happensAt(goback(mary,bedroom),17).
#example holdsAt(fobjgive(bill,football,mary),18).
:- not initiatedAt(fobjgive(bill,football,mary),13).

happensAt(leave(mary,football),19).
happensAt(journey(bill,bathroom),20).
happensAt(pickup(bill,apple),21).
happensAt(goback(bill,office),22).
happensAt(move(mary,hallway),23).
happensAt(journey(mary,bathroom),24).
happensAt(discard(bill,apple),25).
happensAt(take(bill,apple),26).
happensAt(move(jeff,hallway),27).
happensAt(grab(fred,milk),28).
happensAt(go(fred,hallway),29).
happensAt(hand(fred,milk,jeff),30).
#example holdsAt(fobjgive(fred,milk,jeff),31).
:- not initiatedAt(fobjgive(fred,milk,jeff),30).

