happensAt(goback(bill,bedroom),1).
happensAt(move(bill,office),2).
happensAt(travel(fred,bedroom),3).
happensAt(grab(bill,apple),4).
happensAt(go(mary,bedroom),5).
happensAt(drop(bill,apple),6).
happensAt(move(mary,bathroom),7).
happensAt(get(bill,apple),8).
happensAt(goback(mary,garden),9).
happensAt(discard(bill,apple),10).
happensAt(take(bill,apple),11).
happensAt(pickup(mary,milk),12).
happensAt(travel(jeff,bathroom),13).
happensAt(drop(bill,apple),14).
happensAt(pickup(bill,apple),15).
happensAt(leave(mary,milk),16).
happensAt(take(mary,milk),17).
happensAt(pickup(jeff,football),18).
happensAt(journey(jeff,garden),19).
happensAt(give(jeff,football,mary),20).
#example holdsAt(fobjgive(jeff,football,mary),21).
:- not initiatedAt(fobjgive(jeff,football,mary),20).

happensAt(give(mary,football,jeff),22).
happensAt(pass(jeff,football,mary),23).
#example holdsAt(freceive(mary,football),24).
:- not initiatedAt(freceive(mary,football),23).

happensAt(pass(mary,football,jeff),25).
happensAt(give(jeff,football,mary),26).
#example holdsAt(fobjgive(jeff,football,mary),27).
:- not initiatedAt(fobjgive(jeff,football,mary),26).

happensAt(give(mary,football,jeff),28).
happensAt(putdown(mary,milk),29).
#example holdsAt(fobjgive(mary,football,jeff),30).
:- not initiatedAt(fobjgive(mary,football,jeff),28).

happensAt(pass(jeff,football,mary),31).
happensAt(give(mary,football,jeff),32).
#example holdsAt(fobjgive(mary,football,jeff),33).
:- not initiatedAt(fobjgive(mary,football,jeff),32).

