happensAt(journey(jeff,garden),1).
happensAt(goback(bill,kitchen),2).
happensAt(travel(bill,bedroom),3).
happensAt(go(bill,office),4).
happensAt(go(mary,kitchen),5).
happensAt(move(mary,bathroom),6).
happensAt(goback(jeff,office),7).
happensAt(travel(jeff,bedroom),8).
happensAt(get(jeff,football),9).
happensAt(grab(jeff,milk),10).
happensAt(goback(jeff,office),11).
happensAt(pass(jeff,football,bill),12).
#example holdsAt(frecgive(jeff,football,bill),13).
:- not initiatedAt(frecgive(jeff,football,bill),12).

happensAt(give(bill,football,jeff),14).
happensAt(grab(mary,apple),15).
#example holdsAt(fobjgive(bill,football,jeff),16).
:- not initiatedAt(fobjgive(bill,football,jeff),14).

happensAt(putdown(mary,apple),17).
happensAt(goback(bill,hallway),18).
#example holdsAt(freceive(jeff,football),19).
:- not initiatedAt(freceive(jeff,football),14).

happensAt(goback(fred,garden),20).
happensAt(pickup(mary,apple),21).
happensAt(putdown(mary,apple),22).
happensAt(discard(jeff,milk),23).
happensAt(get(mary,apple),24).
happensAt(travel(bill,office),25).
happensAt(travel(fred,hallway),26).
happensAt(move(jeff,garden),27).
happensAt(goback(bill,bathroom),28).
happensAt(give(mary,apple,bill),29).
#example holdsAt(fobjgive(mary,apple,bill),30).
:- not initiatedAt(fobjgive(mary,apple,bill),29).

happensAt(pass(bill,apple,mary),31).
happensAt(give(mary,apple,bill),32).
#example holdsAt(fgive(mary,apple),33).
:- not initiatedAt(fgive(mary,apple),32).

