happensAt(travel(mary,bedroom),1).
happensAt(move(bill,bedroom),2).
happensAt(take(bill,football),3).
happensAt(travel(fred,kitchen),4).
happensAt(pass(bill,football,mary),5).
happensAt(putdown(mary,football),6).
#example holdsAt(fobjgive(bill,football,mary),7).
:- not initiatedAt(fobjgive(bill,football,mary),5).

happensAt(travel(bill,garden),8).
happensAt(travel(bill,bathroom),9).
#example holdsAt(fsubjgive(bill,football,mary),10).
:- not initiatedAt(fsubjgive(bill,football,mary),5).

happensAt(take(bill,milk),11).
happensAt(journey(bill,kitchen),12).
happensAt(discard(bill,milk),13).
happensAt(journey(mary,hallway),14).
happensAt(move(bill,garden),15).
happensAt(move(mary,office),16).
happensAt(goback(jeff,bedroom),17).
happensAt(move(fred,garden),18).
happensAt(go(bill,office),19).
happensAt(take(jeff,football),20).
happensAt(travel(mary,kitchen),21).
happensAt(travel(jeff,kitchen),22).
happensAt(leave(jeff,football),23).
happensAt(grab(jeff,football),24).
happensAt(drop(jeff,football),25).
happensAt(move(fred,office),26).
happensAt(get(mary,milk),27).
happensAt(journey(mary,bedroom),28).
happensAt(move(bill,bedroom),29).
happensAt(hand(mary,milk,bill),30).
#example holdsAt(freceive(bill,milk),31).
:- not initiatedAt(freceive(bill,milk),30).

happensAt(pass(bill,milk,mary),32).
happensAt(hand(mary,milk,bill),33).
#example holdsAt(fobjgive(mary,milk,bill),34).
:- not initiatedAt(fobjgive(mary,milk,bill),33).

happensAt(putdown(bill,milk),35).
happensAt(take(mary,milk),36).
#example holdsAt(frecgive(mary,milk,bill),37).
:- not initiatedAt(frecgive(mary,milk,bill),33).

