happensAt(go(jeff,bedroom),1).
happensAt(goback(fred,garden),2).
happensAt(goback(jeff,office),3).
happensAt(goback(fred,hallway),4).
happensAt(journey(jeff,bathroom),5).
happensAt(journey(bill,bathroom),6).
happensAt(get(jeff,football),7).
happensAt(drop(jeff,football),8).
happensAt(journey(fred,bathroom),9).
happensAt(take(jeff,apple),10).
happensAt(hand(jeff,apple,fred),11).
happensAt(give(fred,apple,bill),12).
#example holdsAt(fsubjgive(fred,apple,bill),13).
:- not initiatedAt(fsubjgive(fred,apple,bill),12).

happensAt(grab(jeff,football),14).
happensAt(hand(bill,apple,fred),15).
#example holdsAt(freceive(fred,apple),16).
:- not initiatedAt(freceive(fred,apple),15).

happensAt(hand(fred,apple,bill),17).
happensAt(journey(bill,hallway),18).
#example holdsAt(freceive(bill,apple),19).
 #example not holdsAt(freceive(fred,apple),19).
:- not initiatedAt(freceive(bill,apple),17).

happensAt(journey(fred,bedroom),20).
happensAt(go(jeff,garden),21).
#example holdsAt(fgive(fred,apple),22).
:- not initiatedAt(fgive(fred,apple),17).

happensAt(drop(bill,apple),23).
happensAt(journey(bill,office),24).
happensAt(leave(jeff,football),25).
happensAt(grab(jeff,football),26).
happensAt(travel(jeff,bathroom),27).
happensAt(travel(fred,kitchen),28).
happensAt(go(fred,bedroom),29).
happensAt(go(jeff,kitchen),30).
happensAt(move(fred,office),31).
happensAt(move(bill,bedroom),32).
happensAt(go(bill,bathroom),33).
happensAt(goback(mary,office),34).
happensAt(go(mary,bathroom),35).
happensAt(go(jeff,office),36).
happensAt(give(jeff,football,fred),37).
happensAt(hand(fred,football,jeff),38).
#example holdsAt(fgive(fred,football),39).
:- not initiatedAt(fgive(fred,football),38).

