happensAt(go(mary,garden),1).
happensAt(goback(bill,office),2).
happensAt(go(fred,garden),3).
happensAt(grab(fred,milk),4).
happensAt(leave(fred,milk),5).
happensAt(go(bill,hallway),6).
happensAt(grab(bill,football),7).
happensAt(get(fred,milk),8).
happensAt(leave(bill,football),9).
happensAt(discard(fred,milk),10).
happensAt(take(fred,milk),11).
happensAt(leave(fred,milk),12).
happensAt(goback(fred,office),13).
happensAt(take(mary,milk),14).
happensAt(putdown(mary,milk),15).
happensAt(travel(fred,bedroom),16).
happensAt(move(jeff,kitchen),17).
happensAt(move(bill,bedroom),18).
happensAt(pickup(mary,milk),19).
happensAt(journey(jeff,garden),20).
happensAt(goback(jeff,office),21).
happensAt(goback(jeff,bathroom),22).
happensAt(journey(mary,bathroom),23).
happensAt(hand(mary,milk,jeff),24).
#example holdsAt(fsubjgive(mary,milk,jeff),25).
:- not initiatedAt(fsubjgive(mary,milk,jeff),24).

happensAt(discard(jeff,milk),26).
happensAt(journey(jeff,kitchen),27).
#example holdsAt(frecgive(mary,milk,jeff),28).
:- not initiatedAt(frecgive(mary,milk,jeff),24).

happensAt(goback(fred,office),29).
happensAt(grab(mary,milk),30).
#example holdsAt(fsubjgive(mary,milk,jeff),31).
:- not initiatedAt(fsubjgive(mary,milk,jeff),24).

happensAt(go(mary,office),32).
happensAt(move(bill,garden),33).
happensAt(pass(mary,milk,fred),34).
happensAt(goback(fred,bathroom),35).
#example holdsAt(fgive(mary,milk),36).
:- not initiatedAt(fgive(mary,milk),34).

happensAt(discard(fred,milk),37).
happensAt(grab(fred,milk),38).
#example holdsAt(freceive(fred,milk),39).
:- not initiatedAt(freceive(fred,milk),34).

