happensAt(move(mary,bedroom),1).
happensAt(goback(mary,garden),2).
happensAt(get(mary,milk),3).
happensAt(travel(mary,hallway),4).
happensAt(pickup(mary,football),5).
happensAt(take(mary,apple),6).
happensAt(go(bill,garden),7).
happensAt(travel(jeff,bathroom),8).
happensAt(move(jeff,office),9).
happensAt(move(fred,office),10).
happensAt(goback(mary,garden),11).
happensAt(move(mary,bathroom),12).
happensAt(go(bill,kitchen),13).
happensAt(travel(mary,bedroom),14).
happensAt(discard(mary,apple),15).
happensAt(goback(bill,bathroom),16).
happensAt(move(bill,bedroom),17).
happensAt(journey(fred,kitchen),18).
happensAt(give(mary,football,bill),19).
happensAt(drop(mary,milk),20).
#example holdsAt(frecgive(mary,football,bill),21).
:- not initiatedAt(frecgive(mary,football,bill),19).

happensAt(goback(fred,garden),22).
happensAt(travel(bill,hallway),23).
#example holdsAt(fobjgive(mary,football,bill),24).
:- not initiatedAt(fobjgive(mary,football,bill),19).

happensAt(move(bill,bathroom),25).
happensAt(leave(bill,football),26).
happensAt(goback(fred,office),27).
happensAt(goback(mary,bathroom),28).
happensAt(pickup(bill,football),29).
happensAt(discard(bill,football),30).
happensAt(go(fred,garden),31).
happensAt(get(mary,football),32).
happensAt(hand(mary,football,bill),33).
happensAt(hand(bill,football,mary),34).
#example holdsAt(frecgive(bill,football,mary),35).
:- not initiatedAt(frecgive(bill,football,mary),34).

happensAt(journey(fred,kitchen),36).
happensAt(give(mary,football,bill),37).
#example holdsAt(fobjgive(mary,football,bill),38).
:- not initiatedAt(fobjgive(mary,football,bill),37).

happensAt(goback(fred,hallway),39).
happensAt(give(bill,football,mary),40).
#example holdsAt(fsubjgive(bill,football,mary),41).
:- not initiatedAt(fsubjgive(bill,football,mary),40).

