happensAt(go(fred,office),1).
happensAt(move(jeff,kitchen),2).
happensAt(travel(mary,hallway),3).
happensAt(goback(jeff,garden),4).
happensAt(take(jeff,football),5).
happensAt(goback(bill,bedroom),6).
happensAt(journey(fred,bedroom),7).
happensAt(journey(mary,bathroom),8).
happensAt(putdown(jeff,football),9).
happensAt(go(jeff,bathroom),10).
happensAt(go(fred,hallway),11).
happensAt(take(mary,milk),12).
happensAt(drop(mary,milk),13).
happensAt(travel(bill,kitchen),14).
happensAt(move(jeff,kitchen),15).
happensAt(journey(jeff,office),16).
happensAt(travel(mary,office),17).
happensAt(move(bill,office),18).
happensAt(goback(fred,office),19).
happensAt(go(fred,bedroom),20).
happensAt(travel(fred,kitchen),21).
happensAt(go(bill,garden),22).
happensAt(journey(fred,bedroom),23).
happensAt(travel(mary,bathroom),24).
happensAt(pickup(bill,football),25).
happensAt(go(jeff,garden),26).
happensAt(give(bill,football,jeff),27).
happensAt(travel(jeff,hallway),28).
#example holdsAt(freceive(jeff,football),29).
:- not initiatedAt(freceive(jeff,football),27).

happensAt(pickup(mary,apple),30).
happensAt(grab(mary,milk),31).
#example holdsAt(fsubjgive(bill,football,jeff),32).
:- not initiatedAt(fsubjgive(bill,football,jeff),27).

happensAt(goback(mary,bedroom),33).
happensAt(travel(jeff,bedroom),34).
happensAt(give(mary,apple,fred),35).
happensAt(journey(jeff,kitchen),36).
#example holdsAt(fobjgive(mary,apple,fred),37).
:- not initiatedAt(fobjgive(mary,apple,fred),35).

happensAt(hand(fred,apple,mary),38).
happensAt(journey(bill,office),39).
#example holdsAt(fobjgive(fred,apple,mary),40).
:- not initiatedAt(fobjgive(fred,apple,mary),38).

happensAt(give(mary,apple,fred),41).
happensAt(hand(fred,apple,mary),42).
#example holdsAt(freceive(mary,apple),43).
:- not initiatedAt(freceive(mary,apple),42).

