happensAt(go(jeff,hallway),1).
happensAt(goback(mary,garden),2).
happensAt(travel(fred,kitchen),3).
happensAt(grab(jeff,milk),4).
happensAt(goback(mary,bedroom),5).
happensAt(go(bill,hallway),6).
happensAt(move(jeff,garden),7).
happensAt(drop(jeff,milk),8).
happensAt(grab(fred,apple),9).
happensAt(get(jeff,milk),10).
happensAt(leave(jeff,milk),11).
happensAt(go(mary,hallway),12).
happensAt(move(jeff,office),13).
happensAt(travel(bill,office),14).
happensAt(drop(fred,apple),15).
happensAt(grab(fred,apple),16).
happensAt(go(jeff,kitchen),17).
happensAt(leave(fred,apple),18).
happensAt(goback(jeff,office),19).
happensAt(get(fred,apple),20).
happensAt(go(fred,garden),21).
happensAt(journey(fred,kitchen),22).
happensAt(travel(mary,bathroom),23).
happensAt(discard(fred,apple),24).
happensAt(journey(bill,hallway),25).
happensAt(journey(mary,office),26).
happensAt(go(fred,office),27).
happensAt(journey(jeff,bedroom),28).
happensAt(journey(mary,bedroom),29).
happensAt(journey(mary,office),30).
happensAt(move(mary,bedroom),31).
happensAt(move(fred,kitchen),32).
happensAt(journey(mary,office),33).
happensAt(travel(bill,garden),34).
happensAt(travel(mary,garden),35).
happensAt(journey(fred,garden),36).
happensAt(grab(mary,milk),37).
happensAt(hand(mary,milk,fred),38).
#example holdsAt(fobjgive(mary,milk,fred),39).
:- not initiatedAt(fobjgive(mary,milk,fred),38).

happensAt(journey(fred,bedroom),40).
happensAt(journey(mary,office),41).
#example holdsAt(fobjgive(mary,milk,fred),42).
:- not initiatedAt(fobjgive(mary,milk,fred),38).

happensAt(journey(jeff,office),43).
happensAt(journey(mary,bedroom),44).
#example holdsAt(fgive(mary,milk),45).
:- not initiatedAt(fgive(mary,milk),38).

happensAt(go(jeff,hallway),46).
happensAt(hand(fred,milk,mary),47).
#example holdsAt(frecgive(fred,milk,mary),48).
:- not initiatedAt(frecgive(fred,milk,mary),47).

happensAt(give(mary,milk,fred),49).
happensAt(give(fred,milk,mary),50).
#example holdsAt(frecgive(fred,milk,mary),51).
:- not initiatedAt(frecgive(fred,milk,mary),50).

