happensAt(travel(mary,kitchen),1).
happensAt(go(mary,office),2).
happensAt(take(jeff,apple),3).
happensAt(get(mary,milk),4).
happensAt(go(bill,office),5).
happensAt(give(mary,milk,bill),6).
#example holdsAt(frecgive(mary,milk,bill),7).
:- not initiatedAt(frecgive(mary,milk,bill),6).

happensAt(leave(bill,milk),8).
happensAt(drop(jeff,apple),9).
#example holdsAt(fobjgive(mary,milk,bill),10).
:- not initiatedAt(fobjgive(mary,milk,bill),6).

happensAt(grab(bill,milk),11).
happensAt(travel(fred,bathroom),12).
#example holdsAt(fobjgive(mary,milk,bill),13).
:- not initiatedAt(fobjgive(mary,milk,bill),6).

happensAt(give(bill,milk,mary),14).
happensAt(hand(mary,milk,bill),15).
#example holdsAt(fgive(mary,milk),16).
:- not initiatedAt(fgive(mary,milk),15).

happensAt(take(jeff,apple),17).
happensAt(go(mary,garden),18).
#example holdsAt(fobjgive(mary,milk,bill),19).
:- not initiatedAt(fobjgive(mary,milk,bill),15).

