happensAt(pickup(mary,milk),1).
happensAt(go(jeff,office),2).
happensAt(leave(mary,milk),3).
happensAt(go(mary,kitchen),4).
happensAt(travel(jeff,hallway),5).
happensAt(get(fred,football),6).
happensAt(give(fred,football,bill),7).
happensAt(hand(bill,football,fred),8).
#example holdsAt(fsubjgive(bill,football,fred),9).
:- not initiatedAt(fsubjgive(bill,football,fred),8).

happensAt(pass(fred,football,bill),10).
happensAt(give(bill,football,fred),11).
#example holdsAt(fobjgive(bill,football,fred),12).
:- not initiatedAt(fobjgive(bill,football,fred),11).

happensAt(hand(fred,football,bill),13).
happensAt(journey(jeff,office),14).
#example holdsAt(fobjgive(fred,football,bill),15).
:- not initiatedAt(fobjgive(fred,football,bill),13).

happensAt(discard(bill,football),16).
happensAt(get(bill,football),17).
#example holdsAt(fobjgive(fred,football,bill),18).
:- not initiatedAt(fobjgive(fred,football,bill),13).

happensAt(hand(bill,football,fred),19).
happensAt(journey(bill,bathroom),20).
#example holdsAt(fobjgive(bill,football,fred),21).
:- not initiatedAt(fobjgive(bill,football,fred),19).

