happensAt(goback(fred,hallway),1).
happensAt(travel(bill,bathroom),2).
happensAt(grab(fred,apple),3).
happensAt(go(mary,kitchen),4).
happensAt(goback(bill,office),5).
happensAt(grab(fred,milk),6).
happensAt(goback(mary,hallway),7).
happensAt(journey(bill,hallway),8).
happensAt(move(jeff,bathroom),9).
happensAt(hand(fred,apple,mary),10).
#example holdsAt(fgive(fred,apple),11).
:- not initiatedAt(fgive(fred,apple),10).

happensAt(pass(mary,apple,fred),12).
happensAt(move(fred,kitchen),13).
#example holdsAt(fgive(mary,apple),14).
 #example not holdsAt(fgive(fred,apple),14).
:- not initiatedAt(fgive(mary,apple),12).

happensAt(move(fred,garden),15).
happensAt(move(fred,hallway),16).
#example holdsAt(fgive(mary,apple),17).
 #example not holdsAt(fgive(fred,apple),17).
:- not initiatedAt(fgive(mary,apple),12).

happensAt(hand(fred,apple,mary),18).
happensAt(putdown(mary,apple),19).
#example holdsAt(frecgive(fred,apple,mary),20).
:- not initiatedAt(frecgive(fred,apple,mary),18).

happensAt(travel(jeff,bedroom),21).
happensAt(give(fred,milk,mary),22).
#example holdsAt(fgive(fred,milk),23).
:- not initiatedAt(fgive(fred,milk),22).

