happensAt(move(jeff,hallway),1).
happensAt(grab(jeff,apple),2).
happensAt(go(jeff,bathroom),3).
happensAt(go(mary,kitchen),4).
happensAt(go(jeff,bedroom),5).
happensAt(go(bill,garden),6).
happensAt(travel(mary,hallway),7).
happensAt(move(mary,office),8).
happensAt(journey(jeff,garden),9).
happensAt(leave(jeff,apple),10).
happensAt(take(bill,apple),11).
happensAt(give(bill,apple,fred),12).
#example holdsAt(freceive(fred,apple),13).
:- not initiatedAt(freceive(fred,apple),12).

happensAt(move(bill,bathroom),14).
happensAt(hand(fred,apple,jeff),15).
#example holdsAt(freceive(jeff,apple),16).
 #example not holdsAt(freceive(fred,apple),16).
:- not initiatedAt(freceive(jeff,apple),15).

happensAt(travel(bill,hallway),17).
happensAt(go(mary,bathroom),18).
#example holdsAt(fgive(fred,apple),19).
:- not initiatedAt(fgive(fred,apple),15).

happensAt(get(bill,milk),20).
happensAt(pass(jeff,apple,fred),21).
#example holdsAt(freceive(fred,apple),22).
:- not initiatedAt(freceive(fred,apple),21).

happensAt(putdown(bill,milk),23).
happensAt(get(bill,milk),24).
#example holdsAt(fobjgive(jeff,apple,fred),25).
:- not initiatedAt(fobjgive(jeff,apple,fred),21).

