happensAt(move(bill,office),1).
happensAt(travel(mary,bathroom),2).
happensAt(get(mary,football),3).
happensAt(travel(fred,bedroom),4).
happensAt(pickup(fred,apple),5).
happensAt(travel(mary,bedroom),6).
happensAt(travel(bill,hallway),7).
happensAt(journey(mary,office),8).
happensAt(goback(mary,bedroom),9).
happensAt(hand(fred,apple,mary),10).
#example holdsAt(fobjgive(fred,apple,mary),11).
:- not initiatedAt(fobjgive(fred,apple,mary),10).

happensAt(hand(mary,apple,fred),12).
happensAt(move(fred,garden),13).
#example holdsAt(freceive(fred,apple),14).
:- not initiatedAt(freceive(fred,apple),12).

happensAt(move(bill,kitchen),15).
happensAt(grab(fred,milk),16).
#example holdsAt(frecgive(mary,apple,fred),17).
:- not initiatedAt(frecgive(mary,apple,fred),12).

happensAt(leave(mary,football),18).
happensAt(take(mary,football),19).
happensAt(leave(fred,apple),20).
happensAt(travel(bill,hallway),21).
happensAt(travel(jeff,bathroom),22).
happensAt(move(bill,bedroom),23).
happensAt(pass(mary,football,bill),24).
happensAt(give(bill,football,mary),25).
#example holdsAt(fobjgive(bill,football,mary),26).
:- not initiatedAt(fobjgive(bill,football,mary),25).

happensAt(journey(fred,bedroom),27).
happensAt(hand(mary,football,fred),28).
#example holdsAt(fobjgive(mary,football,fred),29).
:- not initiatedAt(fobjgive(mary,football,fred),28).

