observed(relativeposition(blueSquare,redSquare,right),1).
observed(relativeposition(blueSquare,redSphere,above),1).

 #example holdsAt(relativeposition(redSphere,redSquare,right),1).

 #example holdsAt(relativeposition(redSphere,redSquare,below),1).

 #example not holdsAt(relativeposition(redSphere,redSquare,left),1).

 #example not holdsAt(relativeposition(redSphere,redSquare,left),1).

 #example holdsAt(relativeposition(redSquare,redSphere,left),1).

 #example not holdsAt(relativeposition(redSquare,redSphere,right),1).

 #example not holdsAt(relativeposition(redSquare,redSphere,right),1).

 #example holdsAt(relativeposition(redSphere,redSquare,right),1).
