observed(relativeposition(blueSquare,redSphere,below),1).
observed(relativeposition(blueSquare,redSquare,above),1).

 #example holdsAt(relativeposition(redSquare,redSphere,below),1).

 #example not holdsAt(relativeposition(redSquare,redSphere,above),1).

 #example holdsAt(relativeposition(redSphere,redSquare,above),1).

 #example holdsAt(relativeposition(redSphere,redSquare,above),1).

 #example holdsAt(relativeposition(redSphere,redSquare,above),1).

 #example not holdsAt(relativeposition(redSquare,redSphere,right),1).

 #example not holdsAt(relativeposition(redSquare,redSphere,right),1).

 #example holdsAt(relativeposition(redSphere,redSquare,above),1).
