observed(relativeposition(blueSquare,yellowSquare,above),1).
observed(relativeposition(blueSquare,redSquare,right),1).

 #example not holdsAt(relativeposition(redSquare,yellowSquare,below),1).

 #example not holdsAt(relativeposition(redSquare,yellowSquare,right),1).

 #example not holdsAt(relativeposition(yellowSquare,redSquare,left),1).

 #example holdsAt(relativeposition(yellowSquare,redSquare,below),1).

 #example holdsAt(relativeposition(yellowSquare,redSquare,right),1).

 #example holdsAt(relativeposition(yellowSquare,redSquare,right),1).

 #example holdsAt(relativeposition(yellowSquare,redSquare,right),1).

 #example holdsAt(relativeposition(yellowSquare,redSquare,right),1).
