observed(relativeposition(yellowSquare,redSphere,left),1).
observed(relativeposition(yellowSquare,triangle,below),1).

 #example not holdsAt(relativeposition(redSphere,triangle,left),1).

 #example holdsAt(relativeposition(triangle,redSphere,left),1).

 #example holdsAt(relativeposition(triangle,redSphere,above),1).

 #example holdsAt(relativeposition(triangle,redSphere,left),1).

 #example not holdsAt(relativeposition(triangle,redSphere,below),1).

 #example not holdsAt(relativeposition(triangle,redSphere,below),1).

 #example holdsAt(relativeposition(triangle,redSphere,above),1).

 #example not holdsAt(relativeposition(redSphere,triangle,above),1).
