observed(relativeposition(yellowSquare,blueSquare,below),1).
observed(relativeposition(blueSquare,redSphere,below),1).

 #example holdsAt(relativeposition(yellowSquare,redSphere,below),1).

 #example holdsAt(relativeposition(yellowSquare,redSphere,below),1).

 #example holdsAt(relativeposition(redSphere,yellowSquare,above),1).

 #example holdsAt(relativeposition(redSphere,yellowSquare,above),1).

 #example holdsAt(relativeposition(redSphere,yellowSquare,above),1).

 #example holdsAt(relativeposition(redSphere,yellowSquare,above),1).

 #example holdsAt(relativeposition(yellowSquare,redSphere,below),1).

 #example not holdsAt(relativeposition(yellowSquare,redSphere,right),1).
