observed(relativeposition(blueSquare,triangle,below),1).
observed(relativeposition(blueSquare,redSphere,above),1).

 #example not holdsAt(relativeposition(redSphere,triangle,right),1).

 #example holdsAt(relativeposition(triangle,redSphere,above),1).

 #example holdsAt(relativeposition(triangle,redSphere,above),1).

 #example holdsAt(relativeposition(triangle,redSphere,above),1).

 #example holdsAt(relativeposition(redSphere,triangle,below),1).

 #example holdsAt(relativeposition(redSphere,triangle,below),1).

 #example holdsAt(relativeposition(redSphere,triangle,below),1).

 #example holdsAt(relativeposition(triangle,redSphere,above),1).
