observed(relativeposition(blueSquare,triangle,right),1).
observed(relativeposition(redSquare,triangle,below),1).

 #example not holdsAt(relativeposition(redSquare,blueSquare,above),1).

 #example not holdsAt(relativeposition(blueSquare,redSquare,below),1).

 #example holdsAt(relativeposition(blueSquare,redSquare,above),1).

 #example holdsAt(relativeposition(redSquare,blueSquare,left),1).

 #example holdsAt(relativeposition(redSquare,blueSquare,left),1).

 #example holdsAt(relativeposition(blueSquare,redSquare,above),1).

 #example holdsAt(relativeposition(blueSquare,redSquare,above),1).

 #example holdsAt(relativeposition(blueSquare,redSquare,above),1).
