observed(relativeposition(redSquare,yellowSquare,left),1).
observed(relativeposition(yellowSquare,blueSquare,left),1).

 #example not holdsAt(relativeposition(redSquare,blueSquare,below),1).

 #example holdsAt(relativeposition(redSquare,blueSquare,left),1).

 #example holdsAt(relativeposition(blueSquare,redSquare,right),1).

 #example holdsAt(relativeposition(blueSquare,redSquare,right),1).

 #example not holdsAt(relativeposition(redSquare,blueSquare,below),1).

 #example not holdsAt(relativeposition(blueSquare,redSquare,left),1).

 #example holdsAt(relativeposition(redSquare,blueSquare,left),1).

 #example not holdsAt(relativeposition(blueSquare,redSquare,left),1).
