lemma(1,mary).
glemma(1,mary).
pos(1,nn).
lemma(2,pass).
glemma(2,pass).
pos(2,vbd).
lemma(3,the).
glemma(3,the).
pos(3,dt).
lemma(4,milk).
glemma(4,milk).
pos(4,nn).
lemma(5,to).
glemma(5,to).
pos(5,to).
lemma(6,daniel).
glemma(6,daniel).
pos(6,nn).
index(1..6).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(daniel).
concept(mary).
concept(milk).
concept(pass01).
#example arg3(pass01,daniel) .
#example arg2(pass01,milk) .
#example arg1(pass01,mary) .
#example not arg3(put01,daniel) .
#example not arg3(put01,negative) .
#example not arg3(put01,either) .
#example not arg3(put01,mary) .
#example not arg3(put01,milk) .
#example not arg3(relativeposition01,daniel) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,mary) .
#example not arg3(relativeposition01,milk) .
#example not arg3(domain,daniel) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,mary) .
#example not arg3(domain,milk) .
#example not arg3(pass01,negative) .
#example not arg3(pass01,either) .
#example not arg3(pass01,mary) .
#example not arg3(pass01,milk) .
#example not arg3(belocatedat91,daniel) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,mary) .
#example not arg3(belocatedat91,milk) .
#example not arg3(fear,daniel) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,mary) .
#example not arg3(fear,milk) .
#example not op2(put01,daniel) .
#example not op2(put01,negative) .
#example not op2(put01,either) .
#example not op2(put01,mary) .
#example not op2(put01,milk) .
#example not op2(relativeposition01,daniel) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,mary) .
#example not op2(relativeposition01,milk) .
#example not op2(domain,daniel) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,mary) .
#example not op2(domain,milk) .
#example not op2(pass01,daniel) .
#example not op2(pass01,negative) .
#example not op2(pass01,either) .
#example not op2(pass01,mary) .
#example not op2(pass01,milk) .
#example not op2(belocatedat91,daniel) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,mary) .
#example not op2(belocatedat91,milk) .
#example not op2(fear,daniel) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,mary) .
#example not op2(fear,milk) .
#example not arg2(put01,daniel) .
#example not arg2(put01,negative) .
#example not arg2(put01,either) .
#example not arg2(put01,mary) .
#example not arg2(put01,milk) .
#example not arg2(relativeposition01,daniel) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,mary) .
#example not arg2(relativeposition01,milk) .
#example not arg2(domain,daniel) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,mary) .
#example not arg2(domain,milk) .
#example not arg2(pass01,daniel) .
#example not arg2(pass01,negative) .
#example not arg2(pass01,either) .
#example not arg2(pass01,mary) .
#example not arg2(belocatedat91,daniel) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,mary) .
#example not arg2(belocatedat91,milk) .
#example not arg2(fear,daniel) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,mary) .
#example not arg2(fear,milk) .
#example not op1(put01,daniel) .
#example not op1(put01,negative) .
#example not op1(put01,either) .
#example not op1(put01,mary) .
#example not op1(put01,milk) .
#example not op1(relativeposition01,daniel) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,mary) .
#example not op1(relativeposition01,milk) .
#example not op1(domain,daniel) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,mary) .
#example not op1(domain,milk) .
#example not op1(pass01,daniel) .
#example not op1(pass01,negative) .
#example not op1(pass01,either) .
#example not op1(pass01,mary) .
#example not op1(pass01,milk) .
#example not op1(belocatedat91,daniel) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,mary) .
#example not op1(belocatedat91,milk) .
#example not op1(fear,daniel) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,mary) .
#example not op1(fear,milk) .
#example not comparedto(put01,daniel) .
#example not comparedto(put01,negative) .
#example not comparedto(put01,either) .
#example not comparedto(put01,mary) .
#example not comparedto(put01,milk) .
#example not comparedto(relativeposition01,daniel) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,mary) .
#example not comparedto(relativeposition01,milk) .
#example not comparedto(domain,daniel) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,mary) .
#example not comparedto(domain,milk) .
#example not comparedto(pass01,daniel) .
#example not comparedto(pass01,negative) .
#example not comparedto(pass01,either) .
#example not comparedto(pass01,mary) .
#example not comparedto(pass01,milk) .
#example not comparedto(belocatedat91,daniel) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,mary) .
#example not comparedto(belocatedat91,milk) .
#example not comparedto(fear,daniel) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,mary) .
#example not comparedto(fear,milk) .
#example not arg1(put01,daniel) .
#example not arg1(put01,negative) .
#example not arg1(put01,either) .
#example not arg1(put01,mary) .
#example not arg1(put01,milk) .
#example not arg1(relativeposition01,daniel) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,mary) .
#example not arg1(relativeposition01,milk) .
#example not arg1(domain,daniel) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,mary) .
#example not arg1(domain,milk) .
#example not arg1(pass01,daniel) .
#example not arg1(pass01,negative) .
#example not arg1(pass01,either) .
#example not arg1(pass01,milk) .
#example not arg1(belocatedat91,daniel) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,mary) .
#example not arg1(belocatedat91,milk) .
#example not arg1(fear,daniel) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,mary) .
#example not arg1(fear,milk) .
#example not degree(put01,daniel) .
#example not degree(put01,negative) .
#example not degree(put01,either) .
#example not degree(put01,mary) .
#example not degree(put01,milk) .
#example not degree(relativeposition01,daniel) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,mary) .
#example not degree(relativeposition01,milk) .
#example not degree(domain,daniel) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,mary) .
#example not degree(domain,milk) .
#example not degree(pass01,daniel) .
#example not degree(pass01,negative) .
#example not degree(pass01,either) .
#example not degree(pass01,mary) .
#example not degree(pass01,milk) .
#example not degree(belocatedat91,daniel) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,mary) .
#example not degree(belocatedat91,milk) .
#example not degree(fear,daniel) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,mary) .
#example not degree(fear,milk) .
#example not time(put01,daniel) .
#example not time(put01,negative) .
#example not time(put01,either) .
#example not time(put01,mary) .
#example not time(put01,milk) .
#example not time(relativeposition01,daniel) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,mary) .
#example not time(relativeposition01,milk) .
#example not time(domain,daniel) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,mary) .
#example not time(domain,milk) .
#example not time(pass01,daniel) .
#example not time(pass01,negative) .
#example not time(pass01,either) .
#example not time(pass01,mary) .
#example not time(pass01,milk) .
#example not time(belocatedat91,daniel) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,mary) .
#example not time(belocatedat91,milk) .
#example not time(fear,daniel) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,mary) .
#example not time(fear,milk) .
#example not direction(put01,daniel) .
#example not direction(put01,negative) .
#example not direction(put01,either) .
#example not direction(put01,mary) .
#example not direction(put01,milk) .
#example not direction(relativeposition01,daniel) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,mary) .
#example not direction(relativeposition01,milk) .
#example not direction(domain,daniel) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,mary) .
#example not direction(domain,milk) .
#example not direction(pass01,daniel) .
#example not direction(pass01,negative) .
#example not direction(pass01,either) .
#example not direction(pass01,mary) .
#example not direction(pass01,milk) .
#example not direction(belocatedat91,daniel) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,mary) .
#example not direction(belocatedat91,milk) .
#example not direction(fear,daniel) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,mary) .
#example not direction(fear,milk) .
#example not polarity(put01,daniel) .
#example not polarity(put01,negative) .
#example not polarity(put01,either) .
#example not polarity(put01,mary) .
#example not polarity(put01,milk) .
#example not polarity(relativeposition01,daniel) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,mary) .
#example not polarity(relativeposition01,milk) .
#example not polarity(domain,daniel) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,mary) .
#example not polarity(domain,milk) .
#example not polarity(pass01,daniel) .
#example not polarity(pass01,negative) .
#example not polarity(pass01,either) .
#example not polarity(pass01,mary) .
#example not polarity(pass01,milk) .
#example not polarity(belocatedat91,daniel) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,mary) .
#example not polarity(belocatedat91,milk) .
#example not polarity(fear,daniel) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,mary) .
#example not polarity(fear,milk) .
concept(put01).
