lemma(1,follow).
glemma(1,follow).
pos(1,vbg).
lemma(2,that).
glemma(2,that).
pos(2,in).
lemma(3,he).
glemma(3,he).
pos(3,prp).
lemma(4,journey).
glemma(4,journey).
pos(4,vbd).
lemma(5,to).
glemma(5,to).
pos(5,to).
lemma(6,the).
glemma(6,the).
pos(6,dt).
lemma(7,bedroom).
glemma(7,bedroom).
pos(7,nn).
index(1..7).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(journey01).
concept(he).
concept(bedroom).
#example arg2(journey01,bedroom) .
#example arg1(journey01,he) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,he) .
#example not arg3(relativeposition01,bedroom) .
#example not arg3(journey01,negative) .
#example not arg3(journey01,either) .
#example not arg3(journey01,he) .
#example not arg3(journey01,bedroom) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,he) .
#example not arg3(domain,bedroom) .
#example not arg3(grab01,negative) .
#example not arg3(grab01,either) .
#example not arg3(grab01,he) .
#example not arg3(grab01,bedroom) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,he) .
#example not arg3(belocatedat91,bedroom) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,he) .
#example not arg3(fear,bedroom) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,he) .
#example not op2(relativeposition01,bedroom) .
#example not op2(journey01,negative) .
#example not op2(journey01,either) .
#example not op2(journey01,he) .
#example not op2(journey01,bedroom) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,he) .
#example not op2(domain,bedroom) .
#example not op2(grab01,negative) .
#example not op2(grab01,either) .
#example not op2(grab01,he) .
#example not op2(grab01,bedroom) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,he) .
#example not op2(belocatedat91,bedroom) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,he) .
#example not op2(fear,bedroom) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,he) .
#example not arg2(relativeposition01,bedroom) .
#example not arg2(journey01,negative) .
#example not arg2(journey01,either) .
#example not arg2(journey01,he) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,he) .
#example not arg2(domain,bedroom) .
#example not arg2(grab01,negative) .
#example not arg2(grab01,either) .
#example not arg2(grab01,he) .
#example not arg2(grab01,bedroom) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,he) .
#example not arg2(belocatedat91,bedroom) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,he) .
#example not arg2(fear,bedroom) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,he) .
#example not op1(relativeposition01,bedroom) .
#example not op1(journey01,negative) .
#example not op1(journey01,either) .
#example not op1(journey01,he) .
#example not op1(journey01,bedroom) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,he) .
#example not op1(domain,bedroom) .
#example not op1(grab01,negative) .
#example not op1(grab01,either) .
#example not op1(grab01,he) .
#example not op1(grab01,bedroom) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,he) .
#example not op1(belocatedat91,bedroom) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,he) .
#example not op1(fear,bedroom) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,he) .
#example not comparedto(relativeposition01,bedroom) .
#example not comparedto(journey01,negative) .
#example not comparedto(journey01,either) .
#example not comparedto(journey01,he) .
#example not comparedto(journey01,bedroom) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,he) .
#example not comparedto(domain,bedroom) .
#example not comparedto(grab01,negative) .
#example not comparedto(grab01,either) .
#example not comparedto(grab01,he) .
#example not comparedto(grab01,bedroom) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,he) .
#example not comparedto(belocatedat91,bedroom) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,he) .
#example not comparedto(fear,bedroom) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,he) .
#example not arg1(relativeposition01,bedroom) .
#example not arg1(journey01,negative) .
#example not arg1(journey01,either) .
#example not arg1(journey01,bedroom) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,he) .
#example not arg1(domain,bedroom) .
#example not arg1(grab01,negative) .
#example not arg1(grab01,either) .
#example not arg1(grab01,he) .
#example not arg1(grab01,bedroom) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,he) .
#example not arg1(belocatedat91,bedroom) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,he) .
#example not arg1(fear,bedroom) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,he) .
#example not degree(relativeposition01,bedroom) .
#example not degree(journey01,negative) .
#example not degree(journey01,either) .
#example not degree(journey01,he) .
#example not degree(journey01,bedroom) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,he) .
#example not degree(domain,bedroom) .
#example not degree(grab01,negative) .
#example not degree(grab01,either) .
#example not degree(grab01,he) .
#example not degree(grab01,bedroom) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,he) .
#example not degree(belocatedat91,bedroom) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,he) .
#example not degree(fear,bedroom) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,he) .
#example not time(relativeposition01,bedroom) .
#example not time(journey01,negative) .
#example not time(journey01,either) .
#example not time(journey01,he) .
#example not time(journey01,bedroom) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,he) .
#example not time(domain,bedroom) .
#example not time(grab01,negative) .
#example not time(grab01,either) .
#example not time(grab01,he) .
#example not time(grab01,bedroom) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,he) .
#example not time(belocatedat91,bedroom) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,he) .
#example not time(fear,bedroom) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,he) .
#example not direction(relativeposition01,bedroom) .
#example not direction(journey01,negative) .
#example not direction(journey01,either) .
#example not direction(journey01,he) .
#example not direction(journey01,bedroom) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,he) .
#example not direction(domain,bedroom) .
#example not direction(grab01,negative) .
#example not direction(grab01,either) .
#example not direction(grab01,he) .
#example not direction(grab01,bedroom) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,he) .
#example not direction(belocatedat91,bedroom) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,he) .
#example not direction(fear,bedroom) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,he) .
#example not polarity(relativeposition01,bedroom) .
#example not polarity(journey01,negative) .
#example not polarity(journey01,either) .
#example not polarity(journey01,he) .
#example not polarity(journey01,bedroom) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,he) .
#example not polarity(domain,bedroom) .
#example not polarity(grab01,negative) .
#example not polarity(grab01,either) .
#example not polarity(grab01,he) .
#example not polarity(grab01,bedroom) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,he) .
#example not polarity(belocatedat91,bedroom) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,he) .
#example not polarity(fear,bedroom) .
concept(grab01).
