lemma(1,sandra).
glemma(1,sandra).
pos(1,nn).
lemma(2,put).
glemma(2,put).
pos(2,vbd).
lemma(3,down).
glemma(3,down).
pos(3,rp).
lemma(4,the).
glemma(4,the).
pos(4,dt).
lemma(5,football).
glemma(5,football).
pos(5,nn).
index(1..5).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(put01).
concept(sandra).
concept(football).
concept(down).
#example arg3(put01,down) .
#example arg2(put01,football) .
#example arg1(put01,sandra) .
#example not arg3(put01,negative) .
#example not arg3(put01,either) .
#example not arg3(put01,sandra) .
#example not arg3(put01,football) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,sandra) .
#example not arg3(relativeposition01,football) .
#example not arg3(relativeposition01,down) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,sandra) .
#example not arg3(domain,football) .
#example not arg3(domain,down) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,sandra) .
#example not arg3(belocatedat91,football) .
#example not arg3(belocatedat91,down) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,sandra) .
#example not arg3(fear,football) .
#example not arg3(fear,down) .
#example not arg3(drop01,negative) .
#example not arg3(drop01,either) .
#example not arg3(drop01,sandra) .
#example not arg3(drop01,football) .
#example not arg3(drop01,down) .
#example not op2(put01,negative) .
#example not op2(put01,either) .
#example not op2(put01,sandra) .
#example not op2(put01,football) .
#example not op2(put01,down) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,sandra) .
#example not op2(relativeposition01,football) .
#example not op2(relativeposition01,down) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,sandra) .
#example not op2(domain,football) .
#example not op2(domain,down) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,sandra) .
#example not op2(belocatedat91,football) .
#example not op2(belocatedat91,down) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,sandra) .
#example not op2(fear,football) .
#example not op2(fear,down) .
#example not op2(drop01,negative) .
#example not op2(drop01,either) .
#example not op2(drop01,sandra) .
#example not op2(drop01,football) .
#example not op2(drop01,down) .
#example not arg2(put01,negative) .
#example not arg2(put01,either) .
#example not arg2(put01,sandra) .
#example not arg2(put01,down) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,sandra) .
#example not arg2(relativeposition01,football) .
#example not arg2(relativeposition01,down) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,sandra) .
#example not arg2(domain,football) .
#example not arg2(domain,down) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,sandra) .
#example not arg2(belocatedat91,football) .
#example not arg2(belocatedat91,down) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,sandra) .
#example not arg2(fear,football) .
#example not arg2(fear,down) .
#example not arg2(drop01,negative) .
#example not arg2(drop01,either) .
#example not arg2(drop01,sandra) .
#example not arg2(drop01,football) .
#example not arg2(drop01,down) .
#example not op1(put01,negative) .
#example not op1(put01,either) .
#example not op1(put01,sandra) .
#example not op1(put01,football) .
#example not op1(put01,down) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,sandra) .
#example not op1(relativeposition01,football) .
#example not op1(relativeposition01,down) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,sandra) .
#example not op1(domain,football) .
#example not op1(domain,down) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,sandra) .
#example not op1(belocatedat91,football) .
#example not op1(belocatedat91,down) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,sandra) .
#example not op1(fear,football) .
#example not op1(fear,down) .
#example not op1(drop01,negative) .
#example not op1(drop01,either) .
#example not op1(drop01,sandra) .
#example not op1(drop01,football) .
#example not op1(drop01,down) .
#example not comparedto(put01,negative) .
#example not comparedto(put01,either) .
#example not comparedto(put01,sandra) .
#example not comparedto(put01,football) .
#example not comparedto(put01,down) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,sandra) .
#example not comparedto(relativeposition01,football) .
#example not comparedto(relativeposition01,down) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,sandra) .
#example not comparedto(domain,football) .
#example not comparedto(domain,down) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,sandra) .
#example not comparedto(belocatedat91,football) .
#example not comparedto(belocatedat91,down) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,sandra) .
#example not comparedto(fear,football) .
#example not comparedto(fear,down) .
#example not comparedto(drop01,negative) .
#example not comparedto(drop01,either) .
#example not comparedto(drop01,sandra) .
#example not comparedto(drop01,football) .
#example not comparedto(drop01,down) .
#example not arg1(put01,negative) .
#example not arg1(put01,either) .
#example not arg1(put01,football) .
#example not arg1(put01,down) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,sandra) .
#example not arg1(relativeposition01,football) .
#example not arg1(relativeposition01,down) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,sandra) .
#example not arg1(domain,football) .
#example not arg1(domain,down) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,sandra) .
#example not arg1(belocatedat91,football) .
#example not arg1(belocatedat91,down) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,sandra) .
#example not arg1(fear,football) .
#example not arg1(fear,down) .
#example not arg1(drop01,negative) .
#example not arg1(drop01,either) .
#example not arg1(drop01,sandra) .
#example not arg1(drop01,football) .
#example not arg1(drop01,down) .
#example not degree(put01,negative) .
#example not degree(put01,either) .
#example not degree(put01,sandra) .
#example not degree(put01,football) .
#example not degree(put01,down) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,sandra) .
#example not degree(relativeposition01,football) .
#example not degree(relativeposition01,down) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,sandra) .
#example not degree(domain,football) .
#example not degree(domain,down) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,sandra) .
#example not degree(belocatedat91,football) .
#example not degree(belocatedat91,down) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,sandra) .
#example not degree(fear,football) .
#example not degree(fear,down) .
#example not degree(drop01,negative) .
#example not degree(drop01,either) .
#example not degree(drop01,sandra) .
#example not degree(drop01,football) .
#example not degree(drop01,down) .
#example not time(put01,negative) .
#example not time(put01,either) .
#example not time(put01,sandra) .
#example not time(put01,football) .
#example not time(put01,down) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,sandra) .
#example not time(relativeposition01,football) .
#example not time(relativeposition01,down) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,sandra) .
#example not time(domain,football) .
#example not time(domain,down) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,sandra) .
#example not time(belocatedat91,football) .
#example not time(belocatedat91,down) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,sandra) .
#example not time(fear,football) .
#example not time(fear,down) .
#example not time(drop01,negative) .
#example not time(drop01,either) .
#example not time(drop01,sandra) .
#example not time(drop01,football) .
#example not time(drop01,down) .
#example not direction(put01,negative) .
#example not direction(put01,either) .
#example not direction(put01,sandra) .
#example not direction(put01,football) .
#example not direction(put01,down) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,sandra) .
#example not direction(relativeposition01,football) .
#example not direction(relativeposition01,down) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,sandra) .
#example not direction(domain,football) .
#example not direction(domain,down) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,sandra) .
#example not direction(belocatedat91,football) .
#example not direction(belocatedat91,down) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,sandra) .
#example not direction(fear,football) .
#example not direction(fear,down) .
#example not direction(drop01,negative) .
#example not direction(drop01,either) .
#example not direction(drop01,sandra) .
#example not direction(drop01,football) .
#example not direction(drop01,down) .
#example not polarity(put01,negative) .
#example not polarity(put01,either) .
#example not polarity(put01,sandra) .
#example not polarity(put01,football) .
#example not polarity(put01,down) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,sandra) .
#example not polarity(relativeposition01,football) .
#example not polarity(relativeposition01,down) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,sandra) .
#example not polarity(domain,football) .
#example not polarity(domain,down) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,sandra) .
#example not polarity(belocatedat91,football) .
#example not polarity(belocatedat91,down) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,sandra) .
#example not polarity(fear,football) .
#example not polarity(fear,down) .
#example not polarity(drop01,negative) .
#example not polarity(drop01,either) .
#example not polarity(drop01,sandra) .
#example not polarity(drop01,football) .
#example not polarity(drop01,down) .
concept(drop01).
