lemma(1,fred).
glemma(1,fred).
pos(1,vbn).
lemma(2,go).
glemma(2,go).
pos(2,vbd).
lemma(3,to).
glemma(3,to).
pos(3,to).
lemma(4,the).
glemma(4,the).
pos(4,dt).
lemma(5,office).
glemma(5,office).
pos(5,nn).
lemma(6,this).
glemma(6,this).
pos(6,dt).
lemma(7,morning).
glemma(7,morning).
pos(7,nn).
index(1..7).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(go01).
concept(fred).
concept(office).
concept(morning).
#example arg2(go01,office) .
#example arg1(go01,fred) .
#example time(go01,morning) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,fred) .
#example not arg3(relativeposition01,office) .
#example not arg3(relativeposition01,morning) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,fred) .
#example not arg3(domain,office) .
#example not arg3(domain,morning) .
#example not arg3(go01,negative) .
#example not arg3(go01,either) .
#example not arg3(go01,fred) .
#example not arg3(go01,office) .
#example not arg3(go01,morning) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,fred) .
#example not arg3(belocatedat91,office) .
#example not arg3(belocatedat91,morning) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,fred) .
#example not arg3(fear,office) .
#example not arg3(fear,morning) .
#example not arg3(drop01,negative) .
#example not arg3(drop01,either) .
#example not arg3(drop01,fred) .
#example not arg3(drop01,office) .
#example not arg3(drop01,morning) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,fred) .
#example not op2(relativeposition01,office) .
#example not op2(relativeposition01,morning) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,fred) .
#example not op2(domain,office) .
#example not op2(domain,morning) .
#example not op2(go01,negative) .
#example not op2(go01,either) .
#example not op2(go01,fred) .
#example not op2(go01,office) .
#example not op2(go01,morning) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,fred) .
#example not op2(belocatedat91,office) .
#example not op2(belocatedat91,morning) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,fred) .
#example not op2(fear,office) .
#example not op2(fear,morning) .
#example not op2(drop01,negative) .
#example not op2(drop01,either) .
#example not op2(drop01,fred) .
#example not op2(drop01,office) .
#example not op2(drop01,morning) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,fred) .
#example not arg2(relativeposition01,office) .
#example not arg2(relativeposition01,morning) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,fred) .
#example not arg2(domain,office) .
#example not arg2(domain,morning) .
#example not arg2(go01,negative) .
#example not arg2(go01,either) .
#example not arg2(go01,fred) .
#example not arg2(go01,morning) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,fred) .
#example not arg2(belocatedat91,office) .
#example not arg2(belocatedat91,morning) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,fred) .
#example not arg2(fear,office) .
#example not arg2(fear,morning) .
#example not arg2(drop01,negative) .
#example not arg2(drop01,either) .
#example not arg2(drop01,fred) .
#example not arg2(drop01,office) .
#example not arg2(drop01,morning) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,fred) .
#example not op1(relativeposition01,office) .
#example not op1(relativeposition01,morning) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,fred) .
#example not op1(domain,office) .
#example not op1(domain,morning) .
#example not op1(go01,negative) .
#example not op1(go01,either) .
#example not op1(go01,fred) .
#example not op1(go01,office) .
#example not op1(go01,morning) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,fred) .
#example not op1(belocatedat91,office) .
#example not op1(belocatedat91,morning) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,fred) .
#example not op1(fear,office) .
#example not op1(fear,morning) .
#example not op1(drop01,negative) .
#example not op1(drop01,either) .
#example not op1(drop01,fred) .
#example not op1(drop01,office) .
#example not op1(drop01,morning) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,fred) .
#example not comparedto(relativeposition01,office) .
#example not comparedto(relativeposition01,morning) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,fred) .
#example not comparedto(domain,office) .
#example not comparedto(domain,morning) .
#example not comparedto(go01,negative) .
#example not comparedto(go01,either) .
#example not comparedto(go01,fred) .
#example not comparedto(go01,office) .
#example not comparedto(go01,morning) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,fred) .
#example not comparedto(belocatedat91,office) .
#example not comparedto(belocatedat91,morning) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,fred) .
#example not comparedto(fear,office) .
#example not comparedto(fear,morning) .
#example not comparedto(drop01,negative) .
#example not comparedto(drop01,either) .
#example not comparedto(drop01,fred) .
#example not comparedto(drop01,office) .
#example not comparedto(drop01,morning) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,fred) .
#example not arg1(relativeposition01,office) .
#example not arg1(relativeposition01,morning) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,fred) .
#example not arg1(domain,office) .
#example not arg1(domain,morning) .
#example not arg1(go01,negative) .
#example not arg1(go01,either) .
#example not arg1(go01,office) .
#example not arg1(go01,morning) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,fred) .
#example not arg1(belocatedat91,office) .
#example not arg1(belocatedat91,morning) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,fred) .
#example not arg1(fear,office) .
#example not arg1(fear,morning) .
#example not arg1(drop01,negative) .
#example not arg1(drop01,either) .
#example not arg1(drop01,fred) .
#example not arg1(drop01,office) .
#example not arg1(drop01,morning) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,fred) .
#example not degree(relativeposition01,office) .
#example not degree(relativeposition01,morning) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,fred) .
#example not degree(domain,office) .
#example not degree(domain,morning) .
#example not degree(go01,negative) .
#example not degree(go01,either) .
#example not degree(go01,fred) .
#example not degree(go01,office) .
#example not degree(go01,morning) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,fred) .
#example not degree(belocatedat91,office) .
#example not degree(belocatedat91,morning) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,fred) .
#example not degree(fear,office) .
#example not degree(fear,morning) .
#example not degree(drop01,negative) .
#example not degree(drop01,either) .
#example not degree(drop01,fred) .
#example not degree(drop01,office) .
#example not degree(drop01,morning) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,fred) .
#example not time(relativeposition01,office) .
#example not time(relativeposition01,morning) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,fred) .
#example not time(domain,office) .
#example not time(domain,morning) .
#example not time(go01,negative) .
#example not time(go01,either) .
#example not time(go01,fred) .
#example not time(go01,office) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,fred) .
#example not time(belocatedat91,office) .
#example not time(belocatedat91,morning) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,fred) .
#example not time(fear,office) .
#example not time(fear,morning) .
#example not time(drop01,negative) .
#example not time(drop01,either) .
#example not time(drop01,fred) .
#example not time(drop01,office) .
#example not time(drop01,morning) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,fred) .
#example not direction(relativeposition01,office) .
#example not direction(relativeposition01,morning) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,fred) .
#example not direction(domain,office) .
#example not direction(domain,morning) .
#example not direction(go01,negative) .
#example not direction(go01,either) .
#example not direction(go01,fred) .
#example not direction(go01,office) .
#example not direction(go01,morning) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,fred) .
#example not direction(belocatedat91,office) .
#example not direction(belocatedat91,morning) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,fred) .
#example not direction(fear,office) .
#example not direction(fear,morning) .
#example not direction(drop01,negative) .
#example not direction(drop01,either) .
#example not direction(drop01,fred) .
#example not direction(drop01,office) .
#example not direction(drop01,morning) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,fred) .
#example not polarity(relativeposition01,office) .
#example not polarity(relativeposition01,morning) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,fred) .
#example not polarity(domain,office) .
#example not polarity(domain,morning) .
#example not polarity(go01,negative) .
#example not polarity(go01,either) .
#example not polarity(go01,fred) .
#example not polarity(go01,office) .
#example not polarity(go01,morning) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,fred) .
#example not polarity(belocatedat91,office) .
#example not polarity(belocatedat91,morning) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,fred) .
#example not polarity(fear,office) .
#example not polarity(fear,morning) .
#example not polarity(drop01,negative) .
#example not polarity(drop01,either) .
#example not polarity(drop01,fred) .
#example not polarity(drop01,office) .
#example not polarity(drop01,morning) .
concept(drop01).
