lemma(1,bill).
glemma(1,bill).
pos(1,nn).
lemma(2,move).
glemma(2,move).
pos(2,vbd).
lemma(3,to).
glemma(3,to).
pos(3,to).
lemma(4,the).
glemma(4,the).
pos(4,dt).
lemma(5,bedroom).
glemma(5,bedroom).
pos(5,nn).
lemma(6,this).
glemma(6,this).
pos(6,dt).
lemma(7,morning).
glemma(7,morning).
pos(7,nn).
index(1..7).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(move01).
concept(bill).
concept(bedroom).
concept(morning).
#example arg2(move01,bedroom) .
#example arg1(move01,bill) .
#example time(move01,morning) .
#example not arg3(move01,negative) .
#example not arg3(move01,either) .
#example not arg3(move01,bill) .
#example not arg3(move01,bedroom) .
#example not arg3(move01,morning) .
#example not arg3(take01,negative) .
#example not arg3(take01,either) .
#example not arg3(take01,bill) .
#example not arg3(take01,bedroom) .
#example not arg3(take01,morning) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,bill) .
#example not arg3(relativeposition01,bedroom) .
#example not arg3(relativeposition01,morning) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,bill) .
#example not arg3(domain,bedroom) .
#example not arg3(domain,morning) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,bill) .
#example not arg3(belocatedat91,bedroom) .
#example not arg3(belocatedat91,morning) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,bill) .
#example not arg3(fear,bedroom) .
#example not arg3(fear,morning) .
#example not op2(move01,negative) .
#example not op2(move01,either) .
#example not op2(move01,bill) .
#example not op2(move01,bedroom) .
#example not op2(move01,morning) .
#example not op2(take01,negative) .
#example not op2(take01,either) .
#example not op2(take01,bill) .
#example not op2(take01,bedroom) .
#example not op2(take01,morning) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,bill) .
#example not op2(relativeposition01,bedroom) .
#example not op2(relativeposition01,morning) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,bill) .
#example not op2(domain,bedroom) .
#example not op2(domain,morning) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,bill) .
#example not op2(belocatedat91,bedroom) .
#example not op2(belocatedat91,morning) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,bill) .
#example not op2(fear,bedroom) .
#example not op2(fear,morning) .
#example not arg2(move01,negative) .
#example not arg2(move01,either) .
#example not arg2(move01,bill) .
#example not arg2(move01,morning) .
#example not arg2(take01,negative) .
#example not arg2(take01,either) .
#example not arg2(take01,bill) .
#example not arg2(take01,bedroom) .
#example not arg2(take01,morning) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,bill) .
#example not arg2(relativeposition01,bedroom) .
#example not arg2(relativeposition01,morning) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,bill) .
#example not arg2(domain,bedroom) .
#example not arg2(domain,morning) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,bill) .
#example not arg2(belocatedat91,bedroom) .
#example not arg2(belocatedat91,morning) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,bill) .
#example not arg2(fear,bedroom) .
#example not arg2(fear,morning) .
#example not op1(move01,negative) .
#example not op1(move01,either) .
#example not op1(move01,bill) .
#example not op1(move01,bedroom) .
#example not op1(move01,morning) .
#example not op1(take01,negative) .
#example not op1(take01,either) .
#example not op1(take01,bill) .
#example not op1(take01,bedroom) .
#example not op1(take01,morning) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,bill) .
#example not op1(relativeposition01,bedroom) .
#example not op1(relativeposition01,morning) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,bill) .
#example not op1(domain,bedroom) .
#example not op1(domain,morning) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,bill) .
#example not op1(belocatedat91,bedroom) .
#example not op1(belocatedat91,morning) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,bill) .
#example not op1(fear,bedroom) .
#example not op1(fear,morning) .
#example not comparedto(move01,negative) .
#example not comparedto(move01,either) .
#example not comparedto(move01,bill) .
#example not comparedto(move01,bedroom) .
#example not comparedto(move01,morning) .
#example not comparedto(take01,negative) .
#example not comparedto(take01,either) .
#example not comparedto(take01,bill) .
#example not comparedto(take01,bedroom) .
#example not comparedto(take01,morning) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,bill) .
#example not comparedto(relativeposition01,bedroom) .
#example not comparedto(relativeposition01,morning) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,bill) .
#example not comparedto(domain,bedroom) .
#example not comparedto(domain,morning) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,bill) .
#example not comparedto(belocatedat91,bedroom) .
#example not comparedto(belocatedat91,morning) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,bill) .
#example not comparedto(fear,bedroom) .
#example not comparedto(fear,morning) .
#example not arg1(move01,negative) .
#example not arg1(move01,either) .
#example not arg1(move01,bedroom) .
#example not arg1(move01,morning) .
#example not arg1(take01,negative) .
#example not arg1(take01,either) .
#example not arg1(take01,bill) .
#example not arg1(take01,bedroom) .
#example not arg1(take01,morning) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,bill) .
#example not arg1(relativeposition01,bedroom) .
#example not arg1(relativeposition01,morning) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,bill) .
#example not arg1(domain,bedroom) .
#example not arg1(domain,morning) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,bill) .
#example not arg1(belocatedat91,bedroom) .
#example not arg1(belocatedat91,morning) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,bill) .
#example not arg1(fear,bedroom) .
#example not arg1(fear,morning) .
#example not degree(move01,negative) .
#example not degree(move01,either) .
#example not degree(move01,bill) .
#example not degree(move01,bedroom) .
#example not degree(move01,morning) .
#example not degree(take01,negative) .
#example not degree(take01,either) .
#example not degree(take01,bill) .
#example not degree(take01,bedroom) .
#example not degree(take01,morning) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,bill) .
#example not degree(relativeposition01,bedroom) .
#example not degree(relativeposition01,morning) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,bill) .
#example not degree(domain,bedroom) .
#example not degree(domain,morning) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,bill) .
#example not degree(belocatedat91,bedroom) .
#example not degree(belocatedat91,morning) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,bill) .
#example not degree(fear,bedroom) .
#example not degree(fear,morning) .
#example not time(move01,negative) .
#example not time(move01,either) .
#example not time(move01,bill) .
#example not time(move01,bedroom) .
#example not time(take01,negative) .
#example not time(take01,either) .
#example not time(take01,bill) .
#example not time(take01,bedroom) .
#example not time(take01,morning) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,bill) .
#example not time(relativeposition01,bedroom) .
#example not time(relativeposition01,morning) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,bill) .
#example not time(domain,bedroom) .
#example not time(domain,morning) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,bill) .
#example not time(belocatedat91,bedroom) .
#example not time(belocatedat91,morning) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,bill) .
#example not time(fear,bedroom) .
#example not time(fear,morning) .
#example not direction(move01,negative) .
#example not direction(move01,either) .
#example not direction(move01,bill) .
#example not direction(move01,bedroom) .
#example not direction(move01,morning) .
#example not direction(take01,negative) .
#example not direction(take01,either) .
#example not direction(take01,bill) .
#example not direction(take01,bedroom) .
#example not direction(take01,morning) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,bill) .
#example not direction(relativeposition01,bedroom) .
#example not direction(relativeposition01,morning) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,bill) .
#example not direction(domain,bedroom) .
#example not direction(domain,morning) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,bill) .
#example not direction(belocatedat91,bedroom) .
#example not direction(belocatedat91,morning) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,bill) .
#example not direction(fear,bedroom) .
#example not direction(fear,morning) .
#example not polarity(move01,negative) .
#example not polarity(move01,either) .
#example not polarity(move01,bill) .
#example not polarity(move01,bedroom) .
#example not polarity(move01,morning) .
#example not polarity(take01,negative) .
#example not polarity(take01,either) .
#example not polarity(take01,bill) .
#example not polarity(take01,bedroom) .
#example not polarity(take01,morning) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,bill) .
#example not polarity(relativeposition01,bedroom) .
#example not polarity(relativeposition01,morning) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,bill) .
#example not polarity(domain,bedroom) .
#example not polarity(domain,morning) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,bill) .
#example not polarity(belocatedat91,bedroom) .
#example not polarity(belocatedat91,morning) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,bill) .
#example not polarity(fear,bedroom) .
#example not polarity(fear,morning) .
concept(take01).
