lemma(1,brian).
glemma(1,brian).
pos(1,nn).
lemma(2,be).
glemma(2,be).
pos(2,vbz).
lemma(3,gray).
glemma(3,gray).
pos(3,jj).
index(1..3).
length(3).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(gray).
concept(brian).
#example arg2(domain,gray) .
#example arg1(domain,brian) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,gray) .
#example not arg3(relativeposition01,brian) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,gray) .
#example not arg3(domain,brian) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,gray) .
#example not arg3(belocatedat91,brian) .
#example not arg3(get01,negative) .
#example not arg3(get01,either) .
#example not arg3(get01,gray) .
#example not arg3(get01,brian) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,gray) .
#example not arg3(fear,brian) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,gray) .
#example not op2(relativeposition01,brian) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,gray) .
#example not op2(domain,brian) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,gray) .
#example not op2(belocatedat91,brian) .
#example not op2(get01,negative) .
#example not op2(get01,either) .
#example not op2(get01,gray) .
#example not op2(get01,brian) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,gray) .
#example not op2(fear,brian) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,gray) .
#example not arg2(relativeposition01,brian) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,brian) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,gray) .
#example not arg2(belocatedat91,brian) .
#example not arg2(get01,negative) .
#example not arg2(get01,either) .
#example not arg2(get01,gray) .
#example not arg2(get01,brian) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,gray) .
#example not arg2(fear,brian) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,gray) .
#example not op1(relativeposition01,brian) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,gray) .
#example not op1(domain,brian) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,gray) .
#example not op1(belocatedat91,brian) .
#example not op1(get01,negative) .
#example not op1(get01,either) .
#example not op1(get01,gray) .
#example not op1(get01,brian) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,gray) .
#example not op1(fear,brian) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,gray) .
#example not comparedto(relativeposition01,brian) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,gray) .
#example not comparedto(domain,brian) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,gray) .
#example not comparedto(belocatedat91,brian) .
#example not comparedto(get01,negative) .
#example not comparedto(get01,either) .
#example not comparedto(get01,gray) .
#example not comparedto(get01,brian) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,gray) .
#example not comparedto(fear,brian) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,gray) .
#example not arg1(relativeposition01,brian) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,gray) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,gray) .
#example not arg1(belocatedat91,brian) .
#example not arg1(get01,negative) .
#example not arg1(get01,either) .
#example not arg1(get01,gray) .
#example not arg1(get01,brian) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,gray) .
#example not arg1(fear,brian) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,gray) .
#example not degree(relativeposition01,brian) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,gray) .
#example not degree(domain,brian) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,gray) .
#example not degree(belocatedat91,brian) .
#example not degree(get01,negative) .
#example not degree(get01,either) .
#example not degree(get01,gray) .
#example not degree(get01,brian) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,gray) .
#example not degree(fear,brian) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,gray) .
#example not time(relativeposition01,brian) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,gray) .
#example not time(domain,brian) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,gray) .
#example not time(belocatedat91,brian) .
#example not time(get01,negative) .
#example not time(get01,either) .
#example not time(get01,gray) .
#example not time(get01,brian) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,gray) .
#example not time(fear,brian) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,gray) .
#example not direction(relativeposition01,brian) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,gray) .
#example not direction(domain,brian) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,gray) .
#example not direction(belocatedat91,brian) .
#example not direction(get01,negative) .
#example not direction(get01,either) .
#example not direction(get01,gray) .
#example not direction(get01,brian) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,gray) .
#example not direction(fear,brian) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,gray) .
#example not polarity(relativeposition01,brian) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,gray) .
#example not polarity(domain,brian) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,gray) .
#example not polarity(belocatedat91,brian) .
#example not polarity(get01,negative) .
#example not polarity(get01,either) .
#example not polarity(get01,gray) .
#example not polarity(get01,brian) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,gray) .
#example not polarity(fear,brian) .
concept(get01).
