lemma(1,bernhard).
glemma(1,bernhard).
pos(1,nn).
lemma(2,be).
glemma(2,be).
pos(2,vbz).
lemma(3,a).
glemma(3,a).
pos(3,dt).
lemma(4,lion).
glemma(4,lion).
pos(4,nn).
index(1..4).
length(4).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(bernhard).
concept(lion).
#example arg2(domain,lion) .
#example arg1(domain,bernhard) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,bernhard) .
#example not arg3(relativeposition01,lion) .
#example not arg3(journey01,negative) .
#example not arg3(journey01,either) .
#example not arg3(journey01,bernhard) .
#example not arg3(journey01,lion) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,bernhard) .
#example not arg3(domain,lion) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,bernhard) .
#example not arg3(belocatedat91,lion) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,bernhard) .
#example not arg3(fear,lion) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,bernhard) .
#example not op2(relativeposition01,lion) .
#example not op2(journey01,negative) .
#example not op2(journey01,either) .
#example not op2(journey01,bernhard) .
#example not op2(journey01,lion) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,bernhard) .
#example not op2(domain,lion) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,bernhard) .
#example not op2(belocatedat91,lion) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,bernhard) .
#example not op2(fear,lion) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,bernhard) .
#example not arg2(relativeposition01,lion) .
#example not arg2(journey01,negative) .
#example not arg2(journey01,either) .
#example not arg2(journey01,bernhard) .
#example not arg2(journey01,lion) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,bernhard) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,bernhard) .
#example not arg2(belocatedat91,lion) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,bernhard) .
#example not arg2(fear,lion) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,bernhard) .
#example not op1(relativeposition01,lion) .
#example not op1(journey01,negative) .
#example not op1(journey01,either) .
#example not op1(journey01,bernhard) .
#example not op1(journey01,lion) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,bernhard) .
#example not op1(domain,lion) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,bernhard) .
#example not op1(belocatedat91,lion) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,bernhard) .
#example not op1(fear,lion) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,bernhard) .
#example not comparedto(relativeposition01,lion) .
#example not comparedto(journey01,negative) .
#example not comparedto(journey01,either) .
#example not comparedto(journey01,bernhard) .
#example not comparedto(journey01,lion) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,bernhard) .
#example not comparedto(domain,lion) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,bernhard) .
#example not comparedto(belocatedat91,lion) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,bernhard) .
#example not comparedto(fear,lion) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,bernhard) .
#example not arg1(relativeposition01,lion) .
#example not arg1(journey01,negative) .
#example not arg1(journey01,either) .
#example not arg1(journey01,bernhard) .
#example not arg1(journey01,lion) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,lion) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,bernhard) .
#example not arg1(belocatedat91,lion) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,bernhard) .
#example not arg1(fear,lion) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,bernhard) .
#example not degree(relativeposition01,lion) .
#example not degree(journey01,negative) .
#example not degree(journey01,either) .
#example not degree(journey01,bernhard) .
#example not degree(journey01,lion) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,bernhard) .
#example not degree(domain,lion) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,bernhard) .
#example not degree(belocatedat91,lion) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,bernhard) .
#example not degree(fear,lion) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,bernhard) .
#example not time(relativeposition01,lion) .
#example not time(journey01,negative) .
#example not time(journey01,either) .
#example not time(journey01,bernhard) .
#example not time(journey01,lion) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,bernhard) .
#example not time(domain,lion) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,bernhard) .
#example not time(belocatedat91,lion) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,bernhard) .
#example not time(fear,lion) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,bernhard) .
#example not direction(relativeposition01,lion) .
#example not direction(journey01,negative) .
#example not direction(journey01,either) .
#example not direction(journey01,bernhard) .
#example not direction(journey01,lion) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,bernhard) .
#example not direction(domain,lion) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,bernhard) .
#example not direction(belocatedat91,lion) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,bernhard) .
#example not direction(fear,lion) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,bernhard) .
#example not polarity(relativeposition01,lion) .
#example not polarity(journey01,negative) .
#example not polarity(journey01,either) .
#example not polarity(journey01,bernhard) .
#example not polarity(journey01,lion) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,bernhard) .
#example not polarity(domain,lion) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,bernhard) .
#example not polarity(belocatedat91,lion) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,bernhard) .
#example not polarity(fear,lion) .
concept(journey01).
