lemma(1,greg).
glemma(1,greg).
pos(1,nn).
lemma(2,be).
glemma(2,be).
pos(2,vbz).
lemma(3,a).
glemma(3,a).
pos(3,dt).
lemma(4,frog).
glemma(4,frog).
pos(4,nn).
index(1..4).
length(4).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(frog).
concept(greg).
#example arg2(domain,frog) .
#example arg1(domain,greg) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,frog) .
#example not arg3(relativeposition01,greg) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,frog) .
#example not arg3(domain,greg) .
#example not arg3(grab01,negative) .
#example not arg3(grab01,either) .
#example not arg3(grab01,frog) .
#example not arg3(grab01,greg) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,frog) .
#example not arg3(belocatedat91,greg) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,frog) .
#example not arg3(fear,greg) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,frog) .
#example not op2(relativeposition01,greg) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,frog) .
#example not op2(domain,greg) .
#example not op2(grab01,negative) .
#example not op2(grab01,either) .
#example not op2(grab01,frog) .
#example not op2(grab01,greg) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,frog) .
#example not op2(belocatedat91,greg) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,frog) .
#example not op2(fear,greg) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,frog) .
#example not arg2(relativeposition01,greg) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,greg) .
#example not arg2(grab01,negative) .
#example not arg2(grab01,either) .
#example not arg2(grab01,frog) .
#example not arg2(grab01,greg) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,frog) .
#example not arg2(belocatedat91,greg) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,frog) .
#example not arg2(fear,greg) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,frog) .
#example not op1(relativeposition01,greg) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,frog) .
#example not op1(domain,greg) .
#example not op1(grab01,negative) .
#example not op1(grab01,either) .
#example not op1(grab01,frog) .
#example not op1(grab01,greg) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,frog) .
#example not op1(belocatedat91,greg) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,frog) .
#example not op1(fear,greg) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,frog) .
#example not comparedto(relativeposition01,greg) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,frog) .
#example not comparedto(domain,greg) .
#example not comparedto(grab01,negative) .
#example not comparedto(grab01,either) .
#example not comparedto(grab01,frog) .
#example not comparedto(grab01,greg) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,frog) .
#example not comparedto(belocatedat91,greg) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,frog) .
#example not comparedto(fear,greg) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,frog) .
#example not arg1(relativeposition01,greg) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,frog) .
#example not arg1(grab01,negative) .
#example not arg1(grab01,either) .
#example not arg1(grab01,frog) .
#example not arg1(grab01,greg) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,frog) .
#example not arg1(belocatedat91,greg) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,frog) .
#example not arg1(fear,greg) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,frog) .
#example not degree(relativeposition01,greg) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,frog) .
#example not degree(domain,greg) .
#example not degree(grab01,negative) .
#example not degree(grab01,either) .
#example not degree(grab01,frog) .
#example not degree(grab01,greg) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,frog) .
#example not degree(belocatedat91,greg) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,frog) .
#example not degree(fear,greg) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,frog) .
#example not time(relativeposition01,greg) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,frog) .
#example not time(domain,greg) .
#example not time(grab01,negative) .
#example not time(grab01,either) .
#example not time(grab01,frog) .
#example not time(grab01,greg) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,frog) .
#example not time(belocatedat91,greg) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,frog) .
#example not time(fear,greg) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,frog) .
#example not direction(relativeposition01,greg) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,frog) .
#example not direction(domain,greg) .
#example not direction(grab01,negative) .
#example not direction(grab01,either) .
#example not direction(grab01,frog) .
#example not direction(grab01,greg) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,frog) .
#example not direction(belocatedat91,greg) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,frog) .
#example not direction(fear,greg) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,frog) .
#example not polarity(relativeposition01,greg) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,frog) .
#example not polarity(domain,greg) .
#example not polarity(grab01,negative) .
#example not polarity(grab01,either) .
#example not polarity(grab01,frog) .
#example not polarity(grab01,greg) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,frog) .
#example not polarity(belocatedat91,greg) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,frog) .
#example not polarity(fear,greg) .
concept(grab01).
