lemma(1,jason).
glemma(1,jason).
pos(1,nn).
lemma(2,pick).
glemma(2,pick).
pos(2,vbd).
lemma(3,up).
glemma(3,up).
pos(3,rp).
lemma(4,the).
glemma(4,the).
pos(4,dt).
lemma(5,pajamas).
glemma(5,pajamas).
pos(5,nns).
lemma(6,there).
glemma(6,there).
pos(6,rb).
index(1..6).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(pickup01).
concept(pajamas).
concept(jason).
#example arg2(pickup01,pajamas) .
#example arg1(pickup01,jason) .
#example not arg3(pickup01,negative) .
#example not arg3(pickup01,either) .
#example not arg3(pickup01,pajamas) .
#example not arg3(pickup01,jason) .
#example not arg3(put01,negative) .
#example not arg3(put01,either) .
#example not arg3(put01,pajamas) .
#example not arg3(put01,jason) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,pajamas) .
#example not arg3(relativeposition01,jason) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,pajamas) .
#example not arg3(domain,jason) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,pajamas) .
#example not arg3(belocatedat91,jason) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,pajamas) .
#example not arg3(fear,jason) .
#example not op2(pickup01,negative) .
#example not op2(pickup01,either) .
#example not op2(pickup01,pajamas) .
#example not op2(pickup01,jason) .
#example not op2(put01,negative) .
#example not op2(put01,either) .
#example not op2(put01,pajamas) .
#example not op2(put01,jason) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,pajamas) .
#example not op2(relativeposition01,jason) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,pajamas) .
#example not op2(domain,jason) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,pajamas) .
#example not op2(belocatedat91,jason) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,pajamas) .
#example not op2(fear,jason) .
#example not arg2(pickup01,negative) .
#example not arg2(pickup01,either) .
#example not arg2(pickup01,jason) .
#example not arg2(put01,negative) .
#example not arg2(put01,either) .
#example not arg2(put01,pajamas) .
#example not arg2(put01,jason) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,pajamas) .
#example not arg2(relativeposition01,jason) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,pajamas) .
#example not arg2(domain,jason) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,pajamas) .
#example not arg2(belocatedat91,jason) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,pajamas) .
#example not arg2(fear,jason) .
#example not op1(pickup01,negative) .
#example not op1(pickup01,either) .
#example not op1(pickup01,pajamas) .
#example not op1(pickup01,jason) .
#example not op1(put01,negative) .
#example not op1(put01,either) .
#example not op1(put01,pajamas) .
#example not op1(put01,jason) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,pajamas) .
#example not op1(relativeposition01,jason) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,pajamas) .
#example not op1(domain,jason) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,pajamas) .
#example not op1(belocatedat91,jason) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,pajamas) .
#example not op1(fear,jason) .
#example not comparedto(pickup01,negative) .
#example not comparedto(pickup01,either) .
#example not comparedto(pickup01,pajamas) .
#example not comparedto(pickup01,jason) .
#example not comparedto(put01,negative) .
#example not comparedto(put01,either) .
#example not comparedto(put01,pajamas) .
#example not comparedto(put01,jason) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,pajamas) .
#example not comparedto(relativeposition01,jason) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,pajamas) .
#example not comparedto(domain,jason) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,pajamas) .
#example not comparedto(belocatedat91,jason) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,pajamas) .
#example not comparedto(fear,jason) .
#example not arg1(pickup01,negative) .
#example not arg1(pickup01,either) .
#example not arg1(pickup01,pajamas) .
#example not arg1(put01,negative) .
#example not arg1(put01,either) .
#example not arg1(put01,pajamas) .
#example not arg1(put01,jason) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,pajamas) .
#example not arg1(relativeposition01,jason) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,pajamas) .
#example not arg1(domain,jason) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,pajamas) .
#example not arg1(belocatedat91,jason) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,pajamas) .
#example not arg1(fear,jason) .
#example not degree(pickup01,negative) .
#example not degree(pickup01,either) .
#example not degree(pickup01,pajamas) .
#example not degree(pickup01,jason) .
#example not degree(put01,negative) .
#example not degree(put01,either) .
#example not degree(put01,pajamas) .
#example not degree(put01,jason) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,pajamas) .
#example not degree(relativeposition01,jason) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,pajamas) .
#example not degree(domain,jason) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,pajamas) .
#example not degree(belocatedat91,jason) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,pajamas) .
#example not degree(fear,jason) .
#example not time(pickup01,negative) .
#example not time(pickup01,either) .
#example not time(pickup01,pajamas) .
#example not time(pickup01,jason) .
#example not time(put01,negative) .
#example not time(put01,either) .
#example not time(put01,pajamas) .
#example not time(put01,jason) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,pajamas) .
#example not time(relativeposition01,jason) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,pajamas) .
#example not time(domain,jason) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,pajamas) .
#example not time(belocatedat91,jason) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,pajamas) .
#example not time(fear,jason) .
#example not direction(pickup01,negative) .
#example not direction(pickup01,either) .
#example not direction(pickup01,pajamas) .
#example not direction(pickup01,jason) .
#example not direction(put01,negative) .
#example not direction(put01,either) .
#example not direction(put01,pajamas) .
#example not direction(put01,jason) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,pajamas) .
#example not direction(relativeposition01,jason) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,pajamas) .
#example not direction(domain,jason) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,pajamas) .
#example not direction(belocatedat91,jason) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,pajamas) .
#example not direction(fear,jason) .
#example not polarity(pickup01,negative) .
#example not polarity(pickup01,either) .
#example not polarity(pickup01,pajamas) .
#example not polarity(pickup01,jason) .
#example not polarity(put01,negative) .
#example not polarity(put01,either) .
#example not polarity(put01,pajamas) .
#example not polarity(put01,jason) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,pajamas) .
#example not polarity(relativeposition01,jason) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,pajamas) .
#example not polarity(domain,jason) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,pajamas) .
#example not polarity(belocatedat91,jason) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,pajamas) .
#example not polarity(fear,jason) .
concept(put01).
