lemma(1,jason).
glemma(1,jason).
pos(1,nn).
lemma(2,take).
glemma(2,take).
pos(2,vbd).
lemma(3,the).
glemma(3,the).
pos(3,dt).
lemma(4,apple).
glemma(4,apple).
pos(4,nn).
lemma(5,there).
glemma(5,there).
pos(5,rb).
index(1..5).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(apple).
concept(take01).
concept(jason).
#example arg2(take01,apple) .
#example arg1(take01,jason) .
#example not arg3(hand01,apple) .
#example not arg3(hand01,negative) .
#example not arg3(hand01,either) .
#example not arg3(hand01,jason) .
#example not arg3(take01,apple) .
#example not arg3(take01,negative) .
#example not arg3(take01,either) .
#example not arg3(take01,jason) .
#example not arg3(relativeposition01,apple) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,jason) .
#example not arg3(domain,apple) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,jason) .
#example not arg3(belocatedat91,apple) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,jason) .
#example not arg3(fear,apple) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,jason) .
#example not op2(hand01,apple) .
#example not op2(hand01,negative) .
#example not op2(hand01,either) .
#example not op2(hand01,jason) .
#example not op2(take01,apple) .
#example not op2(take01,negative) .
#example not op2(take01,either) .
#example not op2(take01,jason) .
#example not op2(relativeposition01,apple) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,jason) .
#example not op2(domain,apple) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,jason) .
#example not op2(belocatedat91,apple) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,jason) .
#example not op2(fear,apple) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,jason) .
#example not arg2(hand01,apple) .
#example not arg2(hand01,negative) .
#example not arg2(hand01,either) .
#example not arg2(hand01,jason) .
#example not arg2(take01,negative) .
#example not arg2(take01,either) .
#example not arg2(take01,jason) .
#example not arg2(relativeposition01,apple) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,jason) .
#example not arg2(domain,apple) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(domain,jason) .
#example not arg2(belocatedat91,apple) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,jason) .
#example not arg2(fear,apple) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,jason) .
#example not op1(hand01,apple) .
#example not op1(hand01,negative) .
#example not op1(hand01,either) .
#example not op1(hand01,jason) .
#example not op1(take01,apple) .
#example not op1(take01,negative) .
#example not op1(take01,either) .
#example not op1(take01,jason) .
#example not op1(relativeposition01,apple) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,jason) .
#example not op1(domain,apple) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,jason) .
#example not op1(belocatedat91,apple) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,jason) .
#example not op1(fear,apple) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,jason) .
#example not comparedto(hand01,apple) .
#example not comparedto(hand01,negative) .
#example not comparedto(hand01,either) .
#example not comparedto(hand01,jason) .
#example not comparedto(take01,apple) .
#example not comparedto(take01,negative) .
#example not comparedto(take01,either) .
#example not comparedto(take01,jason) .
#example not comparedto(relativeposition01,apple) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,jason) .
#example not comparedto(domain,apple) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,jason) .
#example not comparedto(belocatedat91,apple) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,jason) .
#example not comparedto(fear,apple) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,jason) .
#example not arg1(hand01,apple) .
#example not arg1(hand01,negative) .
#example not arg1(hand01,either) .
#example not arg1(hand01,jason) .
#example not arg1(take01,apple) .
#example not arg1(take01,negative) .
#example not arg1(take01,either) .
#example not arg1(relativeposition01,apple) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,jason) .
#example not arg1(domain,apple) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,jason) .
#example not arg1(belocatedat91,apple) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,jason) .
#example not arg1(fear,apple) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,jason) .
#example not degree(hand01,apple) .
#example not degree(hand01,negative) .
#example not degree(hand01,either) .
#example not degree(hand01,jason) .
#example not degree(take01,apple) .
#example not degree(take01,negative) .
#example not degree(take01,either) .
#example not degree(take01,jason) .
#example not degree(relativeposition01,apple) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,jason) .
#example not degree(domain,apple) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,jason) .
#example not degree(belocatedat91,apple) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,jason) .
#example not degree(fear,apple) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,jason) .
#example not time(hand01,apple) .
#example not time(hand01,negative) .
#example not time(hand01,either) .
#example not time(hand01,jason) .
#example not time(take01,apple) .
#example not time(take01,negative) .
#example not time(take01,either) .
#example not time(take01,jason) .
#example not time(relativeposition01,apple) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,jason) .
#example not time(domain,apple) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,jason) .
#example not time(belocatedat91,apple) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,jason) .
#example not time(fear,apple) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,jason) .
#example not direction(hand01,apple) .
#example not direction(hand01,negative) .
#example not direction(hand01,either) .
#example not direction(hand01,jason) .
#example not direction(take01,apple) .
#example not direction(take01,negative) .
#example not direction(take01,either) .
#example not direction(take01,jason) .
#example not direction(relativeposition01,apple) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,jason) .
#example not direction(domain,apple) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,jason) .
#example not direction(belocatedat91,apple) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,jason) .
#example not direction(fear,apple) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,jason) .
#example not polarity(hand01,apple) .
#example not polarity(hand01,negative) .
#example not polarity(hand01,either) .
#example not polarity(hand01,jason) .
#example not polarity(take01,apple) .
#example not polarity(take01,negative) .
#example not polarity(take01,either) .
#example not polarity(take01,jason) .
#example not polarity(relativeposition01,apple) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,jason) .
#example not polarity(domain,apple) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,jason) .
#example not polarity(belocatedat91,apple) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,jason) .
#example not polarity(fear,apple) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,jason) .
concept(hand01).
