lemma(1,antoine).
glemma(1,antoine).
pos(1,nn).
lemma(2,be).
glemma(2,be).
pos(2,vbz).
lemma(3,bored).
glemma(3,bored).
pos(3,vbn).
index(1..3).
length(3).
concept(negative).
concept(relativeposition01).
concept(domain).
concept(belocatedat91).
concept(fear).
concept(antoine).
concept(bored).
#example arg2(domain,bored) .
#example arg1(domain,antoine) .
#example not arg3(give01,antoine) .
#example not arg3(give01,negative) .
#example not arg3(give01,either) .
#example not arg3(give01,bored) .
#example not arg3(relativeposition01,antoine) .
#example not arg3(relativeposition01,negative) .
#example not arg3(relativeposition01,either) .
#example not arg3(relativeposition01,bored) .
#example not arg3(domain,antoine) .
#example not arg3(domain,negative) .
#example not arg3(domain,either) .
#example not arg3(domain,bored) .
#example not arg3(belocatedat91,antoine) .
#example not arg3(belocatedat91,negative) .
#example not arg3(belocatedat91,either) .
#example not arg3(belocatedat91,bored) .
#example not arg3(fear,antoine) .
#example not arg3(fear,negative) .
#example not arg3(fear,either) .
#example not arg3(fear,bored) .
#example not op2(give01,antoine) .
#example not op2(give01,negative) .
#example not op2(give01,either) .
#example not op2(give01,bored) .
#example not op2(relativeposition01,antoine) .
#example not op2(relativeposition01,negative) .
#example not op2(relativeposition01,either) .
#example not op2(relativeposition01,bored) .
#example not op2(domain,antoine) .
#example not op2(domain,negative) .
#example not op2(domain,either) .
#example not op2(domain,bored) .
#example not op2(belocatedat91,antoine) .
#example not op2(belocatedat91,negative) .
#example not op2(belocatedat91,either) .
#example not op2(belocatedat91,bored) .
#example not op2(fear,antoine) .
#example not op2(fear,negative) .
#example not op2(fear,either) .
#example not op2(fear,bored) .
#example not arg2(give01,antoine) .
#example not arg2(give01,negative) .
#example not arg2(give01,either) .
#example not arg2(give01,bored) .
#example not arg2(relativeposition01,antoine) .
#example not arg2(relativeposition01,negative) .
#example not arg2(relativeposition01,either) .
#example not arg2(relativeposition01,bored) .
#example not arg2(domain,antoine) .
#example not arg2(domain,negative) .
#example not arg2(domain,either) .
#example not arg2(belocatedat91,antoine) .
#example not arg2(belocatedat91,negative) .
#example not arg2(belocatedat91,either) .
#example not arg2(belocatedat91,bored) .
#example not arg2(fear,antoine) .
#example not arg2(fear,negative) .
#example not arg2(fear,either) .
#example not arg2(fear,bored) .
#example not op1(give01,antoine) .
#example not op1(give01,negative) .
#example not op1(give01,either) .
#example not op1(give01,bored) .
#example not op1(relativeposition01,antoine) .
#example not op1(relativeposition01,negative) .
#example not op1(relativeposition01,either) .
#example not op1(relativeposition01,bored) .
#example not op1(domain,antoine) .
#example not op1(domain,negative) .
#example not op1(domain,either) .
#example not op1(domain,bored) .
#example not op1(belocatedat91,antoine) .
#example not op1(belocatedat91,negative) .
#example not op1(belocatedat91,either) .
#example not op1(belocatedat91,bored) .
#example not op1(fear,antoine) .
#example not op1(fear,negative) .
#example not op1(fear,either) .
#example not op1(fear,bored) .
#example not comparedto(give01,antoine) .
#example not comparedto(give01,negative) .
#example not comparedto(give01,either) .
#example not comparedto(give01,bored) .
#example not comparedto(relativeposition01,antoine) .
#example not comparedto(relativeposition01,negative) .
#example not comparedto(relativeposition01,either) .
#example not comparedto(relativeposition01,bored) .
#example not comparedto(domain,antoine) .
#example not comparedto(domain,negative) .
#example not comparedto(domain,either) .
#example not comparedto(domain,bored) .
#example not comparedto(belocatedat91,antoine) .
#example not comparedto(belocatedat91,negative) .
#example not comparedto(belocatedat91,either) .
#example not comparedto(belocatedat91,bored) .
#example not comparedto(fear,antoine) .
#example not comparedto(fear,negative) .
#example not comparedto(fear,either) .
#example not comparedto(fear,bored) .
#example not arg1(give01,antoine) .
#example not arg1(give01,negative) .
#example not arg1(give01,either) .
#example not arg1(give01,bored) .
#example not arg1(relativeposition01,antoine) .
#example not arg1(relativeposition01,negative) .
#example not arg1(relativeposition01,either) .
#example not arg1(relativeposition01,bored) .
#example not arg1(domain,negative) .
#example not arg1(domain,either) .
#example not arg1(domain,bored) .
#example not arg1(belocatedat91,antoine) .
#example not arg1(belocatedat91,negative) .
#example not arg1(belocatedat91,either) .
#example not arg1(belocatedat91,bored) .
#example not arg1(fear,antoine) .
#example not arg1(fear,negative) .
#example not arg1(fear,either) .
#example not arg1(fear,bored) .
#example not degree(give01,antoine) .
#example not degree(give01,negative) .
#example not degree(give01,either) .
#example not degree(give01,bored) .
#example not degree(relativeposition01,antoine) .
#example not degree(relativeposition01,negative) .
#example not degree(relativeposition01,either) .
#example not degree(relativeposition01,bored) .
#example not degree(domain,antoine) .
#example not degree(domain,negative) .
#example not degree(domain,either) .
#example not degree(domain,bored) .
#example not degree(belocatedat91,antoine) .
#example not degree(belocatedat91,negative) .
#example not degree(belocatedat91,either) .
#example not degree(belocatedat91,bored) .
#example not degree(fear,antoine) .
#example not degree(fear,negative) .
#example not degree(fear,either) .
#example not degree(fear,bored) .
#example not time(give01,antoine) .
#example not time(give01,negative) .
#example not time(give01,either) .
#example not time(give01,bored) .
#example not time(relativeposition01,antoine) .
#example not time(relativeposition01,negative) .
#example not time(relativeposition01,either) .
#example not time(relativeposition01,bored) .
#example not time(domain,antoine) .
#example not time(domain,negative) .
#example not time(domain,either) .
#example not time(domain,bored) .
#example not time(belocatedat91,antoine) .
#example not time(belocatedat91,negative) .
#example not time(belocatedat91,either) .
#example not time(belocatedat91,bored) .
#example not time(fear,antoine) .
#example not time(fear,negative) .
#example not time(fear,either) .
#example not time(fear,bored) .
#example not direction(give01,antoine) .
#example not direction(give01,negative) .
#example not direction(give01,either) .
#example not direction(give01,bored) .
#example not direction(relativeposition01,antoine) .
#example not direction(relativeposition01,negative) .
#example not direction(relativeposition01,either) .
#example not direction(relativeposition01,bored) .
#example not direction(domain,antoine) .
#example not direction(domain,negative) .
#example not direction(domain,either) .
#example not direction(domain,bored) .
#example not direction(belocatedat91,antoine) .
#example not direction(belocatedat91,negative) .
#example not direction(belocatedat91,either) .
#example not direction(belocatedat91,bored) .
#example not direction(fear,antoine) .
#example not direction(fear,negative) .
#example not direction(fear,either) .
#example not direction(fear,bored) .
#example not polarity(give01,antoine) .
#example not polarity(give01,negative) .
#example not polarity(give01,either) .
#example not polarity(give01,bored) .
#example not polarity(relativeposition01,antoine) .
#example not polarity(relativeposition01,negative) .
#example not polarity(relativeposition01,either) .
#example not polarity(relativeposition01,bored) .
#example not polarity(domain,antoine) .
#example not polarity(domain,negative) .
#example not polarity(domain,either) .
#example not polarity(domain,bored) .
#example not polarity(belocatedat91,antoine) .
#example not polarity(belocatedat91,negative) .
#example not polarity(belocatedat91,either) .
#example not polarity(belocatedat91,bored) .
#example not polarity(fear,antoine) .
#example not polarity(fear,negative) .
#example not polarity(fear,either) .
#example not polarity(fear,bored) .
concept(give01).
