observed(relative_position(kitchen,bedroom,south),1).
observed(relative_position(kitchen,bathroom,north),1).
#example holdsAt(relative_position(bedroom,kitchen,north),1).
#example not holdsAt(relative_position(bedroom,kitchen,east),1).
#example not holdsAt(relative_position(bedroom,kitchen,south),1).
#example not holdsAt(relative_position(bedroom,kitchen,west),1).
