happensAt(journey(daniel,bathroom),1).
happensAt(move(sandra,garden),2).
happensAt(goback(mary,bedroom),3).
happensAt(grab(mary,milk),4).
#example count(mary,1,5).
#example not count(mary,1,4).
#example count(mary,1,5).
happensAt(goback(daniel,bedroom),6).
happensAt(journey(mary,garden),7).
#example count(mary,1,8).
#example not count(mary,1,4).
#example count(mary,1,5).
happensAt(give(mary,milk,sandra),9).
happensAt(hand(sandra,milk,mary),10).
#example count(mary,1,11).
#example not count(mary,1,10).
#example count(mary,1,11).
happensAt(go(john,garden),12).
happensAt(drop(mary,milk),13).
#example count(mary,0,14).
#example not count(mary,0,13).
#example count(mary,0,14).
happensAt(pickup(mary,milk),15).
happensAt(hand(mary,milk,john),16).
#example count(mary,0,17).
#example not count(mary,0,16).
#example count(mary,0,17).
