happensAt(journey(mary,bedroom),1).
happensAt(move(sandra,office),2).
happensAt(goback(john,office),3).
happensAt(move(john,bathroom),4).
happensAt(travel(john,office),5).
happensAt(take(mary,apple),6).
#example count(mary,1,7).
#example not count(mary,1,6).
#example count(mary,1,7).
happensAt(discard(mary,apple),8).
happensAt(get(mary,apple),9).
#example count(mary,1,10).
#example not count(mary,1,9).
#example count(mary,1,10).
happensAt(get(mary,milk),11).
happensAt(goback(mary,garden),12).
#example count(mary,2,13).
#example not count(mary,2,11).
#example count(mary,2,12).
happensAt(give(mary,apple,daniel),14).
happensAt(putdown(daniel,apple),15).
#example count(mary,1,16).
#example not count(mary,1,14).
#example count(mary,1,15).
happensAt(grab(daniel,apple),17).
happensAt(pass(daniel,apple,mary),18).
#example count(daniel,0,19).
#example not count(daniel,0,18).
#example count(daniel,0,19).
