happensAt(take(daniel,milk),1).
happensAt(goback(sandra,hallway),2).
#example count(daniel,1,3).
#example not count(daniel,1,1).
#example count(daniel,1,2).
happensAt(drop(daniel,milk),4).
happensAt(journey(john,bathroom),5).
#example count(daniel,0,6).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(move(sandra,kitchen),7).
happensAt(move(sandra,bedroom),8).
#example count(daniel,0,9).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(move(daniel,kitchen),10).
happensAt(travel(john,bedroom),11).
happensAt(go(daniel,bathroom),12).
happensAt(move(john,garden),13).
happensAt(go(mary,bathroom),14).
happensAt(goback(daniel,kitchen),15).
happensAt(go(mary,bedroom),16).
happensAt(get(john,milk),17).
#example count(john,1,18).
#example not count(john,1,17).
#example count(john,1,18).
happensAt(drop(john,milk),19).
happensAt(journey(daniel,bathroom),20).
#example count(john,0,21).
#example not count(john,0,19).
#example count(john,0,20).
