happensAt(goback(sandra,garden),1).
happensAt(move(daniel,hallway),2).
happensAt(move(daniel,office),3).
happensAt(grab(daniel,milk),4).
#example count(daniel,1,5).
#example not count(daniel,1,4).
#example count(daniel,1,5).
happensAt(journey(mary,hallway),6).
happensAt(go(mary,office),7).
#example count(daniel,1,8).
#example not count(daniel,1,4).
#example count(daniel,1,5).
happensAt(give(daniel,milk,mary),9).
happensAt(travel(daniel,garden),10).
#example count(daniel,0,11).
#example not count(daniel,0,9).
#example count(daniel,0,10).
happensAt(travel(daniel,bedroom),12).
happensAt(go(sandra,bathroom),13).
#example count(daniel,0,14).
#example not count(daniel,0,9).
#example count(daniel,0,10).
happensAt(journey(sandra,kitchen),15).
happensAt(go(john,garden),16).
happensAt(travel(daniel,garden),17).
happensAt(journey(john,bathroom),18).
happensAt(take(sandra,football),19).
happensAt(putdown(sandra,football),20).
#example count(sandra,0,21).
#example not count(sandra,0,20).
#example count(sandra,0,21).
