happensAt(get(daniel,milk),1).
happensAt(go(daniel,bedroom),2).
#example count(daniel,1,3).
#example not count(daniel,1,1).
#example count(daniel,1,2).
happensAt(give(daniel,milk,john),4).
happensAt(leave(john,milk),5).
#example count(daniel,0,6).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(move(john,bathroom),7).
happensAt(travel(john,office),8).
#example count(john,0,9).
#example not count(john,0,5).
#example count(john,0,6).
happensAt(go(daniel,kitchen),10).
happensAt(move(mary,hallway),11).
#example count(john,0,12).
#example not count(john,0,5).
#example count(john,0,6).
happensAt(journey(john,bathroom),13).
happensAt(go(sandra,bathroom),14).
happensAt(journey(sandra,bedroom),15).
happensAt(goback(sandra,kitchen),16).
happensAt(goback(daniel,bathroom),17).
happensAt(move(sandra,garden),18).
happensAt(goback(mary,office),19).
happensAt(get(john,football),20).
#example count(john,1,21).
#example not count(john,1,20).
#example count(john,1,21).
