happensAt(move(sandra,bedroom),1).
happensAt(journey(sandra,kitchen),2).
happensAt(move(john,kitchen),3).
happensAt(go(john,bedroom),4).
happensAt(journey(sandra,bathroom),5).
happensAt(goback(mary,bedroom),6).
happensAt(travel(sandra,bedroom),7).
happensAt(move(mary,bathroom),8).
happensAt(go(mary,office),9).
happensAt(move(daniel,bedroom),10).
happensAt(goback(sandra,garden),11).
happensAt(pickup(mary,apple),12).
#example count(mary,1,13).
#example not count(mary,1,12).
#example count(mary,1,13).
happensAt(travel(daniel,office),14).
happensAt(pass(mary,apple,daniel),15).
#example count(mary,0,16).
#example not count(mary,0,15).
#example count(mary,0,16).
happensAt(pass(daniel,apple,mary),17).
happensAt(drop(mary,apple),18).
#example count(daniel,0,19).
#example not count(daniel,0,17).
#example count(daniel,0,18).
happensAt(take(mary,apple),20).
happensAt(pass(mary,apple,daniel),21).
#example count(mary,0,22).
#example not count(mary,0,21).
#example count(mary,0,22).
happensAt(hand(daniel,apple,mary),23).
happensAt(hand(mary,apple,daniel),24).
#example count(mary,0,25).
#example not count(mary,0,24).
#example count(mary,0,25).
