happensAt(go(sandra,kitchen),1).
happensAt(goback(mary,garden),2).
happensAt(move(daniel,bedroom),3).
happensAt(journey(mary,bathroom),4).
happensAt(goback(john,kitchen),5).
happensAt(goback(mary,kitchen),6).
happensAt(goback(sandra,garden),7).
happensAt(grab(daniel,milk),8).
#example count(daniel,1,9).
#example not count(daniel,1,8).
#example count(daniel,1,9).
happensAt(putdown(daniel,milk),10).
happensAt(travel(daniel,kitchen),11).
#example count(daniel,0,12).
#example not count(daniel,0,10).
#example count(daniel,0,11).
happensAt(goback(sandra,bedroom),13).
happensAt(journey(mary,garden),14).
#example count(daniel,0,15).
#example not count(daniel,0,10).
#example count(daniel,0,11).
happensAt(move(john,bathroom),16).
happensAt(travel(mary,office),17).
happensAt(goback(sandra,office),18).
happensAt(journey(mary,bedroom),19).
happensAt(grab(mary,milk),20).
happensAt(journey(sandra,hallway),21).
#example count(mary,1,22).
#example not count(mary,1,20).
#example count(mary,1,21).
happensAt(grab(sandra,apple),23).
happensAt(journey(mary,bathroom),24).
#example count(sandra,1,25).
#example not count(sandra,1,23).
#example count(sandra,1,24).
