happensAt(pickup(mary,milk),1).
happensAt(hand(mary,milk,daniel),2).
#example count(mary,0,3).
#example not count(mary,0,2).
#example count(mary,0,3).
happensAt(discard(daniel,milk),4).
happensAt(travel(mary,kitchen),5).
#example count(daniel,0,6).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(take(daniel,milk),7).
happensAt(putdown(daniel,milk),8).
#example count(daniel,0,9).
#example not count(daniel,0,8).
#example count(daniel,0,9).
happensAt(journey(daniel,garden),10).
happensAt(travel(sandra,bathroom),11).
#example count(daniel,0,12).
#example not count(daniel,0,8).
#example count(daniel,0,9).
happensAt(journey(john,office),13).
happensAt(go(sandra,garden),14).
#example count(daniel,0,15).
#example not count(daniel,0,8).
#example count(daniel,0,9).
