happensAt(journey(mary,office),1).
happensAt(move(mary,hallway),2).
happensAt(pickup(daniel,milk),3).
happensAt(discard(daniel,milk),4).
#example count(daniel,0,5).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(pickup(mary,football),6).
happensAt(go(mary,bathroom),7).
#example count(daniel,0,8).
#example not count(daniel,0,4).
#example count(daniel,0,5).
happensAt(leave(mary,football),9).
happensAt(go(mary,bedroom),10).
#example count(mary,0,11).
#example not count(mary,0,9).
#example count(mary,0,10).
happensAt(move(sandra,garden),12).
happensAt(travel(sandra,hallway),13).
#example count(mary,0,14).
#example not count(mary,0,9).
#example count(mary,0,10).
happensAt(goback(john,kitchen),15).
happensAt(pickup(daniel,apple),16).
#example count(daniel,1,17).
#example not count(daniel,1,16).
#example count(daniel,1,17).
