happensAt(go(sandra,hallway),1).
happensAt(goback(mary,garden),2).
happensAt(grab(mary,milk),3).
happensAt(putdown(mary,milk),4).
#example count(mary,0,5).
#example not count(mary,0,4).
#example count(mary,0,5).
happensAt(move(mary,bathroom),6).
happensAt(go(john,bedroom),7).
#example count(mary,0,8).
#example not count(mary,0,4).
#example count(mary,0,5).
happensAt(journey(daniel,kitchen),9).
happensAt(go(mary,bedroom),10).
#example count(mary,0,11).
#example not count(mary,0,4).
#example count(mary,0,5).
happensAt(get(mary,apple),12).
happensAt(goback(john,kitchen),13).
#example count(mary,1,14).
#example not count(mary,1,12).
#example count(mary,1,13).
happensAt(move(sandra,kitchen),15).
happensAt(leave(mary,apple),16).
#example count(mary,0,17).
#example not count(mary,0,16).
#example count(mary,0,17).
