happensAt(journey(sandra,hallway),1).
happensAt(travel(mary,bathroom),2).
#example holdsAt(location(mary,bathroom),3).
happensAt(move(john,office),4).
happensAt(move(mary,bedroom),5).
#example holdsAt(location(mary,bedroom),6).
#example not holdsAt(location(mary,bathroom),6).
happensAt(journey(mary,kitchen),7).
happensAt(go_back(mary,bathroom),8).
#example holdsAt(location(john,office),9).
happensAt(move(john,bathroom),10).
happensAt(go_back(mary,kitchen),11).
#example holdsAt(location(mary,kitchen),12).
#example not holdsAt(location(mary,bedroom),12).
happensAt(journey(sandra,bedroom),13).
happensAt(go_back(daniel,kitchen),14).
#example holdsAt(location(john,bathroom),15).
#example not holdsAt(location(john,office),15).
