happensAt(journey(sandra,garden),1).
happensAt(journey(sandra,kitchen),2).
#example holdsAt(location(sandra,kitchen),3).
happensAt(journey(daniel,bedroom),4).
happensAt(move(sandra,garden),5).
#example holdsAt(location(sandra,garden),6).
#example not holdsAt(location(sandra,kitchen),6).
happensAt(journey(mary,office),7).
happensAt(journey(mary,bathroom),8).
#example holdsAt(location(mary,bathroom),9).
happensAt(journey(daniel,garden),10).
happensAt(go_back(mary,bedroom),11).
#example holdsAt(location(daniel,garden),12).
happensAt(go_back(sandra,kitchen),13).
happensAt(travel(sandra,bedroom),14).
#example holdsAt(location(sandra,bedroom),15).
#example not holdsAt(location(sandra,garden),15).
#example not holdsAt(location(sandra,kitchen),15).
