happensAt(go_back(mary,kitchen),1).
happensAt(travel(sandra,kitchen),2).
#example holdsAt(location(sandra,kitchen),3).
happensAt(move(john,bathroom),4).
happensAt(travel(sandra,bedroom),5).
#example holdsAt(location(sandra,bedroom),6).
#example not holdsAt(location(sandra,kitchen),6).
happensAt(go(john,hallway),7).
happensAt(go(daniel,hallway),8).
#example holdsAt(location(john,hallway),9).
happensAt(go(john,kitchen),10).
happensAt(move(sandra,kitchen),11).
#example holdsAt(location(john,kitchen),12).
#example not holdsAt(location(john,hallway),12).
happensAt(travel(daniel,kitchen),13).
happensAt(move(daniel,office),14).
#example holdsAt(location(sandra,kitchen),15).
#example not holdsAt(location(sandra,bedroom),15).
