happensAt(go_back(mary,office),1).
happensAt(journey(mary,kitchen),2).
#example holdsAt(location(mary,kitchen),3).
happensAt(go(daniel,office),4).
happensAt(go(daniel,kitchen),5).
#example holdsAt(location(mary,kitchen),6).
happensAt(go(sandra,hallway),7).
happensAt(travel(mary,bedroom),8).
#example holdsAt(location(daniel,kitchen),9).
happensAt(move(mary,office),10).
happensAt(go(daniel,garden),11).
#example holdsAt(location(daniel,garden),12).
#example not holdsAt(location(daniel,kitchen),12).
happensAt(move(john,bedroom),13).
happensAt(move(john,kitchen),14).
#example holdsAt(location(daniel,garden),15).
#example not holdsAt(location(daniel,kitchen),15).
