happensAt(journey(daniel,hallway),1).
happensAt(go_back(sandra,bathroom),2).
#example holdsAt(location(sandra,bathroom),3).
happensAt(go(john,bedroom),4).
happensAt(move(sandra,office),5).
#example holdsAt(location(john,bedroom),6).
happensAt(go(daniel,bathroom),7).
happensAt(travel(mary,bathroom),8).
#example holdsAt(location(mary,bathroom),9).
happensAt(go_back(sandra,hallway),10).
happensAt(go(john,office),11).
#example holdsAt(location(sandra,hallway),12).
#example not holdsAt(location(sandra,bathroom),12).
happensAt(move(john,kitchen),13).
happensAt(go_back(john,hallway),14).
#example holdsAt(location(john,hallway),15).
#example not holdsAt(location(john,bedroom),15).
