happensAt(travel(mary,hallway),1).
happensAt(journey(sandra,bedroom),2).
#example holdsAt(location(sandra,bedroom),3).
happensAt(go_back(daniel,bathroom),4).
happensAt(travel(sandra,hallway),5).
#example holdsAt(location(sandra,hallway),6).
#example not holdsAt(location(sandra,bedroom),6).
happensAt(move(mary,office),7).
happensAt(journey(john,kitchen),8).
#example holdsAt(location(daniel,bathroom),9).
happensAt(move(daniel,bedroom),10).
happensAt(move(mary,bedroom),11).
#example holdsAt(location(sandra,hallway),12).
#example not holdsAt(location(sandra,bedroom),12).
happensAt(go(daniel,garden),13).
happensAt(go_back(john,bedroom),14).
#example holdsAt(location(mary,bedroom),15).
