happensAt(travel(sandra,office),1).
happensAt(go(sandra,garden),2).
#example holdsAt(location(sandra,garden),3).
happensAt(travel(mary,kitchen),4).
happensAt(journey(mary,bathroom),5).
#example holdsAt(location(sandra,garden),6).
happensAt(go(john,garden),7).
happensAt(go(john,hallway),8).
#example holdsAt(location(mary,bathroom),9).
happensAt(journey(mary,garden),10).
happensAt(move(mary,bathroom),11).
#example holdsAt(location(mary,bathroom),12).
happensAt(journey(daniel,hallway),13).
happensAt(move(daniel,office),14).
#example holdsAt(location(daniel,office),15).
