happensAt(travel(john,bathroom),1).
happensAt(go_back(john,hallway),2).
#example holdsAt(location(john,hallway),3).
happensAt(go(mary,garden),4).
happensAt(travel(mary,hallway),5).
#example holdsAt(location(john,hallway),6).
happensAt(go_back(mary,bedroom),7).
happensAt(go_back(daniel,office),8).
#example holdsAt(location(john,hallway),9).
happensAt(go(mary,hallway),10).
happensAt(move(john,kitchen),11).
#example holdsAt(location(mary,hallway),12).
happensAt(go(john,office),13).
happensAt(travel(john,bathroom),14).
#example holdsAt(location(daniel,office),15).
