happensAt(move(daniel,hallway),1).
happensAt(journey(daniel,bedroom),2).
#example holdsAt(location(daniel,bedroom),3).
happensAt(journey(john,office),4).
happensAt(go_back(john,bathroom),5).
#example holdsAt(location(john,bathroom),6).
happensAt(go_back(sandra,hallway),7).
happensAt(go_back(sandra,kitchen),8).
#example holdsAt(location(sandra,kitchen),9).
happensAt(go(mary,bedroom),10).
happensAt(go_back(sandra,garden),11).
#example holdsAt(location(sandra,garden),12).
#example not holdsAt(location(sandra,kitchen),12).
happensAt(move(john,bedroom),13).
happensAt(travel(john,bathroom),14).
#example holdsAt(location(sandra,garden),15).
#example not holdsAt(location(sandra,kitchen),15).
