happensAt(journey(daniel,garden),1).
happensAt(journey(mary,kitchen),2).
#example holdsAt(location(mary,kitchen),3).
happensAt(go_back(sandra,kitchen),4).
happensAt(travel(sandra,office),5).
#example holdsAt(location(sandra,office),6).
happensAt(move(john,bathroom),7).
happensAt(go_back(mary,bathroom),8).
#example holdsAt(location(mary,bathroom),9).
#example not holdsAt(location(mary,kitchen),9).
happensAt(journey(john,bedroom),10).
happensAt(move(sandra,garden),11).
#example holdsAt(location(sandra,garden),12).
#example not holdsAt(location(sandra,office),12).
happensAt(go(mary,hallway),13).
happensAt(move(daniel,office),14).
#example holdsAt(location(mary,hallway),15).
#example not holdsAt(location(mary,kitchen),15).
#example not holdsAt(location(mary,bathroom),15).
