happensAt(go(daniel,bathroom),1).
happensAt(move(mary,kitchen),2).
#example holdsAt(location(mary,kitchen),3).
happensAt(go(daniel,kitchen),4).
happensAt(go(john,bedroom),5).
#example holdsAt(location(daniel,kitchen),6).
happensAt(go(sandra,hallway),7).
happensAt(go_back(john,office),8).
#example holdsAt(location(mary,kitchen),9).
happensAt(go_back(mary,garden),10).
happensAt(go(john,hallway),11).
#example holdsAt(location(sandra,hallway),12).
happensAt(go(sandra,garden),13).
happensAt(move(sandra,hallway),14).
#example holdsAt(location(mary,garden),15).
#example not holdsAt(location(mary,kitchen),15).
