happensAt(go(john,hallway),1).
happensAt(travel(mary,kitchen),2).
#example holdsAt(location(mary,kitchen),3).
happensAt(go(mary,garden),4).
happensAt(journey(mary,bedroom),5).
#example holdsAt(location(john,hallway),6).
happensAt(travel(mary,garden),7).
happensAt(go_back(daniel,bathroom),8).
#example holdsAt(location(mary,garden),9).
#example not holdsAt(location(mary,kitchen),9).
happensAt(move(sandra,bedroom),10).
happensAt(go(mary,bedroom),11).
#example holdsAt(location(mary,bedroom),12).
#example not holdsAt(location(mary,garden),12).
#example not holdsAt(location(mary,kitchen),12).
happensAt(go_back(mary,hallway),13).
happensAt(travel(john,garden),14).
#example holdsAt(location(mary,hallway),15).
#example not holdsAt(location(mary,garden),15).
#example not holdsAt(location(mary,kitchen),15).
#example not holdsAt(location(mary,bedroom),15).
