happensAt(travel(daniel,bedroom),1).
happensAt(journey(john,kitchen),2).
#example holdsAt(location(daniel,bedroom),3).
happensAt(travel(daniel,bathroom),4).
happensAt(go(mary,bathroom),5).
#example holdsAt(location(mary,bathroom),6).
happensAt(go(sandra,hallway),7).
happensAt(go(john,office),8).
#example holdsAt(location(john,office),9).
happensAt(move(daniel,garden),10).
happensAt(move(mary,kitchen),11).
#example holdsAt(location(mary,kitchen),12).
#example not holdsAt(location(mary,bathroom),12).
happensAt(travel(mary,garden),13).
happensAt(journey(sandra,office),14).
#example holdsAt(location(mary,garden),15).
#example not holdsAt(location(mary,kitchen),15).
#example not holdsAt(location(mary,bathroom),15).
