happensAt(go(mary,bedroom),1).
happensAt(journey(sandra,hallway),2).
#example holdsAt(location(sandra,hallway),3).
happensAt(go(daniel,hallway),4).
happensAt(go_back(sandra,bedroom),5).
#example holdsAt(location(daniel,hallway),6).
happensAt(go_back(sandra,hallway),7).
happensAt(travel(daniel,garden),8).
#example holdsAt(location(sandra,hallway),9).
happensAt(go(john,bedroom),10).
happensAt(go_back(sandra,bathroom),11).
#example holdsAt(location(sandra,bathroom),12).
#example not holdsAt(location(sandra,hallway),12).
happensAt(go(sandra,garden),13).
happensAt(journey(john,bathroom),14).
#example holdsAt(location(john,bathroom),15).
