happensAt(move(john,hallway),1).
happensAt(move(john,garden),2).
#example holdsAt(location(john,garden),3).
happensAt(go_back(john,kitchen),4).
happensAt(move(sandra,hallway),5).
#example holdsAt(location(john,kitchen),6).
#example not holdsAt(location(john,garden),6).
happensAt(go_back(mary,kitchen),7).
happensAt(travel(sandra,bedroom),8).
#example holdsAt(location(sandra,bedroom),9).
happensAt(go_back(mary,bathroom),10).
happensAt(go(mary,kitchen),11).
#example holdsAt(location(mary,kitchen),12).
happensAt(journey(daniel,garden),13).
happensAt(journey(john,bathroom),14).
#example holdsAt(location(daniel,garden),15).
