happensAt(journey(sandra,kitchen),1).
happensAt(travel(daniel,office),2).
happensAt(travel(john,bathroom),3).
happensAt(move(sandra,bathroom),4).
happensAt(goback(mary,garden),5).
happensAt(grab(mary,milk),6).
happensAt(leave(mary,milk),7).
happensAt(journey(sandra,garden),8).
#example holdsAt(location(milk,garden),9).
#example holdsAt(location(milk,garden),8).
happensAt(journey(mary,bathroom),10).
happensAt(take(sandra,milk),11).
happensAt(move(daniel,bedroom),12).
happensAt(journey(daniel,kitchen),13).
happensAt(discard(sandra,milk),14).
happensAt(goback(daniel,bathroom),15).
#example holdsAt(location(milk,garden),16).
#example holdsAt(location(milk,garden),15).
happensAt(travel(john,kitchen),17).
happensAt(go(daniel,kitchen),18).
#example holdsAt(location(milk,garden),19).
#example holdsAt(location(milk,garden),15).
#example holdsAt(location(milk,garden),16).
#example holdsAt(location(milk,garden),17).
#example holdsAt(location(milk,garden),18).
happensAt(goback(mary,garden),20).
happensAt(grab(daniel,football),21).
happensAt(move(daniel,bedroom),22).
happensAt(grab(sandra,milk),23).
#example holdsAt(location(football,bedroom),24).
#example holdsAt(location(football,bedroom),23).
happensAt(putdown(sandra,milk),25).
happensAt(get(sandra,milk),26).
#example holdsAt(location(football,bedroom),27).
#example holdsAt(location(football,bedroom),23).
#example holdsAt(location(football,bedroom),24).
#example holdsAt(location(football,bedroom),25).
#example holdsAt(location(football,bedroom),26).
