happensAt(go(mary,office),1).
happensAt(goback(daniel,hallway),2).
happensAt(move(daniel,bedroom),3).
happensAt(goback(mary,garden),4).
happensAt(journey(daniel,hallway),5).
happensAt(move(sandra,garden),6).
happensAt(goback(daniel,bathroom),7).
happensAt(travel(daniel,office),8).
happensAt(travel(sandra,hallway),9).
happensAt(pickup(daniel,football),10).
happensAt(drop(daniel,football),11).
happensAt(grab(daniel,milk),12).
#example holdsAt(location(football,office),13).
#example holdsAt(location(football,office),12).
happensAt(travel(daniel,bedroom),14).
happensAt(travel(daniel,hallway),15).
#example holdsAt(location(football,office),16).
#example holdsAt(location(football,office),12).
#example holdsAt(location(football,office),13).
#example holdsAt(location(football,office),14).
#example holdsAt(location(football,office),15).
happensAt(goback(daniel,bedroom),17).
happensAt(travel(sandra,bathroom),18).
#example holdsAt(location(milk,bedroom),19).
#example holdsAt(location(milk,bedroom),18).
happensAt(move(mary,hallway),20).
happensAt(journey(daniel,bathroom),21).
happensAt(grab(daniel,apple),22).
happensAt(drop(daniel,apple),23).
#example holdsAt(location(apple,bathroom),24).
happensAt(travel(john,kitchen),25).
happensAt(travel(mary,office),26).
#example holdsAt(location(apple,bathroom),27).
#example holdsAt(location(apple,bathroom),24).
#example holdsAt(location(apple,bathroom),25).
#example holdsAt(location(apple,bathroom),26).
