happensAt(travel(mary,garden),1).
happensAt(travel(daniel,hallway),2).
happensAt(grab(john,football),3).
happensAt(goback(sandra,hallway),4).
happensAt(journey(sandra,bathroom),5).
happensAt(leave(john,football),6).
happensAt(pickup(sandra,apple),7).
happensAt(leave(sandra,apple),8).
#example holdsAt(location(apple,bathroom),9).
happensAt(go(mary,bathroom),10).
happensAt(take(sandra,apple),11).
happensAt(travel(john,bathroom),12).
happensAt(grab(mary,milk),13).
happensAt(grab(daniel,football),14).
happensAt(putdown(sandra,apple),15).
#example holdsAt(location(apple,bathroom),16).
happensAt(pickup(sandra,apple),17).
happensAt(journey(daniel,garden),18).
#example holdsAt(location(football,garden),19).
happensAt(putdown(mary,milk),20).
happensAt(get(mary,milk),21).
happensAt(move(john,office),22).
happensAt(drop(daniel,football),23).
#example holdsAt(location(football,garden),24).
happensAt(travel(sandra,bedroom),25).
happensAt(discard(mary,milk),26).
#example holdsAt(location(milk,bathroom),27).
