happensAt(journey(john,hallway),1).
happensAt(goback(john,bathroom),2).
happensAt(journey(daniel,kitchen),3).
happensAt(goback(mary,hallway),4).
happensAt(journey(john,bedroom),5).
happensAt(get(john,football),6).
happensAt(discard(john,football),7).
happensAt(move(john,garden),8).
#example holdsAt(location(football,bedroom),9).
#example holdsAt(location(football,bedroom),8).
happensAt(go(sandra,hallway),10).
happensAt(go(mary,kitchen),11).
#example holdsAt(location(football,bedroom),12).
#example holdsAt(location(football,bedroom),8).
#example holdsAt(location(football,bedroom),9).
#example holdsAt(location(football,bedroom),10).
#example holdsAt(location(football,bedroom),11).
happensAt(travel(mary,hallway),13).
happensAt(get(daniel,milk),14).
happensAt(grab(daniel,apple),15).
happensAt(move(mary,bathroom),16).
happensAt(go(sandra,kitchen),17).
happensAt(go(daniel,bathroom),18).
#example holdsAt(location(milk,bathroom),19).
happensAt(leave(daniel,apple),20).
happensAt(grab(daniel,apple),21).
happensAt(travel(daniel,kitchen),22).
happensAt(go(john,bedroom),23).
#example holdsAt(location(apple,kitchen),24).
#example holdsAt(location(apple,kitchen),23).
happensAt(travel(mary,garden),25).
happensAt(move(sandra,garden),26).
#example holdsAt(location(apple,kitchen),27).
#example holdsAt(location(apple,kitchen),23).
#example holdsAt(location(apple,kitchen),24).
#example holdsAt(location(apple,kitchen),25).
#example holdsAt(location(apple,kitchen),26).
