happensAt(move(sandra,bathroom),1).
happensAt(take(john,milk),2).
happensAt(move(sandra,kitchen),3).
happensAt(go(mary,bathroom),4).
happensAt(journey(mary,hallway),5).
happensAt(drop(john,milk),6).
happensAt(take(sandra,apple),7).
happensAt(goback(daniel,hallway),8).
happensAt(pickup(john,milk),9).
happensAt(goback(sandra,hallway),10).
#example holdsAt(location(apple,hallway),11).
happensAt(discard(john,milk),12).
happensAt(pickup(mary,milk),13).
happensAt(travel(mary,bathroom),14).
happensAt(travel(john,bedroom),15).
#example holdsAt(location(milk,bathroom),16).
#example holdsAt(location(milk,bathroom),15).
happensAt(grab(mary,football),17).
happensAt(goback(sandra,kitchen),18).
#example holdsAt(location(milk,bathroom),19).
#example holdsAt(location(milk,bathroom),15).
#example holdsAt(location(milk,bathroom),16).
#example holdsAt(location(milk,bathroom),17).
#example holdsAt(location(milk,bathroom),18).
happensAt(move(daniel,bathroom),20).
happensAt(travel(john,garden),21).
happensAt(move(daniel,hallway),22).
happensAt(leave(mary,milk),23).
#example holdsAt(location(milk,bathroom),24).
happensAt(putdown(sandra,apple),25).
happensAt(goback(john,office),26).
#example holdsAt(location(apple,kitchen),27).
#example not holdsAt(location(apple,hallway),27).
#example holdsAt(location(apple,kitchen),26).
