happensAt(go(daniel,hallway),1).
happensAt(pickup(sandra,football),2).
happensAt(goback(mary,bathroom),3).
happensAt(leave(sandra,football),4).
happensAt(journey(john,office),5).
happensAt(go(mary,hallway),6).
happensAt(take(sandra,football),7).
happensAt(goback(john,hallway),8).
happensAt(move(john,kitchen),9).
happensAt(move(mary,garden),10).
happensAt(drop(sandra,football),11).
happensAt(get(mary,apple),12).
happensAt(journey(sandra,bathroom),13).
happensAt(goback(daniel,bedroom),14).
happensAt(move(mary,bedroom),15).
happensAt(get(sandra,milk),16).
#example holdsAt(location(apple,bedroom),17).
#example holdsAt(location(apple,bedroom),16).
happensAt(putdown(sandra,milk),18).
happensAt(putdown(mary,apple),19).
#example holdsAt(location(milk,bathroom),20).
#example holdsAt(location(milk,bathroom),19).
happensAt(goback(mary,office),21).
happensAt(pickup(mary,football),22).
#example holdsAt(location(milk,bathroom),23).
#example holdsAt(location(milk,bathroom),19).
#example holdsAt(location(milk,bathroom),20).
#example holdsAt(location(milk,bathroom),21).
#example holdsAt(location(milk,bathroom),22).
happensAt(journey(john,bedroom),24).
happensAt(go(sandra,office),25).
#example holdsAt(location(apple,bedroom),26).
#example holdsAt(location(apple,bedroom),20).
#example holdsAt(location(apple,bedroom),21).
#example holdsAt(location(apple,bedroom),22).
#example holdsAt(location(apple,bedroom),23).
#example holdsAt(location(apple,bedroom),24).
#example holdsAt(location(apple,bedroom),25).
happensAt(travel(mary,garden),27).
happensAt(move(john,office),28).
#example holdsAt(location(football,garden),29).
#example holdsAt(location(football,garden),28).
