happensAt(go(daniel,kitchen),1).
happensAt(goback(sandra,kitchen),2).
happensAt(move(john,hallway),3).
happensAt(go(mary,kitchen),4).
happensAt(travel(sandra,bathroom),5).
happensAt(goback(john,bedroom),6).
happensAt(travel(daniel,bedroom),7).
happensAt(journey(daniel,garden),8).
happensAt(goback(sandra,bedroom),9).
happensAt(go(john,garden),10).
happensAt(move(sandra,kitchen),11).
happensAt(go(mary,hallway),12).
happensAt(take(daniel,apple),13).
happensAt(move(mary,kitchen),14).
happensAt(move(sandra,bathroom),15).
happensAt(leave(daniel,apple),16).
#example holdsAt(location(apple,garden),17).
happensAt(journey(john,kitchen),18).
happensAt(travel(john,bathroom),19).
#example holdsAt(location(apple,garden),20).
#example holdsAt(location(apple,garden),17).
#example holdsAt(location(apple,garden),18).
#example holdsAt(location(apple,garden),19).
happensAt(travel(sandra,office),21).
happensAt(get(sandra,milk),22).
#example holdsAt(location(apple,garden),23).
#example holdsAt(location(apple,garden),17).
#example holdsAt(location(apple,garden),18).
#example holdsAt(location(apple,garden),19).
#example holdsAt(location(apple,garden),20).
#example holdsAt(location(apple,garden),21).
#example holdsAt(location(apple,garden),22).
happensAt(pickup(daniel,apple),24).
happensAt(go(sandra,hallway),25).
#example holdsAt(location(milk,hallway),26).
happensAt(leave(sandra,milk),27).
happensAt(go(mary,garden),28).
#example holdsAt(location(milk,hallway),29).
#example holdsAt(location(milk,hallway),28).
