happensAt(get(daniel,apple),1).
happensAt(take(sandra,football),2).
happensAt(grab(mary,milk),3).
happensAt(discard(sandra,football),4).
happensAt(putdown(daniel,apple),5).
happensAt(travel(john,kitchen),6).
happensAt(pickup(daniel,apple),7).
happensAt(drop(mary,milk),8).
happensAt(discard(daniel,apple),9).
happensAt(move(john,hallway),10).
happensAt(travel(sandra,bathroom),11).
happensAt(get(daniel,apple),12).
happensAt(grab(sandra,milk),13).
happensAt(journey(sandra,garden),14).
#example holdsAt(location(milk,garden),15).
happensAt(drop(daniel,apple),16).
happensAt(leave(sandra,milk),17).
#example holdsAt(location(milk,garden),18).
happensAt(travel(daniel,bedroom),19).
happensAt(move(sandra,bedroom),20).
#example holdsAt(location(milk,garden),21).
#example holdsAt(location(milk,garden),18).
#example holdsAt(location(milk,garden),19).
#example holdsAt(location(milk,garden),20).
happensAt(travel(daniel,garden),22).
happensAt(journey(mary,office),23).
#example holdsAt(location(milk,garden),24).
#example holdsAt(location(milk,garden),18).
#example holdsAt(location(milk,garden),19).
#example holdsAt(location(milk,garden),20).
#example holdsAt(location(milk,garden),21).
#example holdsAt(location(milk,garden),22).
#example holdsAt(location(milk,garden),23).
happensAt(journey(mary,hallway),25).
happensAt(pickup(daniel,football),26).
happensAt(get(daniel,milk),27).
happensAt(putdown(daniel,milk),28).
#example holdsAt(location(milk,garden),29).
