happensAt(take(daniel,milk),1).
happensAt(grab(john,football),2).
happensAt(journey(john,bathroom),3).
happensAt(leave(john,football),4).
#example holdsAt(location(football,bathroom),5).
happensAt(journey(daniel,garden),6).
happensAt(move(john,kitchen),7).
#example holdsAt(location(football,bathroom),8).
#example holdsAt(location(football,bathroom),5).
#example holdsAt(location(football,bathroom),6).
#example holdsAt(location(football,bathroom),7).
happensAt(goback(mary,bathroom),9).
happensAt(go(mary,garden),10).
#example holdsAt(location(football,bathroom),11).
#example holdsAt(location(football,bathroom),5).
#example holdsAt(location(football,bathroom),6).
#example holdsAt(location(football,bathroom),7).
#example holdsAt(location(football,bathroom),8).
#example holdsAt(location(football,bathroom),9).
#example holdsAt(location(football,bathroom),10).
happensAt(journey(sandra,bedroom),12).
happensAt(leave(daniel,milk),13).
#example holdsAt(location(milk,garden),14).
happensAt(take(daniel,milk),15).
happensAt(go(john,bedroom),16).
happensAt(journey(daniel,hallway),17).
happensAt(goback(daniel,office),18).
#example holdsAt(location(milk,office),19).
#example not holdsAt(location(milk,garden),19).
