happensAt(goback(john,kitchen),1).
happensAt(take(mary,apple),2).
happensAt(discard(mary,apple),3).
happensAt(goback(mary,bathroom),4).
happensAt(move(john,garden),5).
happensAt(journey(mary,office),6).
happensAt(go(john,bathroom),7).
happensAt(pickup(mary,football),8).
happensAt(goback(daniel,hallway),9).
happensAt(go(mary,hallway),10).
#example holdsAt(location(football,hallway),11).
happensAt(goback(mary,bedroom),12).
happensAt(go(sandra,hallway),13).
#example holdsAt(location(football,bedroom),14).
#example not holdsAt(location(football,hallway),14).
#example holdsAt(location(football,bedroom),13).
happensAt(goback(sandra,kitchen),15).
happensAt(journey(daniel,bedroom),16).
happensAt(go(sandra,office),17).
happensAt(journey(mary,bathroom),18).
happensAt(grab(sandra,milk),19).
happensAt(travel(daniel,garden),20).
happensAt(drop(mary,football),21).
happensAt(travel(sandra,bedroom),22).
#example holdsAt(location(football,bathroom),23).
#example not holdsAt(location(football,hallway),23).
#example not holdsAt(location(football,bedroom),23).
#example holdsAt(location(football,bathroom),22).
happensAt(take(john,football),24).
happensAt(drop(sandra,milk),25).
#example holdsAt(location(milk,bedroom),26).
happensAt(drop(john,football),27).
happensAt(take(mary,football),28).
#example holdsAt(location(milk,bedroom),29).
#example holdsAt(location(milk,bedroom),26).
#example holdsAt(location(milk,bedroom),27).
#example holdsAt(location(milk,bedroom),28).
