happensAt(go(john,garden),1).
happensAt(travel(mary,garden),2).
happensAt(journey(sandra,bathroom),3).
happensAt(goback(mary,bathroom),4).
happensAt(get(daniel,milk),5).
happensAt(go(daniel,office),6).
#example holdsAt(location(milk,office),7).
happensAt(grab(mary,apple),8).
happensAt(discard(daniel,milk),9).
#example holdsAt(location(milk,office),10).
happensAt(leave(mary,apple),11).
happensAt(go(john,bathroom),12).
#example holdsAt(location(milk,office),13).
#example holdsAt(location(milk,office),10).
#example holdsAt(location(milk,office),11).
#example holdsAt(location(milk,office),12).
happensAt(pickup(sandra,apple),14).
happensAt(go(daniel,garden),15).
#example holdsAt(location(milk,office),16).
#example holdsAt(location(milk,office),10).
#example holdsAt(location(milk,office),11).
#example holdsAt(location(milk,office),12).
#example holdsAt(location(milk,office),13).
#example holdsAt(location(milk,office),14).
#example holdsAt(location(milk,office),15).
happensAt(putdown(sandra,apple),17).
happensAt(travel(mary,garden),18).
#example holdsAt(location(apple,bathroom),19).
#example holdsAt(location(apple,bathroom),18).
