happensAt(grab(sandra,football),1).
happensAt(grab(john,apple),2).
happensAt(move(daniel,bedroom),3).
happensAt(go(mary,bedroom),4).
happensAt(discard(john,apple),5).
happensAt(drop(sandra,football),6).
happensAt(goback(john,hallway),7).
happensAt(journey(sandra,kitchen),8).
happensAt(goback(john,bathroom),9).
happensAt(take(sandra,apple),10).
happensAt(travel(daniel,bathroom),11).
happensAt(pickup(daniel,milk),12).
happensAt(goback(sandra,bedroom),13).
happensAt(move(mary,bathroom),14).
#example holdsAt(location(apple,bedroom),15).
#example holdsAt(location(apple,bedroom),14).
happensAt(journey(mary,bedroom),16).
happensAt(move(sandra,garden),17).
happensAt(discard(daniel,milk),18).
happensAt(goback(john,bedroom),19).
#example holdsAt(location(milk,bathroom),20).
#example holdsAt(location(milk,bathroom),19).
happensAt(discard(sandra,apple),21).
happensAt(travel(john,hallway),22).
#example holdsAt(location(milk,bathroom),23).
#example holdsAt(location(milk,bathroom),19).
#example holdsAt(location(milk,bathroom),20).
#example holdsAt(location(milk,bathroom),21).
#example holdsAt(location(milk,bathroom),22).
happensAt(move(john,garden),24).
happensAt(take(daniel,milk),25).
#example holdsAt(location(apple,garden),26).
#example not holdsAt(location(apple,bedroom),26).
#example holdsAt(location(apple,garden),22).
#example holdsAt(location(apple,garden),23).
#example holdsAt(location(apple,garden),24).
#example holdsAt(location(apple,garden),25).
happensAt(go(mary,garden),27).
happensAt(grab(mary,football),28).
happensAt(journey(daniel,kitchen),29).
happensAt(goback(john,kitchen),30).
#example holdsAt(location(milk,kitchen),31).
#example not holdsAt(location(milk,bathroom),31).
#example holdsAt(location(milk,kitchen),30).
