happensAt(get(mary,football),1).
happensAt(leave(mary,football),2).
happensAt(move(daniel,bedroom),3).
happensAt(go(sandra,office),4).
happensAt(move(john,hallway),5).
happensAt(journey(daniel,kitchen),6).
happensAt(travel(daniel,bathroom),7).
happensAt(go(sandra,bedroom),8).
happensAt(goback(sandra,office),9).
happensAt(travel(mary,bedroom),10).
happensAt(journey(mary,bathroom),11).
happensAt(go(john,bedroom),12).
happensAt(get(daniel,football),13).
happensAt(leave(daniel,football),14).
#example holdsAt(location(football,bathroom),15).
happensAt(pickup(mary,football),16).
happensAt(travel(daniel,kitchen),17).
happensAt(goback(daniel,garden),18).
happensAt(travel(mary,garden),19).
#example holdsAt(location(football,garden),20).
#example not holdsAt(location(football,bathroom),20).
happensAt(go(daniel,kitchen),21).
happensAt(go(mary,office),22).
happensAt(go(sandra,garden),23).
happensAt(leave(mary,football),24).
#example holdsAt(location(football,office),25).
#example not holdsAt(location(football,garden),25).
#example not holdsAt(location(football,bathroom),25).
happensAt(grab(sandra,apple),26).
happensAt(leave(sandra,apple),27).
#example holdsAt(location(apple,garden),28).
happensAt(go(mary,bedroom),29).
happensAt(goback(john,hallway),30).
#example holdsAt(location(apple,garden),31).
#example holdsAt(location(apple,garden),28).
#example holdsAt(location(apple,garden),29).
#example holdsAt(location(apple,garden),30).
