happensAt(travel(mary,garden),1).
happensAt(go(mary,bathroom),2).
happensAt(move(john,hallway),3).
happensAt(travel(daniel,office),4).
happensAt(pickup(john,football),5).
happensAt(pickup(sandra,milk),6).
happensAt(drop(sandra,milk),7).
happensAt(goback(john,office),8).
#example holdsAt(location(football,office),9).
happensAt(goback(daniel,kitchen),10).
happensAt(travel(sandra,bathroom),11).
happensAt(pickup(daniel,apple),12).
happensAt(go(daniel,office),13).
#example holdsAt(location(apple,office),14).
happensAt(travel(sandra,bedroom),15).
happensAt(leave(daniel,apple),16).
#example holdsAt(location(apple,office),17).
happensAt(go(mary,bedroom),18).
happensAt(grab(john,apple),19).
happensAt(goback(mary,bathroom),20).
happensAt(travel(daniel,kitchen),21).
happensAt(journey(daniel,bathroom),22).
happensAt(drop(john,football),23).
#example holdsAt(location(football,office),24).
happensAt(goback(daniel,bedroom),25).
happensAt(pickup(john,football),26).
happensAt(move(mary,bedroom),27).
happensAt(go(daniel,office),28).
happensAt(go(daniel,bathroom),29).
happensAt(move(daniel,hallway),30).
happensAt(putdown(john,football),31).
happensAt(go(daniel,kitchen),32).
#example holdsAt(location(football,office),33).
#example holdsAt(location(football,office),32).
