happensAt(travel(mary,kitchen),1).
happensAt(travel(daniel,hallway),2).
happensAt(travel(sandra,garden),3).
happensAt(go(john,kitchen),4).
happensAt(take(sandra,milk),5).
happensAt(travel(mary,garden),6).
happensAt(journey(mary,kitchen),7).
happensAt(travel(sandra,bedroom),8).
#example holdsAt(location(milk,bedroom),9).
happensAt(goback(daniel,office),10).
happensAt(go(sandra,kitchen),11).
happensAt(go(mary,hallway),12).
happensAt(go(daniel,hallway),13).
happensAt(travel(sandra,hallway),14).
happensAt(goback(john,bathroom),15).
happensAt(discard(sandra,milk),16).
happensAt(journey(sandra,garden),17).
#example holdsAt(location(milk,hallway),18).
#example not holdsAt(location(milk,bedroom),18).
#example holdsAt(location(milk,hallway),17).
happensAt(grab(mary,milk),19).
happensAt(goback(sandra,kitchen),20).
happensAt(move(sandra,hallway),21).
happensAt(go(john,office),22).
happensAt(journey(mary,garden),23).
happensAt(get(john,apple),24).
happensAt(goback(john,hallway),25).
happensAt(goback(mary,hallway),26).
#example holdsAt(location(apple,hallway),27).
#example holdsAt(location(apple,hallway),26).
happensAt(putdown(mary,milk),28).
happensAt(move(sandra,garden),29).
#example holdsAt(location(milk,hallway),30).
#example not holdsAt(location(milk,bedroom),30).
#example holdsAt(location(milk,hallway),29).
happensAt(putdown(john,apple),31).
happensAt(grab(mary,apple),32).
#example holdsAt(location(milk,hallway),33).
#example not holdsAt(location(milk,bedroom),33).
#example holdsAt(location(milk,hallway),29).
#example holdsAt(location(milk,hallway),30).
#example holdsAt(location(milk,hallway),31).
#example holdsAt(location(milk,hallway),32).
