happensAt(move(sandra,office),1).
happensAt(take(mary,milk),2).
happensAt(go(daniel,office),3).
happensAt(journey(john,kitchen),4).
happensAt(go(daniel,bathroom),5).
happensAt(pickup(daniel,football),6).
happensAt(journey(john,hallway),7).
happensAt(get(daniel,apple),8).
happensAt(discard(mary,milk),9).
happensAt(take(mary,milk),10).
happensAt(move(john,office),11).
happensAt(discard(daniel,football),12).
#example holdsAt(location(football,bathroom),13).
happensAt(travel(daniel,bedroom),14).
happensAt(go(mary,bedroom),15).
#example holdsAt(location(football,bathroom),16).
#example holdsAt(location(football,bathroom),13).
#example holdsAt(location(football,bathroom),14).
#example holdsAt(location(football,bathroom),15).
happensAt(discard(mary,milk),17).
happensAt(travel(mary,hallway),18).
#example holdsAt(location(milk,bedroom),19).
#example holdsAt(location(milk,bedroom),18).
happensAt(grab(daniel,milk),20).
happensAt(journey(sandra,hallway),21).
happensAt(journey(john,bathroom),22).
happensAt(take(john,football),23).
happensAt(journey(daniel,kitchen),24).
happensAt(journey(mary,bedroom),25).
happensAt(journey(sandra,bedroom),26).
happensAt(move(mary,garden),27).
happensAt(putdown(john,football),28).
happensAt(discard(daniel,apple),29).
#example holdsAt(location(football,bathroom),30).
#example holdsAt(location(football,bathroom),29).
happensAt(go(sandra,bathroom),31).
happensAt(grab(sandra,football),32).
#example holdsAt(location(apple,kitchen),33).
#example holdsAt(location(apple,kitchen),30).
#example holdsAt(location(apple,kitchen),31).
#example holdsAt(location(apple,kitchen),32).
