happensAt(go(mary,bedroom),1).
happensAt(move(sandra,kitchen),2).
happensAt(move(mary,bathroom),3).
happensAt(get(john,apple),4).
happensAt(move(mary,office),5).
happensAt(get(daniel,football),6).
happensAt(discard(daniel,football),7).
happensAt(goback(daniel,hallway),8).
happensAt(journey(sandra,hallway),9).
happensAt(travel(daniel,office),10).
happensAt(goback(mary,hallway),11).
happensAt(journey(mary,garden),12).
happensAt(journey(daniel,hallway),13).
happensAt(go(daniel,office),14).
happensAt(putdown(john,apple),15).
happensAt(pickup(john,apple),16).
happensAt(travel(john,hallway),17).
happensAt(journey(mary,bathroom),18).
#example holdsAt(location(apple,hallway),19).
#example holdsAt(location(apple,hallway),18).
happensAt(get(daniel,milk),20).
happensAt(go(mary,bedroom),21).
#example holdsAt(location(apple,hallway),22).
#example holdsAt(location(apple,hallway),18).
#example holdsAt(location(apple,hallway),19).
#example holdsAt(location(apple,hallway),20).
#example holdsAt(location(apple,hallway),21).
happensAt(putdown(daniel,milk),23).
happensAt(journey(john,office),24).
#example holdsAt(location(milk,office),25).
#example holdsAt(location(milk,office),24).
happensAt(journey(john,bathroom),26).
happensAt(move(john,office),27).
#example holdsAt(location(milk,office),28).
#example holdsAt(location(milk,office),24).
#example holdsAt(location(milk,office),25).
#example holdsAt(location(milk,office),26).
#example holdsAt(location(milk,office),27).
happensAt(travel(daniel,bedroom),29).
happensAt(journey(mary,garden),30).
happensAt(travel(daniel,bathroom),31).
happensAt(leave(john,apple),32).
#example holdsAt(location(apple,office),33).
#example not holdsAt(location(apple,hallway),33).
