happensAt(grab(mary,milk),1).
happensAt(putdown(mary,milk),2).
happensAt(pickup(sandra,apple),3).
happensAt(goback(john,kitchen),4).
happensAt(goback(mary,bathroom),5).
happensAt(travel(daniel,office),6).
happensAt(goback(daniel,kitchen),7).
happensAt(go(mary,hallway),8).
happensAt(leave(sandra,apple),9).
happensAt(go(daniel,hallway),10).
happensAt(go(mary,kitchen),11).
happensAt(goback(john,garden),12).
happensAt(go(daniel,bathroom),13).
happensAt(goback(mary,hallway),14).
happensAt(take(mary,milk),15).
happensAt(putdown(mary,milk),16).
#example holdsAt(location(milk,hallway),17).
happensAt(take(john,apple),18).
happensAt(take(mary,milk),19).
happensAt(leave(john,apple),20).
happensAt(move(john,hallway),21).
#example holdsAt(location(apple,garden),22).
#example holdsAt(location(apple,garden),21).
happensAt(journey(john,bedroom),23).
happensAt(journey(john,hallway),24).
#example holdsAt(location(apple,garden),25).
#example holdsAt(location(apple,garden),21).
#example holdsAt(location(apple,garden),22).
#example holdsAt(location(apple,garden),23).
#example holdsAt(location(apple,garden),24).
happensAt(go(mary,kitchen),26).
happensAt(get(sandra,apple),27).
happensAt(discard(sandra,apple),28).
happensAt(go(sandra,office),29).
happensAt(travel(sandra,bedroom),30).
happensAt(move(mary,garden),31).
happensAt(goback(john,garden),32).
happensAt(journey(mary,bathroom),33).
happensAt(travel(mary,bedroom),34).
happensAt(putdown(mary,milk),35).
#example holdsAt(location(milk,bedroom),36).
#example not holdsAt(location(milk,hallway),36).
happensAt(get(mary,football),37).
happensAt(grab(john,apple),38).
#example holdsAt(location(milk,bedroom),39).
#example not holdsAt(location(milk,hallway),39).
#example holdsAt(location(milk,bedroom),36).
#example holdsAt(location(milk,bedroom),37).
#example holdsAt(location(milk,bedroom),38).
