happensAt(take(mary,milk),1).
happensAt(grab(mary,football),2).
happensAt(journey(daniel,hallway),3).
happensAt(move(sandra,office),4).
happensAt(travel(john,hallway),5).
happensAt(discard(mary,milk),6).
happensAt(discard(mary,football),7).
happensAt(go(john,bedroom),8).
happensAt(move(mary,office),9).
happensAt(goback(mary,bedroom),10).
happensAt(goback(sandra,kitchen),11).
happensAt(go(john,kitchen),12).
happensAt(grab(sandra,apple),13).
happensAt(move(john,office),14).
happensAt(go(daniel,kitchen),15).
happensAt(putdown(sandra,apple),16).
#example holdsAt(location(apple,kitchen),17).
happensAt(get(daniel,apple),18).
happensAt(goback(sandra,garden),19).
happensAt(travel(sandra,bathroom),20).
happensAt(move(john,kitchen),21).
happensAt(get(sandra,milk),22).
happensAt(leave(sandra,milk),23).
#example holdsAt(location(milk,bathroom),24).
happensAt(go(mary,bathroom),25).
happensAt(grab(mary,milk),26).
happensAt(journey(sandra,hallway),27).
happensAt(move(sandra,garden),28).
happensAt(journey(john,bathroom),29).
happensAt(travel(daniel,garden),30).
happensAt(move(mary,bedroom),31).
happensAt(journey(sandra,kitchen),32).
happensAt(goback(mary,office),33).
happensAt(pickup(john,football),34).
happensAt(discard(john,football),35).
happensAt(goback(mary,bathroom),36).
#example holdsAt(location(football,bathroom),37).
#example holdsAt(location(football,bathroom),36).
happensAt(drop(mary,milk),38).
happensAt(go(daniel,hallway),39).
#example holdsAt(location(football,bathroom),40).
#example holdsAt(location(football,bathroom),36).
#example holdsAt(location(football,bathroom),37).
#example holdsAt(location(football,bathroom),38).
#example holdsAt(location(football,bathroom),39).
happensAt(take(john,football),41).
happensAt(get(john,milk),42).
happensAt(discard(john,football),43).
happensAt(get(john,football),44).
happensAt(travel(sandra,office),45).
happensAt(discard(john,milk),46).
#example holdsAt(location(milk,bathroom),47).
