happensAt(grab(sandra,milk),1).
happensAt(travel(mary,office),2).
happensAt(goback(daniel,garden),3).
happensAt(discard(sandra,milk),4).
happensAt(get(john,apple),5).
happensAt(pickup(mary,football),6).
happensAt(travel(john,kitchen),7).
happensAt(go(mary,hallway),8).
#example holdsAt(location(football,hallway),9).
happensAt(take(john,milk),10).
happensAt(move(daniel,kitchen),11).
#example holdsAt(location(football,hallway),12).
#example holdsAt(location(football,hallway),9).
#example holdsAt(location(football,hallway),10).
#example holdsAt(location(football,hallway),11).
happensAt(move(mary,kitchen),13).
happensAt(leave(mary,football),14).
#example holdsAt(location(football,kitchen),15).
#example not holdsAt(location(football,hallway),15).
happensAt(pickup(mary,football),16).
happensAt(travel(mary,bedroom),17).
#example holdsAt(location(football,bedroom),18).
#example not holdsAt(location(football,hallway),18).
#example not holdsAt(location(football,kitchen),18).
happensAt(journey(mary,bathroom),19).
happensAt(drop(john,milk),20).
#example holdsAt(location(milk,kitchen),21).
