happensAt(travel(mary,office),1).
happensAt(journey(mary,garden),2).
happensAt(get(john,milk),3).
happensAt(pickup(mary,apple),4).
happensAt(grab(daniel,football),5).
happensAt(goback(john,kitchen),6).
#example holdsAt(location(milk,kitchen),7).
happensAt(leave(daniel,football),8).
happensAt(goback(sandra,hallway),9).
happensAt(travel(daniel,garden),10).
happensAt(drop(mary,apple),11).
#example holdsAt(location(apple,garden),12).
happensAt(move(sandra,office),13).
happensAt(putdown(john,milk),14).
#example holdsAt(location(milk,kitchen),15).
happensAt(take(mary,apple),16).
happensAt(journey(daniel,kitchen),17).
#example holdsAt(location(milk,kitchen),18).
#example holdsAt(location(milk,kitchen),15).
#example holdsAt(location(milk,kitchen),16).
#example holdsAt(location(milk,kitchen),17).
happensAt(journey(sandra,hallway),19).
happensAt(goback(sandra,bathroom),20).
#example holdsAt(location(milk,kitchen),21).
#example holdsAt(location(milk,kitchen),15).
#example holdsAt(location(milk,kitchen),16).
#example holdsAt(location(milk,kitchen),17).
#example holdsAt(location(milk,kitchen),18).
#example holdsAt(location(milk,kitchen),19).
#example holdsAt(location(milk,kitchen),20).
