happensAt(goback(john,garden),1).
happensAt(pickup(daniel,apple),2).
happensAt(travel(sandra,bedroom),3).
happensAt(travel(john,bathroom),4).
happensAt(take(sandra,football),5).
happensAt(discard(daniel,apple),6).
happensAt(grab(mary,apple),7).
happensAt(travel(sandra,hallway),8).
#example holdsAt(location(football,hallway),9).
happensAt(discard(mary,apple),10).
happensAt(leave(sandra,football),11).
#example holdsAt(location(football,hallway),12).
happensAt(get(daniel,football),13).
happensAt(journey(daniel,bedroom),14).
#example holdsAt(location(football,bedroom),15).
#example not holdsAt(location(football,hallway),15).
happensAt(move(sandra,bathroom),16).
happensAt(journey(mary,office),17).
#example holdsAt(location(football,bedroom),18).
#example not holdsAt(location(football,hallway),18).
#example holdsAt(location(football,bedroom),15).
#example holdsAt(location(football,bedroom),16).
#example holdsAt(location(football,bedroom),17).
happensAt(discard(daniel,football),19).
happensAt(move(john,garden),20).
#example holdsAt(location(football,bedroom),21).
#example not holdsAt(location(football,hallway),21).
#example holdsAt(location(football,bedroom),20).
