happensAt(take(john,apple),1).
happensAt(go(sandra,bathroom),2).
happensAt(drop(john,apple),3).
happensAt(get(sandra,milk),4).
happensAt(leave(sandra,milk),5).
happensAt(goback(daniel,hallway),6).
#example holdsAt(location(milk,bathroom),7).
#example holdsAt(location(milk,bathroom),6).
happensAt(go(daniel,kitchen),8).
happensAt(journey(john,bathroom),9).
#example holdsAt(location(milk,bathroom),10).
#example holdsAt(location(milk,bathroom),6).
#example holdsAt(location(milk,bathroom),7).
#example holdsAt(location(milk,bathroom),8).
#example holdsAt(location(milk,bathroom),9).
happensAt(pickup(john,milk),11).
happensAt(journey(daniel,garden),12).
happensAt(drop(john,milk),13).
happensAt(goback(john,office),14).
#example holdsAt(location(milk,bathroom),15).
#example holdsAt(location(milk,bathroom),14).
happensAt(travel(john,kitchen),16).
happensAt(travel(sandra,hallway),17).
#example holdsAt(location(milk,bathroom),18).
#example holdsAt(location(milk,bathroom),14).
#example holdsAt(location(milk,bathroom),15).
#example holdsAt(location(milk,bathroom),16).
#example holdsAt(location(milk,bathroom),17).
happensAt(grab(john,football),19).
happensAt(go(mary,bedroom),20).
happensAt(go(mary,office),21).
happensAt(journey(john,hallway),22).
#example holdsAt(location(football,hallway),23).
