happensAt(pickup(daniel,milk),1).
happensAt(journey(john,bathroom),2).
happensAt(travel(mary,office),3).
happensAt(travel(mary,hallway),4).
happensAt(leave(daniel,milk),5).
happensAt(get(sandra,milk),6).
happensAt(travel(sandra,hallway),7).
happensAt(goback(john,garden),8).
#example holdsAt(location(milk,hallway),9).
#example holdsAt(location(milk,hallway),8).
happensAt(get(john,apple),10).
happensAt(travel(john,bathroom),11).
#example holdsAt(location(milk,hallway),12).
#example holdsAt(location(milk,hallway),8).
#example holdsAt(location(milk,hallway),9).
#example holdsAt(location(milk,hallway),10).
#example holdsAt(location(milk,hallway),11).
happensAt(move(daniel,hallway),13).
happensAt(discard(john,apple),14).
#example holdsAt(location(apple,bathroom),15).
happensAt(travel(mary,bedroom),16).
happensAt(pickup(john,apple),17).
happensAt(putdown(sandra,milk),18).
happensAt(travel(daniel,office),19).
#example holdsAt(location(milk,hallway),20).
#example holdsAt(location(milk,hallway),19).
happensAt(leave(john,apple),21).
happensAt(get(daniel,football),22).
#example holdsAt(location(apple,bathroom),23).
#example holdsAt(location(apple,bathroom),22).
