happensAt(move(sandra,garden),1).
happensAt(travel(daniel,hallway),2).
happensAt(goback(mary,garden),3).
happensAt(goback(sandra,office),4).
happensAt(go(mary,kitchen),5).
happensAt(move(sandra,bedroom),6).
happensAt(journey(john,kitchen),7).
happensAt(take(sandra,football),8).
happensAt(travel(sandra,garden),9).
happensAt(move(sandra,kitchen),10).
#example holdsAt(location(football,kitchen),11).
happensAt(drop(sandra,football),12).
happensAt(move(sandra,garden),13).
#example holdsAt(location(football,kitchen),14).
#example holdsAt(location(football,kitchen),13).
happensAt(travel(daniel,bedroom),15).
happensAt(go(john,hallway),16).
#example holdsAt(location(football,kitchen),17).
#example holdsAt(location(football,kitchen),13).
#example holdsAt(location(football,kitchen),14).
#example holdsAt(location(football,kitchen),15).
#example holdsAt(location(football,kitchen),16).
happensAt(pickup(mary,football),18).
happensAt(leave(mary,football),19).
#example holdsAt(location(football,kitchen),20).
happensAt(move(john,bathroom),21).
happensAt(go(daniel,office),22).
#example holdsAt(location(football,kitchen),23).
#example holdsAt(location(football,kitchen),20).
#example holdsAt(location(football,kitchen),21).
#example holdsAt(location(football,kitchen),22).
