happensAt(travel(john,bedroom),1).
happensAt(journey(mary,kitchen),2).
happensAt(travel(sandra,garden),3).
happensAt(goback(john,office),4).
happensAt(grab(sandra,apple),5).
happensAt(move(daniel,hallway),6).
happensAt(take(mary,football),7).
happensAt(go(daniel,garden),8).
happensAt(travel(mary,bedroom),9).
happensAt(putdown(sandra,apple),10).
#example holdsAt(location(football,bedroom),11).
#example holdsAt(location(football,bedroom),10).
happensAt(goback(daniel,bathroom),12).
happensAt(travel(daniel,kitchen),13).
#example holdsAt(location(apple,garden),14).
#example holdsAt(location(apple,garden),11).
#example holdsAt(location(apple,garden),12).
#example holdsAt(location(apple,garden),13).
happensAt(travel(sandra,hallway),15).
happensAt(travel(sandra,kitchen),16).
#example holdsAt(location(apple,garden),17).
#example holdsAt(location(apple,garden),11).
#example holdsAt(location(apple,garden),12).
#example holdsAt(location(apple,garden),13).
#example holdsAt(location(apple,garden),14).
#example holdsAt(location(apple,garden),15).
#example holdsAt(location(apple,garden),16).
happensAt(go(sandra,bedroom),18).
happensAt(journey(john,garden),19).
happensAt(discard(mary,football),20).
happensAt(travel(mary,bathroom),21).
#example holdsAt(location(football,bedroom),22).
#example holdsAt(location(football,bedroom),21).
happensAt(move(daniel,bedroom),23).
happensAt(travel(daniel,bathroom),24).
#example holdsAt(location(football,bedroom),25).
#example holdsAt(location(football,bedroom),21).
#example holdsAt(location(football,bedroom),22).
#example holdsAt(location(football,bedroom),23).
#example holdsAt(location(football,bedroom),24).
