happensAt(take(daniel,milk),1).
happensAt(discard(daniel,milk),2).
happensAt(grab(daniel,milk),3).
happensAt(get(sandra,football),4).
happensAt(move(john,bathroom),5).
happensAt(drop(sandra,football),6).
happensAt(move(sandra,office),7).
happensAt(journey(daniel,office),8).
happensAt(journey(john,garden),9).
happensAt(goback(john,kitchen),10).
happensAt(discard(daniel,milk),11).
happensAt(get(mary,football),12).
#example holdsAt(location(milk,office),13).
#example holdsAt(location(milk,office),12).
happensAt(travel(mary,office),14).
happensAt(pickup(mary,apple),15).
#example holdsAt(location(football,office),16).
#example holdsAt(location(football,office),15).
happensAt(journey(mary,bedroom),17).
happensAt(take(sandra,milk),18).
#example holdsAt(location(apple,bedroom),19).
#example holdsAt(location(apple,bedroom),18).
happensAt(leave(mary,football),20).
happensAt(goback(daniel,kitchen),21).
#example holdsAt(location(apple,bedroom),22).
#example holdsAt(location(apple,bedroom),18).
#example holdsAt(location(apple,bedroom),19).
#example holdsAt(location(apple,bedroom),20).
#example holdsAt(location(apple,bedroom),21).
happensAt(drop(sandra,milk),23).
happensAt(goback(daniel,hallway),24).
#example holdsAt(location(milk,office),25).
#example holdsAt(location(milk,office),24).
