holdsAt(fit(boxofchocolate,container),1).
holdsAt(bigger(suitcase,chocolate),1).
holdsAt(fit(container,suitcase),1).
holdsAt(fit(container,suitcase),1).
holdsAt(fit(boxofchocolate,container),1).

 #example holdsAt(fit(boxofchocolate,suitcase),1).

 #example holdsAt(bigger(suitcase,boxofchocolate),1).

 #example holdsAt(bigger(suitcase,boxofchocolate),1).

 #example holdsAt(bigger(suitcase,boxofchocolate),1).

 #example holdsAt(bigger(suitcase,boxofchocolate),1).
