holdsAt(bigger(suitcase,boxofchocolate),1).
holdsAt(bigger(box,chocolate),1).
holdsAt(fit(box,container),1).
holdsAt(fit(chest,suitcase),1).
holdsAt(fit(boxofchocolate,container),1).

 #example not holdsAt(fit(container,chocolate),1).

 #example not holdsAt(fit(container,chocolate),1).

 #example holdsAt(bigger(container,chocolate),1).

 #example not holdsAt(fit(container,chocolate),1).

 #example not holdsAt(bigger(chocolate,container),1).
