holdsAt(bigger(suitcase,container),1).
holdsAt(fit(container,chest),1).
holdsAt(fit(boxofchocolate,chest),1).
holdsAt(fit(container,chest),1).
holdsAt(fit(suitcase,box),1).

 #example not holdsAt(fit(box,container),1).

 #example not holdsAt(fit(box,container),1).

 #example not holdsAt(bigger(container,box),1).

 #example not holdsAt(bigger(container,box),1).

 #example holdsAt(fit(container,box),1).
