holdsAt(fit(container,suitcase),1).
holdsAt(fit(boxofchocolate,chest),1).
holdsAt(bigger(boxofchocolate,chocolate),1).
holdsAt(fit(chest,container),1).
holdsAt(fit(chest,suitcase),1).

 #example holdsAt(bigger(suitcase,chest),1).

 #example holdsAt(fit(chest,suitcase),1).

 #example holdsAt(fit(boxofchocolate,suitcase),1).

 #example holdsAt(fit(boxofchocolate,container),1).

 #example holdsAt(fit(chest,suitcase),1).
