holdsAt(bigger(container,boxofchocolate),1).
holdsAt(fit(chocolate,container),1).
holdsAt(fit(container,suitcase),1).
holdsAt(fit(chocolate,suitcase),1).
holdsAt(fit(chest,box),1).

 #example holdsAt(bigger(suitcase,boxofchocolate),1).

 #example holdsAt(fit(boxofchocolate,suitcase),1).

 #example holdsAt(fit(boxofchocolate,suitcase),1).

 #example holdsAt(bigger(suitcase,boxofchocolate),1).

 #example holdsAt(fit(boxofchocolate,suitcase),1).
