holdsAt(bigger(chest,chocolate),1).
holdsAt(fit(chocolate,chest),1).
holdsAt(fit(chocolate,suitcase),1).
holdsAt(fit(chest,suitcase),1).
holdsAt(fit(chocolate,box),1).

 #example holdsAt(bigger(suitcase,chocolate),1).

 #example holdsAt(bigger(suitcase,chocolate),1).

 #example holdsAt(fit(chocolate,suitcase),1).

 #example holdsAt(bigger(suitcase,chocolate),1).

 #example holdsAt(bigger(suitcase,chocolate),1).
