holdsAt(fit(chest,container),1).
holdsAt(fit(chest,container),1).
holdsAt(bigger(container,suitcase),1).
holdsAt(fit(chocolate,suitcase),1).
holdsAt(bigger(chest,box),1).

 #example not holdsAt(bigger(chocolate,container),1).

 #example not holdsAt(fit(container,box),1).

 #example not holdsAt(fit(container,chocolate),1).

 #example holdsAt(fit(chocolate,container),1).

 #example not holdsAt(fit(container,chocolate),1).
