holdsAt(fit(boxofchocolate,container),1).
holdsAt(fit(boxofchocolate,suitcase),1).
holdsAt(fit(suitcase,chest),1).
holdsAt(fit(chocolate,boxofchocolate),1).
holdsAt(fit(chocolate,chest),1).

 #example not holdsAt(fit(chest,boxofchocolate),1).

 #example holdsAt(fit(boxofchocolate,chest),1).

 #example holdsAt(fit(boxofchocolate,chest),1).

 #example holdsAt(fit(boxofchocolate,chest),1).

 #example not holdsAt(bigger(boxofchocolate,chest),1).
