holdsAt(bigger(box,chocolate),1).
holdsAt(fit(box,container),1).
holdsAt(fit(box,container),1).
holdsAt(fit(suitcase,container),1).
holdsAt(fit(chocolate,box),1).

 #example holdsAt(fit(chocolate,container),1).

 #example holdsAt(bigger(container,chocolate),1).

 #example holdsAt(fit(chocolate,container),1).

 #example holdsAt(bigger(container,chocolate),1).

 #example not holdsAt(fit(container,chocolate),1).
