holdsAt(bigger(suitcase,chocolate),1).
holdsAt(fit(chocolate,boxofchocolate),1).
holdsAt(fit(boxofchocolate,container),1).
holdsAt(bigger(suitcase,container),1).
holdsAt(bigger(boxofchocolate,chocolate),1).

 #example not holdsAt(bigger(boxofchocolate,suitcase),1).

 #example not holdsAt(bigger(chocolate,container),1).

 #example holdsAt(fit(boxofchocolate,suitcase),1).

 #example holdsAt(bigger(container,chocolate),1).

 #example holdsAt(fit(chocolate,container),1).
