holdsAt(bigger(boxofchocolate,chocolate),1).
holdsAt(fit(container,suitcase),1).
holdsAt(fit(chocolate,chest),1).
holdsAt(bigger(boxofchocolate,chocolate),1).
holdsAt(bigger(chest,boxofchocolate),1).

 #example holdsAt(fit(chocolate,chest),1).

 #example holdsAt(fit(chocolate,chest),1).

 #example holdsAt(bigger(chest,chocolate),1).

 #example holdsAt(fit(chocolate,chest),1).

 #example holdsAt(fit(chocolate,chest),1).
