holdsAt(fear(mouse,wolf),1).
holdsAt(domain(jessica,mouse),1).
holdsAt(fear(wolf,cat),1).
holdsAt(domain(gertrude,wolf),1).
holdsAt(fear(sheep,cat),1).
holdsAt(domain(emily,mouse),1).
holdsAt(fear(cat,mouse),1).
holdsAt(domain(winona,cat),1).
#example holdsAt(fear(winona,mouse),1).
#example not holdsAt(fear(winona,wolf),1).
#example not holdsAt(fear(winona,cat),1).
#example not holdsAt(fear(winona,sheep),1).
#example holdsAt(fear(emily,wolf),1).
#example not holdsAt(fear(emily,mouse),1).
#example not holdsAt(fear(emily,cat),1).
#example not holdsAt(fear(emily,sheep),1).
#example holdsAt(fear(jessica,wolf),1).
#example not holdsAt(fear(jessica,mouse),1).
#example not holdsAt(fear(jessica,cat),1).
#example not holdsAt(fear(jessica,sheep),1).
#example holdsAt(fear(jessica,wolf),1).
#example not holdsAt(fear(jessica,mouse),1).
#example not holdsAt(fear(jessica,cat),1).
#example not holdsAt(fear(jessica,sheep),1).
