holdsAt(domain(jason,tired),1).
#example holdsAt(possiblego(jason,bedroom),2).
 #example not holdsAt(possiblego(jason,garden),2).
 #example not holdsAt(possiblego(jason,kitchen),2).
 :- not initiatedAt(possiblego(jason,bedroom),1).

holdsAt(domain(yann,thirsty),1).
#example holdsAt(possiblego(yann,kitchen),4).
 #example not holdsAt(possiblego(yann,garden),4).
 #example not holdsAt(possiblego(yann,bedroom),4).
 :- not initiatedAt(possiblego(yann,kitchen),3).

happensAt(move(jason,bedroom),5).
#example holdsAt(causego(jason,tired),6).
 #example not holdsAt(causego(jason,hungry),6).
 #example not holdsAt(causego(jason,thirsty),6).
 #example not holdsAt(causego(jason,bored),6).
 :- not initiatedAt(causego(jason,tired),1).

holdsAt(domain(antoine,thirsty),1).
#example holdsAt(possiblego(antoine,kitchen),8).
 #example not holdsAt(possiblego(antoine,garden),8).
 #example not holdsAt(possiblego(antoine,bedroom),8).
 :- not initiatedAt(possiblego(antoine,kitchen),7).

happensAt(go(antoine,kitchen),9).
#example holdsAt(causego(antoine,thirsty),10).
 #example not holdsAt(causego(antoine,hungry),10).
 #example not holdsAt(causego(antoine,tired),10).
 #example not holdsAt(causego(antoine,bored),10).
 :- not initiatedAt(causego(antoine,thirsty),7).

happensAt(travel(yann,kitchen),11).
#example holdsAt(causego(yann,thirsty),12).
 #example not holdsAt(causego(yann,hungry),12).
 #example not holdsAt(causego(yann,tired),12).
 #example not holdsAt(causego(yann,bored),12).
 :- not initiatedAt(causego(yann,thirsty),3).

holdsAt(domain(sumit,hungry),1).
#example holdsAt(possiblego(sumit,kitchen),14).
 #example not holdsAt(possiblego(sumit,garden),14).
 #example not holdsAt(possiblego(sumit,bedroom),14).
 :- not initiatedAt(possiblego(sumit,kitchen),13).

happensAt(pickup(yann,milk),15).
#example holdsAt(causeget(yann,thirsty),16).
 #example not holdsAt(causeget(yann,hungry),16).
 #example not holdsAt(causeget(yann,tired),16).
 #example not holdsAt(causeget(yann,bored),16).
 :- not initiatedAt(causeget(yann,thirsty),3).

happensAt(journey(sumit,kitchen),17).
#example holdsAt(causego(sumit,hungry),18).
 #example not holdsAt(causego(sumit,thirsty),18).
 #example not holdsAt(causego(sumit,tired),18).
 #example not holdsAt(causego(sumit,bored),18).
 :- not initiatedAt(causego(sumit,hungry),13).

happensAt(pickup(sumit,apple),19).
#example holdsAt(causeget(sumit,hungry),20).
 #example not holdsAt(causeget(sumit,thirsty),20).
 #example not holdsAt(causeget(sumit,tired),20).
 #example not holdsAt(causeget(sumit,bored),20).
 :- not initiatedAt(causeget(sumit,hungry),13).

happensAt(pickup(jason,pajamas),21).
#example holdsAt(causeget(jason,tired),22).
 #example not holdsAt(causeget(jason,hungry),22).
 #example not holdsAt(causeget(jason,thirsty),22).
 #example not holdsAt(causeget(jason,bored),22).
 :- not initiatedAt(causeget(jason,tired),1).

