holdsAt(domain(yann,bored),1).
#example holdsAt(possiblego(yann,garden),2).
 #example not holdsAt(possiblego(yann,kitchen),2).
 #example not holdsAt(possiblego(yann,bedroom),2).
 :- not initiatedAt(possiblego(yann,garden),1).

holdsAt(domain(sumit,thirsty),1).
#example holdsAt(possiblego(sumit,kitchen),4).
 #example not holdsAt(possiblego(sumit,garden),4).
 #example not holdsAt(possiblego(sumit,bedroom),4).
 :- not initiatedAt(possiblego(sumit,kitchen),3).

holdsAt(domain(antoine,tired),1).
#example holdsAt(possiblego(antoine,bedroom),6).
 #example not holdsAt(possiblego(antoine,garden),6).
 #example not holdsAt(possiblego(antoine,kitchen),6).
 :- not initiatedAt(possiblego(antoine,bedroom),5).

happensAt(travel(antoine,bedroom),7).
#example holdsAt(causego(antoine,tired),8).
 #example not holdsAt(causego(antoine,hungry),8).
 #example not holdsAt(causego(antoine,thirsty),8).
 #example not holdsAt(causego(antoine,bored),8).
 :- not initiatedAt(causego(antoine,tired),5).

happensAt(goback(yann,garden),9).
#example holdsAt(causego(yann,bored),10).
 #example not holdsAt(causego(yann,hungry),10).
 #example not holdsAt(causego(yann,thirsty),10).
 #example not holdsAt(causego(yann,tired),10).
 :- not initiatedAt(causego(yann,bored),1).

holdsAt(domain(jason,bored),1).
#example holdsAt(possiblego(jason,garden),12).
 #example not holdsAt(possiblego(jason,kitchen),12).
 #example not holdsAt(possiblego(jason,bedroom),12).
 :- not initiatedAt(possiblego(jason,garden),11).

happensAt(goback(jason,garden),13).
#example holdsAt(causego(jason,bored),14).
 #example not holdsAt(causego(jason,hungry),14).
 #example not holdsAt(causego(jason,thirsty),14).
 #example not holdsAt(causego(jason,tired),14).
 :- not initiatedAt(causego(jason,bored),11).

happensAt(goback(sumit,kitchen),15).
#example holdsAt(causego(sumit,thirsty),16).
 #example not holdsAt(causego(sumit,hungry),16).
 #example not holdsAt(causego(sumit,tired),16).
 #example not holdsAt(causego(sumit,bored),16).
 :- not initiatedAt(causego(sumit,thirsty),3).

happensAt(pickup(jason,football),17).
#example holdsAt(causeget(jason,bored),18).
 #example not holdsAt(causeget(jason,hungry),18).
 #example not holdsAt(causeget(jason,thirsty),18).
 #example not holdsAt(causeget(jason,tired),18).
 :- not initiatedAt(causeget(jason,bored),11).

happensAt(get(antoine,pajamas),19).
#example holdsAt(causeget(antoine,tired),20).
 #example not holdsAt(causeget(antoine,hungry),20).
 #example not holdsAt(causeget(antoine,thirsty),20).
 #example not holdsAt(causeget(antoine,bored),20).
 :- not initiatedAt(causeget(antoine,tired),5).

happensAt(take(sumit,milk),21).
#example holdsAt(causeget(sumit,thirsty),22).
 #example not holdsAt(causeget(sumit,hungry),22).
 #example not holdsAt(causeget(sumit,tired),22).
 #example not holdsAt(causeget(sumit,bored),22).
 :- not initiatedAt(causeget(sumit,thirsty),3).

