holdsAt(domain(yann,bored),1).
#example holdsAt(possiblego(yann,garden),2).
 #example not holdsAt(possiblego(yann,kitchen),2).
 #example not holdsAt(possiblego(yann,bedroom),2).
 :- not initiatedAt(possiblego(yann,garden),1).

holdsAt(domain(sumit,thirsty),1).
#example holdsAt(possiblego(sumit,kitchen),4).
 #example not holdsAt(possiblego(sumit,garden),4).
 #example not holdsAt(possiblego(sumit,bedroom),4).
 :- not initiatedAt(possiblego(sumit,kitchen),3).

happensAt(travel(yann,garden),5).
#example holdsAt(causego(yann,bored),6).
 #example not holdsAt(causego(yann,hungry),6).
 #example not holdsAt(causego(yann,thirsty),6).
 #example not holdsAt(causego(yann,tired),6).
 :- not initiatedAt(causego(yann,bored),1).

holdsAt(domain(jason,tired),1).
#example holdsAt(possiblego(jason,bedroom),8).
 #example not holdsAt(possiblego(jason,garden),8).
 #example not holdsAt(possiblego(jason,kitchen),8).
 :- not initiatedAt(possiblego(jason,bedroom),7).

happensAt(travel(sumit,kitchen),9).
#example holdsAt(causego(sumit,thirsty),10).
 #example not holdsAt(causego(sumit,hungry),10).
 #example not holdsAt(causego(sumit,tired),10).
 #example not holdsAt(causego(sumit,bored),10).
 :- not initiatedAt(causego(sumit,thirsty),3).

happensAt(take(sumit,milk),11).
#example holdsAt(causeget(sumit,thirsty),12).
 #example not holdsAt(causeget(sumit,hungry),12).
 #example not holdsAt(causeget(sumit,tired),12).
 #example not holdsAt(causeget(sumit,bored),12).
 :- not initiatedAt(causeget(sumit,thirsty),3).

holdsAt(domain(antoine,bored),1).
#example holdsAt(possiblego(antoine,garden),14).
 #example not holdsAt(possiblego(antoine,kitchen),14).
 #example not holdsAt(possiblego(antoine,bedroom),14).
 :- not initiatedAt(possiblego(antoine,garden),13).

happensAt(pickup(yann,football),15).
#example holdsAt(causeget(yann,bored),16).
 #example not holdsAt(causeget(yann,hungry),16).
 #example not holdsAt(causeget(yann,thirsty),16).
 #example not holdsAt(causeget(yann,tired),16).
 :- not initiatedAt(causeget(yann,bored),1).

happensAt(journey(antoine,garden),17).
#example holdsAt(causego(antoine,bored),18).
 #example not holdsAt(causego(antoine,hungry),18).
 #example not holdsAt(causego(antoine,thirsty),18).
 #example not holdsAt(causego(antoine,tired),18).
 :- not initiatedAt(causego(antoine,bored),13).

happensAt(goback(jason,bedroom),19).
#example holdsAt(causego(jason,tired),20).
 #example not holdsAt(causego(jason,hungry),20).
 #example not holdsAt(causego(jason,thirsty),20).
 #example not holdsAt(causego(jason,bored),20).
 :- not initiatedAt(causego(jason,tired),7).

happensAt(take(jason,pajamas),21).
#example holdsAt(causeget(jason,tired),22).
 #example not holdsAt(causeget(jason,hungry),22).
 #example not holdsAt(causeget(jason,thirsty),22).
 #example not holdsAt(causeget(jason,bored),22).
 :- not initiatedAt(causeget(jason,tired),7).

