holdsAt(domain(yann,bored),1).
#example holdsAt(possiblego(yann,garden),2).
 #example not holdsAt(possiblego(yann,kitchen),2).
 #example not holdsAt(possiblego(yann,bedroom),2).
 :- not initiatedAt(possiblego(yann,garden),1).

holdsAt(domain(jason,thirsty),1).
#example holdsAt(possiblego(jason,kitchen),4).
 #example not holdsAt(possiblego(jason,garden),4).
 #example not holdsAt(possiblego(jason,bedroom),4).
 :- not initiatedAt(possiblego(jason,kitchen),3).

happensAt(travel(jason,kitchen),5).
#example holdsAt(causego(jason,thirsty),6).
 #example not holdsAt(causego(jason,hungry),6).
 #example not holdsAt(causego(jason,tired),6).
 #example not holdsAt(causego(jason,bored),6).
 :- not initiatedAt(causego(jason,thirsty),3).

holdsAt(domain(antoine,hungry),1).
#example holdsAt(possiblego(antoine,kitchen),8).
 #example not holdsAt(possiblego(antoine,garden),8).
 #example not holdsAt(possiblego(antoine,bedroom),8).
 :- not initiatedAt(possiblego(antoine,kitchen),7).

holdsAt(domain(sumit,bored),1).
#example holdsAt(possiblego(sumit,garden),10).
 #example not holdsAt(possiblego(sumit,kitchen),10).
 #example not holdsAt(possiblego(sumit,bedroom),10).
 :- not initiatedAt(possiblego(sumit,garden),9).

happensAt(pickup(jason,milk),11).
#example holdsAt(causeget(jason,thirsty),12).
 #example not holdsAt(causeget(jason,hungry),12).
 #example not holdsAt(causeget(jason,tired),12).
 #example not holdsAt(causeget(jason,bored),12).
 :- not initiatedAt(causeget(jason,thirsty),3).

happensAt(goback(yann,garden),13).
#example holdsAt(causego(yann,bored),14).
 #example not holdsAt(causego(yann,hungry),14).
 #example not holdsAt(causego(yann,thirsty),14).
 #example not holdsAt(causego(yann,tired),14).
 :- not initiatedAt(causego(yann,bored),1).

happensAt(move(sumit,garden),15).
#example holdsAt(causego(sumit,bored),16).
 #example not holdsAt(causego(sumit,hungry),16).
 #example not holdsAt(causego(sumit,thirsty),16).
 #example not holdsAt(causego(sumit,tired),16).
 :- not initiatedAt(causego(sumit,bored),9).

happensAt(grab(yann,football),17).
#example holdsAt(causeget(yann,bored),18).
 #example not holdsAt(causeget(yann,hungry),18).
 #example not holdsAt(causeget(yann,thirsty),18).
 #example not holdsAt(causeget(yann,tired),18).
 :- not initiatedAt(causeget(yann,bored),1).

happensAt(move(antoine,kitchen),19).
#example holdsAt(causego(antoine,hungry),20).
 #example not holdsAt(causego(antoine,thirsty),20).
 #example not holdsAt(causego(antoine,tired),20).
 #example not holdsAt(causego(antoine,bored),20).
 :- not initiatedAt(causego(antoine,hungry),7).

happensAt(take(antoine,apple),21).
#example holdsAt(causeget(antoine,hungry),22).
 #example not holdsAt(causeget(antoine,thirsty),22).
 #example not holdsAt(causeget(antoine,tired),22).
 #example not holdsAt(causeget(antoine,bored),22).
 :- not initiatedAt(causeget(antoine,hungry),7).

