holdsAt(domain(yann,thirsty),1).
#example holdsAt(possiblego(yann,kitchen),2).
 #example not holdsAt(possiblego(yann,garden),2).
 #example not holdsAt(possiblego(yann,bedroom),2).
 :- not initiatedAt(possiblego(yann,kitchen),1).

holdsAt(domain(antoine,tired),1).
#example holdsAt(possiblego(antoine,bedroom),4).
 #example not holdsAt(possiblego(antoine,garden),4).
 #example not holdsAt(possiblego(antoine,kitchen),4).
 :- not initiatedAt(possiblego(antoine,bedroom),3).

happensAt(journey(antoine,bedroom),5).
#example holdsAt(causego(antoine,tired),6).
 #example not holdsAt(causego(antoine,hungry),6).
 #example not holdsAt(causego(antoine,thirsty),6).
 #example not holdsAt(causego(antoine,bored),6).
 :- not initiatedAt(causego(antoine,tired),3).

holdsAt(domain(jason,hungry),1).
#example holdsAt(possiblego(jason,kitchen),8).
 #example not holdsAt(possiblego(jason,garden),8).
 #example not holdsAt(possiblego(jason,bedroom),8).
 :- not initiatedAt(possiblego(jason,kitchen),7).

holdsAt(domain(sumit,tired),1).
#example holdsAt(possiblego(sumit,bedroom),10).
 #example not holdsAt(possiblego(sumit,garden),10).
 #example not holdsAt(possiblego(sumit,kitchen),10).
 :- not initiatedAt(possiblego(sumit,bedroom),9).

happensAt(pickup(antoine,pajamas),11).
#example holdsAt(causeget(antoine,tired),12).
 #example not holdsAt(causeget(antoine,hungry),12).
 #example not holdsAt(causeget(antoine,thirsty),12).
 #example not holdsAt(causeget(antoine,bored),12).
 :- not initiatedAt(causeget(antoine,tired),3).

happensAt(journey(jason,kitchen),13).
#example holdsAt(causego(jason,hungry),14).
 #example not holdsAt(causego(jason,thirsty),14).
 #example not holdsAt(causego(jason,tired),14).
 #example not holdsAt(causego(jason,bored),14).
 :- not initiatedAt(causego(jason,hungry),7).

happensAt(journey(yann,kitchen),15).
#example holdsAt(causego(yann,thirsty),16).
 #example not holdsAt(causego(yann,hungry),16).
 #example not holdsAt(causego(yann,tired),16).
 #example not holdsAt(causego(yann,bored),16).
 :- not initiatedAt(causego(yann,thirsty),1).

happensAt(journey(sumit,bedroom),17).
#example holdsAt(causego(sumit,tired),18).
 #example not holdsAt(causego(sumit,hungry),18).
 #example not holdsAt(causego(sumit,thirsty),18).
 #example not holdsAt(causego(sumit,bored),18).
 :- not initiatedAt(causego(sumit,tired),9).

happensAt(take(yann,milk),19).
#example holdsAt(causeget(yann,thirsty),20).
 #example not holdsAt(causeget(yann,hungry),20).
 #example not holdsAt(causeget(yann,tired),20).
 #example not holdsAt(causeget(yann,bored),20).
 :- not initiatedAt(causeget(yann,thirsty),1).

happensAt(take(jason,apple),21).
#example holdsAt(causeget(jason,hungry),22).
 #example not holdsAt(causeget(jason,thirsty),22).
 #example not holdsAt(causeget(jason,tired),22).
 #example not holdsAt(causeget(jason,bored),22).
 :- not initiatedAt(causeget(jason,hungry),7).

