holdsAt(domain(jason,bored),1).
#example holdsAt(possiblego(jason,garden),2).
 #example not holdsAt(possiblego(jason,kitchen),2).
 #example not holdsAt(possiblego(jason,bedroom),2).
 :- not initiatedAt(possiblego(jason,garden),1).

holdsAt(domain(yann,tired),1).
#example holdsAt(possiblego(yann,bedroom),4).
 #example not holdsAt(possiblego(yann,garden),4).
 #example not holdsAt(possiblego(yann,kitchen),4).
 :- not initiatedAt(possiblego(yann,bedroom),3).

happensAt(goback(jason,garden),5).
#example holdsAt(causego(jason,bored),6).
 #example not holdsAt(causego(jason,hungry),6).
 #example not holdsAt(causego(jason,thirsty),6).
 #example not holdsAt(causego(jason,tired),6).
 :- not initiatedAt(causego(jason,bored),1).

happensAt(pickup(jason,football),7).
#example holdsAt(causeget(jason,bored),8).
 #example not holdsAt(causeget(jason,hungry),8).
 #example not holdsAt(causeget(jason,thirsty),8).
 #example not holdsAt(causeget(jason,tired),8).
 :- not initiatedAt(causeget(jason,bored),1).

holdsAt(domain(sumit,tired),1).
#example holdsAt(possiblego(sumit,bedroom),10).
 #example not holdsAt(possiblego(sumit,garden),10).
 #example not holdsAt(possiblego(sumit,kitchen),10).
 :- not initiatedAt(possiblego(sumit,bedroom),9).

happensAt(journey(sumit,bedroom),11).
#example holdsAt(causego(sumit,tired),12).
 #example not holdsAt(causego(sumit,hungry),12).
 #example not holdsAt(causego(sumit,thirsty),12).
 #example not holdsAt(causego(sumit,bored),12).
 :- not initiatedAt(causego(sumit,tired),9).

happensAt(pickup(sumit,pajamas),13).
#example holdsAt(causeget(sumit,tired),14).
 #example not holdsAt(causeget(sumit,hungry),14).
 #example not holdsAt(causeget(sumit,thirsty),14).
 #example not holdsAt(causeget(sumit,bored),14).
 :- not initiatedAt(causeget(sumit,tired),9).

happensAt(go(yann,bedroom),15).
#example holdsAt(causego(yann,tired),16).
 #example not holdsAt(causego(yann,hungry),16).
 #example not holdsAt(causego(yann,thirsty),16).
 #example not holdsAt(causego(yann,bored),16).
 :- not initiatedAt(causego(yann,tired),3).

holdsAt(domain(antoine,hungry),1).
#example holdsAt(possiblego(antoine,kitchen),18).
 #example not holdsAt(possiblego(antoine,garden),18).
 #example not holdsAt(possiblego(antoine,bedroom),18).
 :- not initiatedAt(possiblego(antoine,kitchen),17).

happensAt(move(antoine,kitchen),19).
#example holdsAt(causego(antoine,hungry),20).
 #example not holdsAt(causego(antoine,thirsty),20).
 #example not holdsAt(causego(antoine,tired),20).
 #example not holdsAt(causego(antoine,bored),20).
 :- not initiatedAt(causego(antoine,hungry),17).

happensAt(pickup(antoine,apple),21).
#example holdsAt(causeget(antoine,hungry),22).
 #example not holdsAt(causeget(antoine,thirsty),22).
 #example not holdsAt(causeget(antoine,tired),22).
 #example not holdsAt(causeget(antoine,bored),22).
 :- not initiatedAt(causeget(antoine,hungry),17).

