holdsAt(domain(jason,hungry),1).
#example holdsAt(possiblego(jason,kitchen),2).
 #example not holdsAt(possiblego(jason,garden),2).
 #example not holdsAt(possiblego(jason,bedroom),2).
 :- not initiatedAt(possiblego(jason,kitchen),1).

holdsAt(domain(yann,tired),1).
#example holdsAt(possiblego(yann,bedroom),4).
 #example not holdsAt(possiblego(yann,garden),4).
 #example not holdsAt(possiblego(yann,kitchen),4).
 :- not initiatedAt(possiblego(yann,bedroom),3).

happensAt(go(jason,kitchen),5).
#example holdsAt(causego(jason,hungry),6).
 #example not holdsAt(causego(jason,thirsty),6).
 #example not holdsAt(causego(jason,tired),6).
 #example not holdsAt(causego(jason,bored),6).
 :- not initiatedAt(causego(jason,hungry),1).

holdsAt(domain(antoine,bored),1).
#example holdsAt(possiblego(antoine,garden),8).
 #example not holdsAt(possiblego(antoine,kitchen),8).
 #example not holdsAt(possiblego(antoine,bedroom),8).
 :- not initiatedAt(possiblego(antoine,garden),7).

holdsAt(domain(sumit,thirsty),1).
#example holdsAt(possiblego(sumit,kitchen),10).
 #example not holdsAt(possiblego(sumit,garden),10).
 #example not holdsAt(possiblego(sumit,bedroom),10).
 :- not initiatedAt(possiblego(sumit,kitchen),9).

happensAt(go(sumit,kitchen),11).
#example holdsAt(causego(sumit,thirsty),12).
 #example not holdsAt(causego(sumit,hungry),12).
 #example not holdsAt(causego(sumit,tired),12).
 #example not holdsAt(causego(sumit,bored),12).
 :- not initiatedAt(causego(sumit,thirsty),9).

happensAt(get(jason,apple),13).
#example holdsAt(causeget(jason,hungry),14).
 #example not holdsAt(causeget(jason,thirsty),14).
 #example not holdsAt(causeget(jason,tired),14).
 #example not holdsAt(causeget(jason,bored),14).
 :- not initiatedAt(causeget(jason,hungry),1).

happensAt(go(antoine,garden),15).
#example holdsAt(causego(antoine,bored),16).
 #example not holdsAt(causego(antoine,hungry),16).
 #example not holdsAt(causego(antoine,thirsty),16).
 #example not holdsAt(causego(antoine,tired),16).
 :- not initiatedAt(causego(antoine,bored),7).

happensAt(get(sumit,milk),17).
#example holdsAt(causeget(sumit,thirsty),18).
 #example not holdsAt(causeget(sumit,hungry),18).
 #example not holdsAt(causeget(sumit,tired),18).
 #example not holdsAt(causeget(sumit,bored),18).
 :- not initiatedAt(causeget(sumit,thirsty),9).

happensAt(grab(antoine,football),19).
#example holdsAt(causeget(antoine,bored),20).
 #example not holdsAt(causeget(antoine,hungry),20).
 #example not holdsAt(causeget(antoine,thirsty),20).
 #example not holdsAt(causeget(antoine,tired),20).
 :- not initiatedAt(causeget(antoine,bored),7).

happensAt(goback(yann,bedroom),21).
#example holdsAt(causego(yann,tired),22).
 #example not holdsAt(causego(yann,hungry),22).
 #example not holdsAt(causego(yann,thirsty),22).
 #example not holdsAt(causego(yann,bored),22).
 :- not initiatedAt(causego(yann,tired),3).

happensAt(pickup(yann,pajamas),23).
#example holdsAt(causeget(yann,tired),24).
 #example not holdsAt(causeget(yann,hungry),24).
 #example not holdsAt(causeget(yann,thirsty),24).
 #example not holdsAt(causeget(yann,bored),24).
 :- not initiatedAt(causeget(yann,tired),3).

