happensAt(goback(mary,cinema),1).
happensAt(go(mary,bedroom),2).

#example holdsAt(location(mary,bedroom),3).
#example not mayholdsAt(location(mary,bedroom),3).
#example not holdsAt(location(mary,bedroom),2).
:- not mterminatedAt(location(mary,bedroom),2).
:- not initiatedAt(location(mary,bedroom),2).
:- not terminatedAt(location(mary,dummy),2).
happensAt(goback(julie,school),4).
observed(location(fred,office),5).

#example holdsAt(location(mary,bedroom),6).
#example not mayholdsAt(location(mary,bedroom),6).
#example not holdsAt(location(mary,bedroom),2).
:- not mterminatedAt(location(mary,bedroom),2).
:- not initiatedAt(location(mary,bedroom),2).
:- not terminatedAt(location(mary,dummy),2).
observed(location(mary,grid7),7).
orgroup(grid7,school).
orgroup(grid7,cinema).
id(grid7).

observed(location(bill,grid8),8).
orgroup(grid8,office).
orgroup(grid8,bedroom).
id(grid8).


#example not mayholdsAt(location(julie,office),9).
#example not holdsAt(location(julie,office),9).
:- not terminatedAt(location(julie,office),4).
:- not mterminatedAt(location(julie,office),4).
happensAt(go(mary,park),10).
happensAt(journey(fred,park),11).

#example not mayholdsAt(location(mary,kitchen),12).
#example not holdsAt(location(mary,kitchen),12).
:- not terminatedAt(location(mary,kitchen),10).
:- not mterminatedAt(location(mary,kitchen),10).
observed(location(julie,bedroom),13).
happensAt(go(fred,bedroom),14).

#example holdsAt(location(mary,park),15).
#example not mayholdsAt(location(mary,park),15).
#example not holdsAt(location(mary,park),10).
:- not mterminatedAt(location(mary,park),10).
:- not initiatedAt(location(mary,park),10).
:- not terminatedAt(location(mary,dummy),10).
