happensAt(travel(julie,cinema),1).
observed(location(mary,grid2),2).
orgroup(grid2,cinema).
orgroup(grid2,bedroom).
id(grid2).


#example mayholdsAt(location(mary,bedroom),3).
:- not minitiatedAt(location(mary,bedroom),2).
:- not terminatedAt(location(mary,bedroom),2).
happensAt(goback(mary,office),4).
happensAt(journey(julie,bedroom),5).

#example not mayholdsAt(location(julie,cinema),6).
#example not holdsAt(location(julie,cinema),6).
:- not terminatedAt(location(julie,cinema),5).
:- not mterminatedAt(location(julie,cinema),5).
observed(location(julie,grid7),7).
orgroup(grid7,cinema).
orgroup(grid7,kitchen).
id(grid7).

happensAt(journey(bill,bedroom),8).

#example holdsAt(location(mary,office),9).
#example not mayholdsAt(location(mary,office),9).
#example not holdsAt(location(mary,office),4).
:- not mterminatedAt(location(mary,office),4).
:- not initiatedAt(location(mary,office),4).
:- not terminatedAt(location(mary,dummy),4).
happensAt(goback(bill,cinema),10).
happensAt(move(bill,kitchen),11).

#example holdsAt(location(bill,kitchen),12).
#example not mayholdsAt(location(bill,kitchen),12).
#example not holdsAt(location(bill,kitchen),11).
:- not mterminatedAt(location(bill,kitchen),11).
:- not initiatedAt(location(bill,kitchen),11).
:- not terminatedAt(location(bill,dummy),11).
observed(location(mary,cinema),13).
observed(location(julie,office),14).

#example holdsAt(location(bill,kitchen),15).
#example not mayholdsAt(location(bill,kitchen),15).
#example not holdsAt(location(bill,kitchen),11).
:- not mterminatedAt(location(bill,kitchen),11).
:- not initiatedAt(location(bill,kitchen),11).
:- not terminatedAt(location(bill,dummy),11).
