observed(location(fred,office),1).
happensAt(travel(mary,kitchen),2).

#example holdsAt(location(fred,office),3).
#example not mayholdsAt(location(fred,office),3).
#example not holdsAt(location(fred,office),1).
:- not mterminatedAt(location(fred,office),1).
:- not initiatedAt(location(fred,office),1).
:- not terminatedAt(location(fred,dummy),1).
happensAt(goback(julie,office),4).
happensAt(goback(fred,kitchen),5).

#example holdsAt(location(fred,kitchen),6).
#example not mayholdsAt(location(fred,kitchen),6).
#example not holdsAt(location(fred,kitchen),5).
:- not mterminatedAt(location(fred,kitchen),5).
:- not initiatedAt(location(fred,kitchen),5).
:- not terminatedAt(location(fred,dummy),5).
observed(location(fred,grid7),7).
orgroup(grid7,cinema).
orgroup(grid7,office).
id(grid7).

happensAt(move(julie,kitchen),8).

#example mayholdsAt(location(fred,cinema),9).
:- not minitiatedAt(location(fred,cinema),7).
:- not terminatedAt(location(fred,cinema),7).
observed(location(mary,grid10),10).
orgroup(grid10,cinema).
orgroup(grid10,office).
id(grid10).

happensAt(go(mary,office),11).

#example not mayholdsAt(location(fred,park),12).
#example not holdsAt(location(fred,park),12).
:- not terminatedAt(location(fred,park),7).
:- not mterminatedAt(location(fred,park),7).
happensAt(go(mary,bedroom),13).
observed(location(fred,office),14).

#example holdsAt(location(mary,bedroom),15).
#example not mayholdsAt(location(mary,bedroom),15).
#example not holdsAt(location(mary,bedroom),13).
:- not mterminatedAt(location(mary,bedroom),13).
:- not initiatedAt(location(mary,bedroom),13).
:- not terminatedAt(location(mary,dummy),13).
