happensAt(move(fred,office),1).
observed(location(julie,bedroom),2).

#example holdsAt(location(julie,bedroom),3).
#example not mayholdsAt(location(julie,bedroom),3).
#example not holdsAt(location(julie,bedroom),2).
:- not mterminatedAt(location(julie,bedroom),2).
:- not initiatedAt(location(julie,bedroom),2).
:- not terminatedAt(location(julie,dummy),2).
observed(location(mary,grid4),4).
orgroup(grid4,office).
orgroup(grid4,kitchen).
id(grid4).

happensAt(goback(julie,school),5).

#example not mayholdsAt(location(julie,kitchen),6).
#example not holdsAt(location(julie,kitchen),6).
:- not terminatedAt(location(julie,kitchen),5).
:- not mterminatedAt(location(julie,kitchen),5).
observed(location(julie,office),7).
happensAt(go(bill,kitchen),8).

#example holdsAt(location(julie,office),9).
#example not mayholdsAt(location(julie,office),9).
#example not holdsAt(location(julie,office),7).
:- not mterminatedAt(location(julie,office),7).
:- not initiatedAt(location(julie,office),7).
:- not terminatedAt(location(julie,dummy),7).
happensAt(goback(fred,school),10).
happensAt(journey(julie,park),11).

#example holdsAt(location(julie,park),12).
#example not mayholdsAt(location(julie,park),12).
#example not holdsAt(location(julie,park),11).
:- not mterminatedAt(location(julie,park),11).
:- not initiatedAt(location(julie,park),11).
:- not terminatedAt(location(julie,dummy),11).
happensAt(goback(mary,kitchen),13).
observed(location(bill,office),14).

#example holdsAt(location(julie,park),15).
#example not mayholdsAt(location(julie,park),15).
#example not holdsAt(location(julie,park),11).
:- not mterminatedAt(location(julie,park),11).
:- not initiatedAt(location(julie,park),11).
:- not terminatedAt(location(julie,dummy),11).
