happensAt(move(bill,office),1).
observed(location(julie,school),2).

#example not mayholdsAt(location(julie,park),3).
#example not holdsAt(location(julie,park),3).
:- not terminatedAt(location(julie,park),2).
:- not mterminatedAt(location(julie,park),2).
observed(location(mary,school),4).
happensAt(goback(mary,park),5).

#example not mayholdsAt(location(mary,bedroom),6).
#example not holdsAt(location(mary,bedroom),6).
:- not terminatedAt(location(mary,bedroom),5).
:- not mterminatedAt(location(mary,bedroom),5).
observed(location(fred,bedroom),7).
happensAt(goback(mary,office),8).

#example not mayholdsAt(location(mary,kitchen),9).
#example not holdsAt(location(mary,kitchen),9).
:- not terminatedAt(location(mary,kitchen),8).
:- not mterminatedAt(location(mary,kitchen),8).
happensAt(goback(mary,park),10).
happensAt(journey(mary,office),11).

#example holdsAt(location(mary,office),12).
#example not mayholdsAt(location(mary,office),12).
#example not holdsAt(location(mary,office),11).
:- not mterminatedAt(location(mary,office),11).
:- not initiatedAt(location(mary,office),11).
:- not terminatedAt(location(mary,dummy),11).
observed(location(bill,grid13),13).
orgroup(grid13,school).
orgroup(grid13,kitchen).
id(grid13).

happensAt(go(bill,cinema),14).

#example not mayholdsAt(location(mary,bedroom),15).
#example not holdsAt(location(mary,bedroom),15).
:- not terminatedAt(location(mary,bedroom),11).
:- not mterminatedAt(location(mary,bedroom),11).
