happensAt(go(fred,kitchen),1).
observed(location(mary,school),2).

#example not mayholdsAt(location(mary,bedroom),3).
#example not holdsAt(location(mary,bedroom),3).
:- not terminatedAt(location(mary,bedroom),2).
:- not mterminatedAt(location(mary,bedroom),2).
happensAt(move(julie,park),4).
happensAt(move(bill,school),5).

#example not mayholdsAt(location(bill,kitchen),6).
#example not holdsAt(location(bill,kitchen),6).
:- not terminatedAt(location(bill,kitchen),5).
:- not mterminatedAt(location(bill,kitchen),5).
observed(location(mary,office),7).
happensAt(go(fred,bedroom),8).

#example not mayholdsAt(location(julie,office),9).
#example not holdsAt(location(julie,office),9).
:- not terminatedAt(location(julie,office),4).
:- not mterminatedAt(location(julie,office),4).
observed(location(julie,grid10),10).
orgroup(grid10,office).
orgroup(grid10,park).
id(grid10).

happensAt(goback(julie,park),11).

#example holdsAt(location(fred,bedroom),12).
#example not mayholdsAt(location(fred,bedroom),12).
#example not holdsAt(location(fred,bedroom),8).
:- not mterminatedAt(location(fred,bedroom),8).
:- not initiatedAt(location(fred,bedroom),8).
:- not terminatedAt(location(fred,dummy),8).
observed(location(bill,cinema),13).
observed(location(fred,grid14),14).
orgroup(grid14,office).
orgroup(grid14,kitchen).
id(grid14).


#example holdsAt(location(julie,park),15).
#example not mayholdsAt(location(julie,park),15).
#example not holdsAt(location(julie,park),11).
:- not mterminatedAt(location(julie,park),11).
:- not initiatedAt(location(julie,park),11).
:- not terminatedAt(location(julie,dummy),11).
