happensAt(move(mary,park),1).
happensAt(goback(mary,cinema),2).

#example not mayholdsAt(location(mary,bedroom),3).
#example not holdsAt(location(mary,bedroom),3).
:- not terminatedAt(location(mary,bedroom),2).
:- not mterminatedAt(location(mary,bedroom),2).
happensAt(travel(julie,cinema),4).
happensAt(journey(fred,cinema),5).

#example holdsAt(location(fred,cinema),6).
#example not mayholdsAt(location(fred,cinema),6).
#example not holdsAt(location(fred,cinema),5).
:- not mterminatedAt(location(fred,cinema),5).
:- not initiatedAt(location(fred,cinema),5).
:- not terminatedAt(location(fred,dummy),5).
happensAt(journey(julie,office),7).
happensAt(go(bill,park),8).

#example not mayholdsAt(location(julie,cinema),9).
#example not holdsAt(location(julie,cinema),9).
:- not terminatedAt(location(julie,cinema),7).
:- not mterminatedAt(location(julie,cinema),7).
observed(location(fred,grid10),10).
orgroup(grid10,office).
orgroup(grid10,bedroom).
id(grid10).

happensAt(go(julie,kitchen),11).

#example holdsAt(location(julie,kitchen),12).
#example not mayholdsAt(location(julie,kitchen),12).
#example not holdsAt(location(julie,kitchen),11).
:- not mterminatedAt(location(julie,kitchen),11).
:- not initiatedAt(location(julie,kitchen),11).
:- not terminatedAt(location(julie,dummy),11).
happensAt(go(fred,kitchen),13).
happensAt(move(mary,park),14).

#example holdsAt(location(mary,park),15).
#example not mayholdsAt(location(mary,park),15).
#example not holdsAt(location(mary,park),14).
:- not mterminatedAt(location(mary,park),14).
:- not initiatedAt(location(mary,park),14).
:- not terminatedAt(location(mary,dummy),14).
