happensAt(journey(mary,school),1).
observed(location(fred,school),2).

#example holdsAt(location(mary,school),3).
#example not mayholdsAt(location(mary,school),3).
#example not holdsAt(location(mary,school),1).
:- not mterminatedAt(location(mary,school),1).
:- not initiatedAt(location(mary,school),1).
:- not terminatedAt(location(mary,dummy),1).
happensAt(go(mary,office),4).
happensAt(go(fred,kitchen),5).

#example not mayholdsAt(location(mary,park),6).
#example not holdsAt(location(mary,park),6).
:- not terminatedAt(location(mary,park),4).
:- not mterminatedAt(location(mary,park),4).
observed(location(julie,grid7),7).
orgroup(grid7,school).
orgroup(grid7,park).
id(grid7).

observed(location(mary,bedroom),8).

#example not mayholdsAt(location(julie,kitchen),9).
#example not holdsAt(location(julie,kitchen),9).
:- not terminatedAt(location(julie,kitchen),7).
:- not mterminatedAt(location(julie,kitchen),7).
observed(location(mary,grid10),10).
orgroup(grid10,office).
id(grid10).

happensAt(go(fred,office),11).

#example mayholdsAt(location(julie,school),12).
:- not minitiatedAt(location(julie,school),7).
:- not terminatedAt(location(julie,school),7).
observed(location(fred,grid13),13).
orgroup(grid13,school).
orgroup(grid13,bedroom).
id(grid13).

observed(location(julie,park),14).

#example mayholdsAt(location(mary,office),15).
:- not minitiatedAt(location(mary,office),10).
:- not terminatedAt(location(mary,office),10).
