observed(location(bill,grid1),1).
orgroup(grid1,school).
orgroup(grid1,park).
id(grid1).

observed(location(julie,grid2),2).
orgroup(grid2,bedroom).
id(grid2).


#example not mayholdsAt(location(julie,cinema),3).
#example not holdsAt(location(julie,cinema),3).
:- not terminatedAt(location(julie,cinema),2).
:- not mterminatedAt(location(julie,cinema),2).
happensAt(go(julie,school),4).
happensAt(travel(mary,office),5).

#example not mayholdsAt(location(mary,cinema),6).
#example not holdsAt(location(mary,cinema),6).
:- not terminatedAt(location(mary,cinema),5).
:- not mterminatedAt(location(mary,cinema),5).
observed(location(julie,grid7),7).
orgroup(grid7,cinema).
orgroup(grid7,park).
id(grid7).

happensAt(travel(mary,school),8).

#example holdsAt(location(mary,school),9).
#example not mayholdsAt(location(mary,school),9).
#example not holdsAt(location(mary,school),8).
:- not mterminatedAt(location(mary,school),8).
:- not initiatedAt(location(mary,school),8).
:- not terminatedAt(location(mary,dummy),8).
observed(location(bill,office),10).
observed(location(julie,grid11),11).
orgroup(grid11,school).
id(grid11).


#example holdsAt(location(mary,school),12).
#example not mayholdsAt(location(mary,school),12).
#example not holdsAt(location(mary,school),8).
:- not mterminatedAt(location(mary,school),8).
:- not initiatedAt(location(mary,school),8).
:- not terminatedAt(location(mary,dummy),8).
happensAt(travel(bill,park),13).
observed(location(bill,office),14).

#example holdsAt(location(bill,office),15).
#example not mayholdsAt(location(bill,office),15).
#example not holdsAt(location(bill,office),14).
:- not mterminatedAt(location(bill,office),14).
:- not initiatedAt(location(bill,office),14).
:- not terminatedAt(location(bill,dummy),14).
