happensAt(travel(fred,cinema),1).
observed(location(bill,grid2),2).
orgroup(grid2,kitchen).
orgroup(grid2,bedroom).
id(grid2).


#example mayholdsAt(location(bill,kitchen),3).
:- not minitiatedAt(location(bill,kitchen),2).
:- not terminatedAt(location(bill,kitchen),2).
observed(location(bill,grid4),4).
orgroup(grid4,office).
orgroup(grid4,bedroom).
id(grid4).

observed(location(julie,school),5).

#example not mayholdsAt(location(julie,park),6).
#example not holdsAt(location(julie,park),6).
:- not terminatedAt(location(julie,park),5).
:- not mterminatedAt(location(julie,park),5).
observed(location(bill,grid7),7).
orgroup(grid7,kitchen).
orgroup(grid7,park).
id(grid7).

happensAt(move(bill,office),8).

#example holdsAt(location(bill,office),9).
#example not mayholdsAt(location(bill,office),9).
#example not holdsAt(location(bill,office),8).
:- not mterminatedAt(location(bill,office),8).
:- not initiatedAt(location(bill,office),8).
:- not terminatedAt(location(bill,dummy),8).
happensAt(goback(julie,park),10).
observed(location(fred,grid11),11).
orgroup(grid11,bedroom).
id(grid11).


#example not mayholdsAt(location(julie,cinema),12).
#example not holdsAt(location(julie,cinema),12).
:- not terminatedAt(location(julie,cinema),10).
:- not mterminatedAt(location(julie,cinema),10).
observed(location(fred,grid13),13).
orgroup(grid13,cinema).
id(grid13).

happensAt(travel(bill,park),14).

#example holdsAt(location(bill,park),15).
#example not mayholdsAt(location(bill,park),15).
#example not holdsAt(location(bill,park),14).
:- not mterminatedAt(location(bill,park),14).
:- not initiatedAt(location(bill,park),14).
:- not terminatedAt(location(bill,dummy),14).
