happensAt(move(mary,cinema),1).
happensAt(move(fred,office),2).

#example not mayholdsAt(location(fred,kitchen),3).
#example not holdsAt(location(fred,kitchen),3).
:- not terminatedAt(location(fred,kitchen),2).
:- not mterminatedAt(location(fred,kitchen),2).
happensAt(go(bill,office),4).
happensAt(go(mary,bedroom),5).

#example holdsAt(location(mary,bedroom),6).
#example not mayholdsAt(location(mary,bedroom),6).
#example not holdsAt(location(mary,bedroom),5).
:- not mterminatedAt(location(mary,bedroom),5).
:- not initiatedAt(location(mary,bedroom),5).
:- not terminatedAt(location(mary,dummy),5).
happensAt(travel(julie,cinema),7).
observed(location(julie,grid8),8).
orgroup(grid8,kitchen).
orgroup(grid8,bedroom).
id(grid8).


#example not mayholdsAt(location(fred,park),9).
#example not holdsAt(location(fred,park),9).
:- not terminatedAt(location(fred,park),2).
:- not mterminatedAt(location(fred,park),2).
happensAt(goback(mary,cinema),10).
happensAt(goback(bill,cinema),11).

#example mayholdsAt(location(julie,bedroom),12).
:- not minitiatedAt(location(julie,bedroom),8).
:- not terminatedAt(location(julie,bedroom),8).
observed(location(julie,cinema),13).
observed(location(julie,bedroom),14).

#example not mayholdsAt(location(julie,cinema),15).
#example not holdsAt(location(julie,cinema),15).
:- not terminatedAt(location(julie,cinema),14).
:- not mterminatedAt(location(julie,cinema),14).
