happensAt(journey(fred,office),1).
observed(location(mary,grid2),2).
orgroup(grid2,cinema).
orgroup(grid2,office).
id(grid2).


#example mayholdsAt(location(mary,office),3).
:- not minitiatedAt(location(mary,office),2).
:- not terminatedAt(location(mary,office),2).
happensAt(go(julie,bedroom),4).
observed(location(fred,grid5),5).
orgroup(grid5,school).
orgroup(grid5,kitchen).
id(grid5).


#example not mayholdsAt(location(fred,cinema),6).
#example not holdsAt(location(fred,cinema),6).
:- not terminatedAt(location(fred,cinema),5).
:- not mterminatedAt(location(fred,cinema),5).
happensAt(go(fred,cinema),7).
observed(location(fred,office),8).

#example holdsAt(location(fred,office),9).
#example not mayholdsAt(location(fred,office),9).
#example not holdsAt(location(fred,office),8).
:- not mterminatedAt(location(fred,office),8).
:- not initiatedAt(location(fred,office),8).
:- not terminatedAt(location(fred,dummy),8).
observed(location(mary,grid10),10).
orgroup(grid10,cinema).
orgroup(grid10,office).
id(grid10).

happensAt(journey(fred,kitchen),11).

#example mayholdsAt(location(mary,cinema),12).
:- not minitiatedAt(location(mary,cinema),10).
:- not terminatedAt(location(mary,cinema),10).
observed(location(fred,park),13).
happensAt(journey(mary,bedroom),14).

#example not mayholdsAt(location(fred,office),15).
#example not holdsAt(location(fred,office),15).
:- not terminatedAt(location(fred,office),13).
:- not mterminatedAt(location(fred,office),13).
