observed(location(julie,park),1).
observed(location(mary,grid2),2).
orgroup(grid2,kitchen).
id(grid2).


#example mayholdsAt(location(mary,kitchen),3).
:- not minitiatedAt(location(mary,kitchen),2).
:- not terminatedAt(location(mary,kitchen),2).
observed(location(mary,bedroom),4).
observed(location(mary,kitchen),5).

#example not mayholdsAt(location(mary,school),6).
#example not holdsAt(location(mary,school),6).
:- not terminatedAt(location(mary,school),5).
:- not mterminatedAt(location(mary,school),5).
happensAt(move(bill,kitchen),7).
observed(location(bill,grid8),8).
orgroup(grid8,office).
orgroup(grid8,park).
id(grid8).


#example not mayholdsAt(location(bill,kitchen),9).
#example not holdsAt(location(bill,kitchen),9).
:- not terminatedAt(location(bill,kitchen),8).
:- not mterminatedAt(location(bill,kitchen),8).
happensAt(travel(julie,kitchen),10).
happensAt(go(mary,cinema),11).

#example not mayholdsAt(location(julie,bedroom),12).
#example not holdsAt(location(julie,bedroom),12).
:- not terminatedAt(location(julie,bedroom),10).
:- not mterminatedAt(location(julie,bedroom),10).
happensAt(journey(fred,bedroom),13).
happensAt(journey(fred,cinema),14).

#example not mayholdsAt(location(julie,cinema),15).
#example not holdsAt(location(julie,cinema),15).
:- not terminatedAt(location(julie,cinema),10).
:- not mterminatedAt(location(julie,cinema),10).
