happensAt(goback(john,bedroom),1).
happensAt(go(mary,bathroom),2).
answer(id3,yes):- holdsAt(location(mary,bedroom),3), not holdsAt(location(mary,X),3),X!=bedroom,arg2(X).
answer(id3,no):-not answer(id3,yes).
#example answer(id3,no).
:- not terminatedAt(location(mary,bedroom),2).
nobserved(location(daniel,kitchen),4).
happensAt(journey(mary,office),5).
answer(id6,yes):- holdsAt(location(daniel,kitchen),6), not holdsAt(location(daniel,X),6),X!=kitchen,arg2(X).
answer(id6,no):-not answer(id6,yes).
#example answer(id6,no).
:- not terminatedAt(location(daniel,kitchen),4).
nobserved(location(mary,office),7).
nobserved(location(sandra,hallway),8).
answer(id9,yes):- holdsAt(location(mary,office),9), not holdsAt(location(mary,X),9),X!=office,arg2(X).
answer(id9,no):-not answer(id9,yes).
#example answer(id9,no).
:- not terminatedAt(location(mary,office),7).
happensAt(goback(john,kitchen),10).
nobserved(location(sandra,office),11).
answer(id12,yes):- holdsAt(location(john,kitchen),12), not holdsAt(location(john,X),12),X!=kitchen,arg2(X).
answer(id12,no):-not answer(id12,yes).
#example answer(id12,yes).
happensAt(move(daniel,kitchen),13).
nobserved(location(daniel,kitchen),14).
answer(id15,yes):- holdsAt(location(daniel,kitchen),15), not holdsAt(location(daniel,X),15),X!=kitchen,arg2(X).
answer(id15,no):-not answer(id15,yes).
#example answer(id15,no).
:- not terminatedAt(location(daniel,kitchen),14).
