happensAt(travel(daniel,garden),1).
happensAt(goback(john,bathroom),2).
answer(id3,yes):- holdsAt(location(daniel,hallway),3), not holdsAt(location(daniel,X),3),X!=hallway,arg2(X).
answer(id3,no):-not answer(id3,yes).
#example answer(id3,no).
:- not terminatedAt(location(daniel,hallway),1).
nobserved(location(mary,kitchen),4).
observed(location(sandra,garden),5).
answer(id6,yes):- holdsAt(location(sandra,garden),6), not holdsAt(location(sandra,X),6),X!=garden,arg2(X).
answer(id6,no):-not answer(id6,yes).
#example answer(id6,yes).
happensAt(move(daniel,bedroom),7).
happensAt(travel(john,garden),8).
answer(id9,yes):- holdsAt(location(john,garden),9), not holdsAt(location(john,X),9),X!=garden,arg2(X).
answer(id9,no):-not answer(id9,yes).
#example answer(id9,yes).
nobserved(location(sandra,garden),10).
nobserved(location(sandra,office),11).
answer(id12,yes):- holdsAt(location(sandra,office),12), not holdsAt(location(sandra,X),12),X!=office,arg2(X).
answer(id12,no):-not answer(id12,yes).
#example answer(id12,no).
:- not terminatedAt(location(sandra,office),11).
nobserved(location(sandra,hallway),13).
happensAt(journey(sandra,garden),14).
answer(id15,yes):- holdsAt(location(sandra,garden),15), not holdsAt(location(sandra,X),15),X!=garden,arg2(X).
answer(id15,no):-not answer(id15,yes).
#example answer(id15,yes).
